.container-fluid {
	background-color: rgb(249, 250, 252);
	width: 100vw;
	height: 100vh;
}

.container {
	background-color: white;
	box-shadow: 0px, 0px, 5px, rgb(40, 40, 41, 0.7);
	padding: 2vh;
}

.approved {
	background-color: rgb(169, 216, 122);
}

img {
	height: 15vh;
	width: 15vw;
	float: left;
	margin-right: 4vw;
}

button {
	margin-left: 550px;
}
