<div class="container-fluid">
    <div class="box">
        <h2 style="text-align: center;"> BOOKING REQUESTS</h2>
        <div class="container" *ngFor="let list of bookingList">
            <img src="../../../assets/images/teacher.svg">
            <br> {{list.tutorName}}
            <br> {{list.startTimeHour}}:{{list.startTimeMinute}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{list.endTimeHour}}:{{list.endTimeMinute}}
            <br> {{list.approvalStatus}}
        </div>
    </div>
    <hr>
    <div class="box">
        <h2 style="text-align: center;"> YOUR MEETINGS</h2>
        <div class="container approved" *ngFor="let list of approvedList">
            <img src="../../../assets/images/teacher.svg">
            <br> {{list.tutorName}}
            <br> {{list.startTimeHour}}:{{list.startTimeMinute}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{list.endTimeHour}}:{{list.endTimeMinute}}
            <br> {{list.approvalStatus}}
            <button class="btn btn-danger" (click)="onJoin(list)">Join now</button>
        </div>
    </div>
</div>