<app-nav-bar></app-nav-bar>
<body style="padding-top: 100px; padding-bottom: 20px">
  <div class="container">
    <h1 style="margin-bottom: 30px; text-align: center">
      How the Platform works
    </h1>
    <div class="row" style="margin: 20px">
      <h4>
        To use Fellow Genius is very simple. Just follow the steps below to get
        started. It takes just a couple of minutes to register.
      </h4>
      <h2>For Learner</h2>
      <div>
        <p><b>Step 1 - Register</b></p>
        <p>
          To make the full use of Fellow Genius, learners must create an account
          here by providing their basic details like name, email ID, and phone
          number (required for OTP verification). The platform is SSO enabled
          with Google and you can sing up using ur Google credentials as well.
        </p>
        <p><strong>Step 2 - Find an Expert</strong></p>
        <p>
          Once registered, the learner can search for instructors they need
          based on specialization and subject. A detailed profile of the Expert
          is provided to view their skills and qualification. After selecting
          the instructor just send a request to conduct a class.
        </p>
        <p><strong>Step 3 - Pay fee</strong></p>
        <p>
          After selecting the preferred instructor, a learner or the student can
          proceed by paying the fee as requested by the instructor. The fee can
          be paid through Debit/Credit card, UPI, Netbanking, and Paypal. 50% of
          the fees is to be paid before taking the class.
        </p>
        <p><strong>Step 4 - Start learning</strong></p>
        <p>
          Once the fee is paid, the learner and the Expert can collaborate
          together. Based on the availability and convenience of the Expert,
          finalize the classroom schedule and start learning.
        </p>
      </div>
    </div>
    <div class="row" style="margin: 20px">
      <h2>For Expert</h2>
      <div>
        <p><strong>Step 1 - Register</strong></p>
        <p>
          All the experts must register on Fellow Genius to get started. Go to
          our Sign up page and create an account with details like name, email
          ID, and phone number (required for OTP verification). It is simple to
          register and only takes a few minutes. The platform is SSO enabled
          with Google and you can sing up using ur Google credentials as well.
        </p>
        <p><strong>Step 2 - Complete your profile</strong></p>
        <p>
          All the experts must complete their profile on Fellow Genius to get
          started. Go to our Profile completion Page and provide information.
          Please ensure to make it as relevant and comprehensive as possible
          since basis this only learner would reach out to you for the learning
          demands.
        </p>
        <p><strong>Step 3 - Schedule your availability</strong></p>
        <p>
          As a next step, you need to schedule your availability by clicking on
          the Schedule tab on the left panel; To schedule the same; click on the
          timeslots you want to publish as available slots which would be
          visible to the learner and he/she can request to book your calendar.
          Also you can set it up one time or recurring as required.
        </p>
        <p><strong>Step 4 - Start Mentoring</strong></p>
        <p>
          Once the profile is completed and availability is set you would be
          part of the Expert community at Fellow genius and then learners can
          search you and request for sessions.
        </p>
      </div>
    </div>
  </div>
</body>

<!-- <p><strong>How the Platform works</strong></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>To use Fellow Genius is very simple. Just follow the steps below to get started. It takes just a couple of minutes to register. </strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>For Learner</strong></p>
<p>&nbsp;</p>
<p><strong>Step 1 - Register</strong></p>
<p>To make the full use of Fellow Genius, learners must create an account here by providing their basic details like name, email ID, and phone number (required for OTP verification). The platform is SSO enabled with Google and you can sing up using ur Google credentials as well.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Step 2 - Find an Expert</strong></p>
<p>Once registered, the learner can search for instructors they need based on specialization and subject. A detailed profile of the Expert is provided to view their skills and qualification. After selecting the instructor just send a request to conduct a class.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Step 3 - Pay fee</strong></p>
<p>After selecting the preferred instructor, a learner or the student can proceed by paying the fee as requested by the instructor. The fee can be paid through Debit/Credit card, UPI, Netbanking, and Paypal. 50% of the fees is to be paid before taking the class.&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Step 4 - Start learning</strong></p>
<p>Once the fee is paid, the learner and the Expert can collaborate together. Based on the availability and convenience of the Expert, finalize the classroom schedule and start learning.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>For Expert</strong></p>
<p>&nbsp;</p>
<p><strong>Step 1 - Register</strong></p>
<p>All the experts must register on Fellow Genius to get started. Go to our &lsquo;Sign up&rsquo; page and create an account with details like name, email ID, and phone number (required for OTP verification). It is simple to register and only takes a few minutes. The platform is SSO enabled with Google and you can sing up using ur Google credentials as well.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Step 2 &ndash; Complete your profile</strong></p>
<p>All the experts must complete their profile on Fellow Genius to get started. Go to our &lsquo;Profile completion Page&rsquo; and provide information. Please ensure to make it as relevant and comprehensive as possible since basis this only learner would reach out to you for the learning demands.</p>
<p>&nbsp;</p>
<p><strong>Step 3 &ndash; Schedule your availability</strong></p>
<p>As a next step, you need to schedule your availability by clicking on the Schedule tab on the left panel; To schedule the same; click on the timeslots you want to publish as available slots which would be visible to the learner and he/she can request to book your calendar. Also you can set it up one time or recurring as required. &nbsp;</p>
<p>&nbsp;</p>
<p><strong>Step 4 - Start Mentoring</strong></p>
<p>Once the profile is completed and availability is set you would be part of the Expert community at Fellow genius and then learners can search you and request for sessions.</p>
<p>&nbsp;</p>
<p>&nbsp;</p> -->
