<body>
  <div class="bg-thankyou-container">
    <!-- <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" value="expert" (click)="chooseRole()">Expert</button>
        <button type="button" class="btn btn-secondary" value="learner" (click)="chooseRole('learner')">Learner</button>
    </div> -->

    <div class="thankyou-container">
      <span
        class="user-name-container"
        style="font-size: larger"
        *ngIf="loginType"
        >Hey ,
        <span class="user-name" *ngIf="loginType == 'Learner'">{{
          studentProfile.fullName
        }}</span>
        <span class="user-name" *ngIf="loginType == 'Expert'">{{
          tutorProfile.fullName
        }}</span></span
      >
      <span *ngIf="!loginType" class="user-name-container">
        <span class="user-name">Hey, {{ socialLoginName }}</span>
      </span>
      <span class="greet">Thank you</span>
      <span *ngIf="loginType"
        >Your regisration is almost complete & Please get a head start by
        updating your profile & manage your dashboard.<br />
        <div class="goToDashboard-margin">
          <button type="button" class="btn btn-primary" (click)="continue()">
            Go to Dashboard
          </button>
        </div>
      </span>

      <span *ngIf="!loginType"
        >Your regisration is almost complete & Please get a head start by
        choosing your role</span
      >
      <div style="margin-top: 10px" *ngIf="!loginType">
        <!-- <form (ngSubmit)="toDashboard(t)" #t="ngForm"> -->
        <div class="form-group">
          <label class="form-control-placeholder" for="role">Choose Role</label>
          <!-- <select class="form-control"  name="role" ngModel required>
              <option>Learner</option>
              <option>Expert</option>
            </select> -->
          <div>
            <mat-radio-group [(ngModel)]="role" ngDefaultControl>
              <mat-radio-button class="example-margin" value="Learner"
                >Learner</mat-radio-button
              >
              <mat-radio-button class="example-margin" value="Expert"
                >Expert</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
        <!-- <button type="submit">Go to Dashboard</button> -->
        <div *ngIf="!loginType">
          <button type="button" class="btn btn-primary" (click)="toDashboard()">
            Continue
          </button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>

  <!-- <div class="row">
        <img src="../../../assets/images/welcomeIcon.svg" alt="Image">
    </div>
    <div class="width100" style="padding: 6vh;text-align: center;">
        <h1 *ngIf="loginType == 'student'" style="font-size: 2rem;line-height: 3rem;font-weight: 500;">Hey , {{ studentProfile.fullName }}</h1>
        <h1 *ngIf="loginType == 'tutor'" style="font-size: 2rem;line-height: 3rem;font-weight: 500;">Hey , {{ tutorProfile.fullName }}</h1>
        <h2 style="font-weight: 400;font-size: 1.7rem;line-height: 2rem;">You have successfully signed up to <span style="color: #241084;font-family: custom;font-size: larger;">fellowGenius</span></h2>
            <h2 style="font-weight: 400;font-size: 1.375rem;line-height: 2rem;" *ngIf="loginType == 'tutor'">Complete your profile to get verified and rank among the other registered tutors</h2>
            <h2 style="font-weight: 400;font-size: 1.375rem;line-height: 2rem;" *ngIf="loginType == 'student'">To find the best tutors suited for you , go to find tutors page and filter your subjects</h2>
            <button class="btn btn-outline-success" (click)="continue()" style="padding: 10px;">Continue</button>
        </div> -->
</body>
