<body>
  <div class="access_page wi_full">
    <div class="container">
      <div class="page_wrapper">
        <div class="access_icon_box">
          <img
            src="../../../assets/images/login-clip.svg"
            alt="#"
            class="graphic_style"
          />
        </div>
        <div class="access_field_box">
          <div class="access_header">
            <a href="javascript:;" class="back_button" (click)="closeDialog()"
              ><img src="../../../assets/images/arrow-grey.svg" alt="#"
            /></a>
            <a href="" class="accs_logo"
              ><img src="../../../assets/images/fellow genius logo.svg" alt="#"
            /></a>
          </div>
          <div class="access_data">
            <div class="content_wrapper">
              <h2>Sign Up with Google</h2>
              <div class="tagline">
                Complete your sign up by entering the New Password
              </div>
              <form>
                <div class="form-group">
                  <label class="">New Password*</label>
                  <div class="password_wrap">
                    <input
                      id="password-new"
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="data.name"
                      required
                      [pattern]="passwordPattern"
                      minlength="8"
                      maxlength="20"
                      #password="ngModel"
                      placeholder="Enter your new password"
                    />
                    <span
                      toggle="#password-new"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                    <span
                        class="help-block"
                        *ngIf="!password.valid && password.touched"
                        >Invalid Password</span>
                        <br/>
                    
                  </div>
                </div>

                <div class="col-12" style="margin-bottom: 10px;">
                         
                  <span
                    class="help-block"
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    style="
                      color: grey;
                      font-size: smaller;
                    "
                    >Your password must be a minimum of 8 characters long and
                    should contain atleast<br />
                    One uppercase letter (A-Z)<br />
                    One lowercase letter (a-z)<br />
                    One number (0-9)<br />
                    One special character (@, #,&, %)</span
                  >
                </div>
                
                <div style="margin-bottom: 10px;">
                  <a
                      href="javascript:;"
                      (click)="showExpertCode=!showExpertCode"
                      style="color: #8dc63f; cursor: pointer;margin-top: 10px;"
                      >Have a Referral Code?</a
                    >
                </div>
                <div class="form-group" *ngIf="showExpertCode">
                  <!-- <label class="">Referral Code</label> -->
                  <input
                    type="text"
                    id="expCode"
                    name="expCode"
                    ngModel
                    [(ngModel)]="expertCode"
                    [pattern]="referCodePattern"
                    class="form-control"
                    maxlength="50"
                    placeholder="Enter Referral Code"
                    #expCode="ngModel"
                  />
                  <span
                        class="help-block"
                        *ngIf="!expCode.valid && expCode.touched"
                        >Invalid Referral Code</span
                      >
                </div>
                <button type="button" class="button form_Btn" (click)="toDashboard()" [disabled]="!password.valid">Sign up</button>
              </form>
            </div>
          </div>
          <div class="access_footer"></div>
        </div>
      </div>
    </div>
  </div>
</body>
