<div class="page-content dashboard__Panel">
  <div class="wrapper">
    <div class="container">
      <h2>Verify experts</h2>
      <div *ngIf="isLoading" style="text-align: center">
        <app-loading></app-loading>
        <p style="margin: 1rem; font-size: large">Verifying expert..</p>
      </div>
      <div *ngIf="!isLoading">
        <div>
          <h4 *ngIf="pendingExperts.length == 0">No pending experts.</h4>
        </div>
        <div class="row"></div>
        <div *ngIf="pendingExperts.length > 0">
          <div
            class="row"
            style="
              background: white;
              border-radius: 10px;
              padding: 10px;
              width: 100%;
              margin-bottom: 20px;
            "
            *ngFor="let expert of pendingExperts; let i = index"
          >
            <div class="col-12 col-md-8">
              <div style="display: inline-block">
                {{ expert.fullName }} : {{ expert.email }}
              </div>
            </div>
            <div class="col-12 col-md-4">
              <button
                class="btn"
                (click)="verifyExpert(expert, i)"
                [disabled]="expert.pendingAreaOfExpertise.length != 0"
              >
                Verify
              </button>
            </div>
            <div
              class="col-12"
              *ngIf="expert.pendingAreaOfExpertise.length != 0"
            >
              <h4>List of Other expertises</h4>
              <div
                *ngFor="
                  let area of expert.pendingAreaOfExpertise;
                  let j = index
                "
              >
                <div
                  class="row"
                  style="
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <!-- <div class="col-md-4">
                    <div class="form-control">{{ area.category }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-control">{{ area.subCategory }}</div>
                  </div> -->
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label class="">Domain</label>
                      <input
                        type="text"
                        ngModel
                        [(ngModel)]="area.category"
                        class="form-control"
                        required
                        #fullName="ngModel"
                        maxlength="50"
                        placeholder="Domain"
                        [disabled]="!area.isEditable"
                      />
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label class="">Topic</label>
                      <input
                        type="text"
                        ngModel
                        [(ngModel)]="area.subCategory"
                        class="form-control"
                        required
                        maxlength="50"
                        placeholder="Topic"
                        [disabled]="!area.isEditable"
                      />
                      <!-- <input
                        matInput
                        [matDatepicker]="picker"
                        class="form-control"
                      />
                      <div><mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker></div> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button
                      class="btn"
                      style="margin: 10px"
                      title="approve"
                      (click)="approveDomain(area, expert, j)"
                    >
                      <i
                        class="fa fa-spinner fa-spin"
                        *ngIf="area.isLoading"
                        style="margin-right: 3px"
                      ></i>
                      <img
                        *ngIf="!area.isLoading"
                        src="../../../assets/icons/approve.svg"
                        alt="#approve"
                      />
                    </button>
                    <button
                      class="btn btn-secondary"
                      style="margin: 10px"
                      title="edit"
                      (click)="editDomain(area)"
                    >
                      <img src="../../../assets/icons/edit.svg" alt="#edit" />
                    </button>
                    <button
                      class="btn btn-secondary"
                      style="margin: 10px"
                      title="map to existing"
                      (click)="mapToExisting(area,expert)"
                    >
                      <img
                        src="../../../assets/icons/map_to_existing.svg"
                        alt="#mapToExisting"
                      />
                    </button>
                  </div>
                  <div style="display: flex;margin-top: 15px;" *ngIf="area.isChoosable&&selectedExpert==expert&&selectedAreaCategory==area" >
                    <div style="margin: 10px;">
                      <mat-form-field appearance="fill">
                        <mat-label>Select a Domain</mat-label>
                        <mat-select [(value)]="chosenAreaCategory" (selectionChange)="domainChange(chosenAreaCategory)">
                          <mat-option *ngFor="let domain of categories" [value]="domain" >{{domain.category}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div style="margin: 10px;">
                      <mat-form-field appearance="fill">
                        <mat-label>Select a Topic</mat-label>
                        <mat-select [(value)]="chosenAreaSubCategory">
                          <mat-option *ngFor="let topic of filteredSubCategories" [value]="topic" >{{topic.subCategory}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
