<div class="row marginZero">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" style="padding-top: 5vh;">
      <div class="row marginZero" style="text-align: center; width: max-content; margin: auto;">
          <div class="navbar-brand" style="margin-bottom: 15px; width: 100%">
              fellowGenius
          </div>
          <div *ngIf="isLoading" style="text-align: center; margin-top:50%; margin-left: auto;
        margin-right: auto;">
              <app-loading></app-loading>
          </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="incorrectLoginDetails">
          <p style="text-align: center;">User Already registered ! go to Login </p>
      </div>

      <div class="row" *ngIf="!isLoading">
          <div class="signupBox" style="margin: auto;">
              <div class="row marginZero" style="font-size: 25px;">
                  <a (click)="toHomePage()" style="cursor: pointer;"><i
              class="fas fa-arrow-left"
              style="color: #8f98a4; font-size: large; margin-right: 20px;"
            ></i
          ></a>
                  <span style="
              color: #545174;
              width: max-content;
              margin: auto;
              font-weight: 400;
            ">Student Sign Up</span
          >
          <button
            type="button"
            class="btn btn-outline-success"
            style="font-size: small;"
            (click)="toHomePage()"
            
          >
            Home
          </button>
        </div>
        <div class="row" style="padding: 20px; margin-top: 5px;">
          <form
            style="width: 100%;"
            (ngSubmit)="onSignUpStudent(s)"
            #s="ngForm"
          >
            <div class="form-group" *ngIf="showInput">
              <input
                type="text"
                id="fullName"
                name="fullName"
                ngModel
                class="form-control"
                required
                #fullName="ngModel"
                maxlength="50"
              />
              <label class="form-control-placeholder" for="fullName"
                >Full Name</label
              >
              <span
                class="help-block"
                *ngIf="!fullName.valid && fullName.touched"
                >Invalid Name</span
              >
            </div>
            <div class="form-group" *ngIf="showInput">
              <input
                type="email"
                id="email"
                name="email"
                ngModel
                class="form-control"
                required
                email
                #email="ngModel"
                maxlength="64"
                pattern="[a-zA-Z0-9_.+-]{1,20}@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|piet|yahoo|hotmail|rediffmail|apple|microsoft)\.([a-z]{2,4})(\.[a-z]{2,4})?$"
              />
              <label class="form-control-placeholder" for="email"
                >Email Address</label
              >
              <span *ngIf="!email.valid && email.touched || emailValid" class="help-block"
                >Invalid email</span
              >
            </div>
            <div class="row" *ngIf="showInput">
              <div class="col-sm-6" style="padding-right: 10px;">
                <div class="form-group">
                  <input
                    type="text"
                    id="contact"
                    class="form-control"
                    ngModel
                    name="contact"
                    required
                    [pattern]="mobNumberPattern"
                    #contact="ngModel"
                  />
                  <label class="form-control-placeholder" for="contact"
                    >Mobile Number</label
                  >
                  <span
                    *ngIf="!contact.valid && contact.touched"
                    class="help-block"
                    >Invalid contact</span
                  >
                </div>
              </div>
              <div class="col-sm-6" style="padding-left: 0;">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="dateOfBirth"
                    ngModel
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')"
                    id="date"
                    required
                    
                  />
                  <label class="form-control-placeholder" for="date"
                    >Date of Birth</label
                  >
                  <span class="help-block" *ngIf="showDateError">
                    Please enter valid DOB
                  </span>
              </div>
          </div>
      </div>
      <div class="form-group" *ngIf="showInput">
          <input type="password" id="password" class="form-control" name="password" ngModel [type]="hide ? 'password' : 'text'" required [pattern]="passwordPattern" minlength="8" maxlength="20" #password="ngModel" />
          <label class="form-control-placeholder" for="password">Password</label
              >
              <div class="showPassword">
                <i
                  class="material-icons cursor"
                  style="color: #ccc;"
                  (click)="hide = !hide"
                >
                  {{ hide ? "visibility_off" : "visibility" }}
                </i>
              </div>
              <span
                *ngIf="!password.valid && password.touched"
                class="help-block"
                >password field must be minimum of 8 characters with atleast one
                lowercase, uppercase, number and a special character</span
              >
            </div>
            <div class="form-group" *ngIf="showInput">
              <select class="form-control" name="subject" ngModel required>
                <optgroup label="9">
                  <option>English</option>
                  <option>Hindi</option>
                  <option>Mathematics</option>
                  <option>Science</option>
                  <option>Social Science</option>
                  </optgroup>
                  <option class="divider" disabled></option>

                  <optgroup label="10">
                  <option>English</option>
                  <option>Hindi</option>
                  <option>Mathematics</option>
                  <option>Science</option>
                  <option>Social Science</option>
                  </optgroup>
                  <option class="divider" disabled></option>

                  <optgroup label="11">
                    <optgroup label="Science">
                      <option>English</option>
                      <option>Physics</option>
                      <option>Mathematics</option>
                      <option>Chemistry</option>
                      <option>Biology</option>
                      <option>Physical Education</option>
                      <option>Psychology</option>
                      <option>Biotechnology</option>
                      <option>Home Science</option>
                      <option>Computer Science</option>
                      <option>Engineering Drawing</option>
                    </optgroup>
                    
                    <optgroup label="Commerce">
                      <option>Accountancy</option>
                      <option>Business Studies</option>
                      <option>Economics</option>
                      <option>Multimedia & Web Technology</option>
                      <option>Entrepreneurship</option>
                      <option>Legal Studies</option>
                      <option>Fine Arts</option>
                    </optgroup>

                    <optgroup label="Humanities/Arts">
                      <option>History</option>
                      <option>Political Science</option>
                      <option>Economics</option>
                      <option>Geography</option>
                      <option>Sociology</option>
                      <option>Media Studies</option>   
                    <!-- </optgroup> -->
                  </optgroup>
                  <option class="divider" disabled></option>

                  <optgroup label="12">
                    <optgroup label="Science">
                      <option>English</option>
                      <option>Physics</option>
                      <option>Mathematics</option>
                      <option>Chemistry</option>
                      <option>Biology</option>
                      <option>Physical Education</option>
                      <option>Psychology</option>
                      <option>Biotechnology</option>
                      <option>Home Science</option>
                      <option>Computer Science</option>
                      <option>Engineering Drawing</option>
                    </optgroup>
                    
                    <optgroup label="Commerce">
                      <option>Accountancy</option>
                      <option>Business Studies</option>
                      <option>Economics</option>
                      <option>Multimedia & Web Technology</option>
                      <option>Entrepreneurship</option>
                      <option>Legal Studies</option>
                      <option>Fine Arts</option>
                    </optgroup>

                    <optgroup label="Humanities/Arts">
                      <option>History</option>
                      <option>Political Science</option>
                      <option>Economics</option>
                      <option>Geography</option>
                      <option>Sociology</option>
                      <option>Media Studies</option>   
                    <!-- </optgroup> -->
                  </optgroup>
                  
                  <option class="divider" disabled></option>
                  <optgroup label="Graduation" >
                    <optgroup label="Commerce/BBA/BCOM/BBS">
                      <option>B.Com(Hons)-Year 1</option>
                      <option>B.Com(Hons)-Year 2</option>
                      <option>B.Com(Hons) Year 3</option>
                      <option>Bachelor of Management Studies- Year 1</option>
                      <option>Bachelor of Management Studies- year 2</option>
                      <option>Bachelor of Management Studies- Year 3</option>
                      
                      
                      <option>B.Com(Corporate Laws)-year 1</option>
                      <option>B.Com(Corporate Laws)-year 1</option>
                      <option>B.Com(Corporate Laws)-year 1</option>
                      
                      
                      <option>BBA- Year 1</option>
                      <option>BBA-Year 2</option>
                      <option>BBA- year 3</option>
                      
                      
                      <option>Bachelor of Business Studies- Year 1</option>
                      <option>Bachelor of Business Studies- Year 2</option>
                      <option>Bachelor of Business Studies- Year 3</option>
                    </optgroup>
                    <optgroup label="Science/B.Sc">
                      <option>B.Sc(Gen-Maths)- Year 1</option> 
                      <option>B.Sc(Gen-Maths)- Year 2</option>
                      <option>B.Sc(Gen-Maths)- Year 3</option>
                      
                      
                      <option>B.Sc(Hons-Maths)- Year 1</option>
                      <option>B.Sc(Hons-Maths)- Year 1</option>
                      <option>B.Sc(Hons-Maths)- Year 1</option>
                      
                      
                      <option>B.Sc(Hons-Chemistry)- Year 1</option>
                      <option>B.Sc(Hons-Chemistry)- year 2</option>
                      <option>B.Sc(Hons-Chemistry) - Year 3</option>
                      
                      
                      <option>B.Sc(Hons-Physics)- Year 1</option>
                      <option>B.Sc(Hons-Physics)- Year 2</option>
                      <option>B.Sc(Hons-Physics)- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Applied Physical Science- Year 1</option>
                      <option>B.Sc (Hons) Applied Physical Science- Year 2</option>
                      <option>B.Sc (Hons) Applied Physical Science- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Statistics- Year 1</option>
                      <option>B.Sc (Hons) Statistics- Year 2</option>
                      <option>B.Sc (Hons) Statistics- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Botany - Year 1</option>
                      <option>B.Sc (Hons) Botany - Year 2</option>
                      <option>B.Sc (Hons) Botany - Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Zoology - Year 1</option>
                      <option>B.Sc (Hons) Zoology - Year 2</option>
                      <option>B.Sc (Hons) Zoology - Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Industrial Chemistry - Year 1</option>
                      <option>B.Sc (Hons) Industrial Chemistry - Year 2</option>
                      <option>B.Sc (Hons) Industrial Chemistry - Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Biological Science- Year 1</option>
                      <option>B.Sc (Hons) Biological Science- Year 2</option>
                      <option>B.Sc (Hons) Biological Science- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Computer Science- Year 1</option>
                      <option>B.Sc (Hons) Computer Science- Year 2</option>
                      <option>B.Sc (Hons) Computer Science- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Electronics- Year 1</option>
                      <option>B.Sc (Hons) Electronics- Year 2</option>
                      <option>B.Sc (Hons) Electronics- Year 3</option>
                      
                      
                      <option>B.Sc. (MT) Radiography - Year 1</option>
                      <option>B.Sc. (MT) Radiography - Year 2</option>
                      <option>B.Sc. (MT) Radiography - Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Geology- Year 1</option>
                      <option>B.Sc (Hons) Geology- Year 2</option>
                      <option>B.Sc (Hons) Geology- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Anthropology- Year 1</option>
                      <option>B.Sc (Hons) Anthropology- Year 2</option>
                      <option>B.Sc (Hons) Anthropology- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Microbiology- Year 1</option>
                      <option>B.Sc (Hons) Microbiology- Year 2</option>
                      <option>B.Sc (Hons) Microbiology- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Bio-Chemistry - Year 1</option>
                      <option>B.Sc (Hons) Bio-Chemistry - Year 2</option>
                      <option>B.Sc (Hons) Bio-Chemistry - Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Biomedical Science- Year 1</option>
                      <option>B.Sc (Hons) Biomedical Science- Year 2</option>
                      <option>B.Sc (Hons) Biomedical Science- Year 3</option>
                      
                      
                      <option>B.Sc (Hons) Polymer Science - Year 1</option>
                      <option>B.Sc (Hons) Polymer Science - Year 2</option>
                      <option>B.Sc (Hons) Polymer Science - Year 3</option>
                    </optgroup>
                    <optgroup label="Arts Stream/BA">
                      <option>B.A (Hons) English- Year 1</option>
                      <option>B.A (Hons) English- Year 2</option>
                      <option>B.A (Hons) English- Year 3</option>
                      
                      <option>B.A. (Hons) Economics- Year 1</option>
                      <option>B.A. (Hons) Economics- Year 2</option>
                      <option>B.A. (Hons) Economics- Year 3</option>
                      
                      <option>B.A. (Hons.) Business Economics- Year 1</option>
                      <option>B.A. (Hons.) Business Economics- Year 2</option>
                      <option>B.A. (Hons.) Business Economics- Year 3</option>
                      
                      <option>B.A. (Hons.) Multimedia and Mass Communication- Year 1</option>
                      <option>B.A. (Hons.) Multimedia and Mass Communication- Year 3</option>
                      
                      <option>B.A (Hons) Political Science- Year 1</option>
                      <option>B.A (Hons) Political Science- Year 2</option>
                      <option>B.A (Hons) Political Science- Year 3</option>
                      
                      <option>B.A (Hons) Psychology- Year 1</option>
                      <option>B.A (Hons) Psychology- Year 2</option>
                      <option>B.A (Hons) Psychology- Year 3</option>
                      
                      <option>B.A. (Hons) Business Economics (BBE)- Year 1</option>
                      <option>B.A. (Hons) Business Economics (BBE)- Year 2</option>
                      <option>B.A. (Hons) Business Economics (BBE)- Year 3</option>
                      
                      <option>B.A (Hons) Spanish- Year 1</option>
                      <option>B.A (Hons) Spanish- Year 2</option>
                      <option>B.A (Hons) Spanish- Year 3</option>
                      
                      <option>B.A (Hons) Sanskrit- Year 1</option>
                      <option>B.A (Hons) Sanskrit- Year 2</option>
                      <option>B.A (Hons) Sanskrit- Year 3</option>
                    <!-- </optgroup> -->
                  </optgroup>
              </select>
              <label class="form-control-placeholder" for="subject"
                >Choose Subject</label
              >
            </div>
            <div class="form-group" *ngIf="showInput">
              <select class="form-control" name="gradeLevel" ngModel required>

                  <optgroup label="School">
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </optgroup>
                  <option class="divider" disabled></option>
                  <optgroup label="Engineering">
                    <option>Computer Science</option>
                    <option>Information Technology</option>
                    <option>Mechanical</option>
                    <option>Civil</option>
                    <option>Textile</option>
                  </optgroup> 
                  <option class="divider" disabled></option>
                  <optgroup label="Medical">
                    <option>MBBS</option>
                    <option>BDS</option>
                  </optgroup>
                  <option class="divider" disabled></option>
                  <option>Commerce/BBA/BCOM/BBS</option>
                  <option class="divider" disabled></option>
                  <option>Arts Stream/BA</option>
                  <option class="divider" disabled></option>
                  <option>Science/B.Sc</option>
              </select>
              <label class="form-control-placeholder" for="gradeLevel">Select Grade</label>
      </div>
      <div class="form-group"  *ngIf="showInput" style="margin-bottom: 5px;">
        <input type="checkbox" name="termsAndConditions" [value]="termsAndConditionsChecked" id="agree" ngModel required/> I have read and agree to <a role="button" class="termsLink" (click)="openTermsAndConditions()">Terms and Conditions, Privacy Policy</a>
      </div>
      <div class="form-group" *ngIf="showInput" style="margin:0">
        <p style="float: right;">* all fields are mandatory</p>
      </div>
      <p *ngIf="verifyEmail" style="color: rgba(0, 0,0 ,0.5)">Your Verification Code has been sent to your Email, Please verify your account by signing in to your email.</p>
      <div class="form-group" *ngIf="verifyEmail">
          <input type="text" id="otp" name="otp" ngModel class="form-control" required #otp="ngModel" />

          <label class="form-control-placeholder" for="otp">One Time Password</label>
          <span *ngIf="wrongOtp" class="help-block">Invalid OTP</span
            >
          </div>
            <button
              type="submit"
              class="btn btn-outline-primary continueButton"
              [disabled]="!s.valid"
            >
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  
  </div>
  <div class="col-sm-4"></div>
</div>
