@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .header .navbar {
        left: -8px;
        top: 2px;
        position: absolute;
    }
    .header .navbar .navbar-collapse {
        height: calc(100vh - 4.5em);
        width: calc(100vh);
        padding: 0 15px;
        background-color: #FFFFFF;
        position: fixed;
        left: 0px;
        top: 60px;
        z-index: 9994;
    }
    .hide {
        display: inline-block!important;
    }
    .showin {
        display: none!important;
    }
    .header .logo {
        left: 40%;
        position: absolute;
    }
    .search-bg-left {
        display: none;
    }
    .login-container {
        width: 100%!important;
        margin-top: 0px!important;
    }
    .login-container .login-header {
        flex-direction: column;
    }
    .login-container .close {
        top: -150px!important;
        right: -150px!important;
    }
    .login-container .login-parameter-container {
        height: calc(100vh - 200px);
    }
    .login-container .login-instead {
        margin-top: 60px!important;
    }
    .login-container .button-container .btn-primary {
        width: 100%!important;
        margin-top: 10px;
    }
    .signup-container {
        width: 100%!important;
        margin-top: 0px!important;
        background: transparent!important;
    }
    .signup-container .signup-header {
        flex-direction: column;
    }
    .signup-container .close {
        top: 10px!important;
        right: 10px!important;
    }
    .signup-container .logo {
        display: inline-block!important;
    }
    .signup-container .signup-header .signup-container .signup-header .hide {
        display: inline-block!important;
    }
    .signup-parameter-container {
        width: 98%!important;
    }
    .signup-parameter-container .logo-mobile {
        display: none!important;
    }
    .signup-container .signup-parameter-container .form-group-container {
        margin-left: -10px;
    }
    .signup-container .signup-parameter-container .form-group {
        width: 98%!important;
    }
    .bg-signup {
        background: transparent!important;
    }
    .search-result-container {
        position: absolute;
        top: 230px;
        display: inline-block;
        float: left;
    }
    .search-result-container .filter-container {
        flex: 1!important;
        width: 100%!important;
    }
    .search-result-container .filter-container .filter-category .filter-category-list li {
        background-color: #E30084;
        padding: 5px;
        margin: 5px;
        width: 150px;
        border-radius: 4px;
        border: 1px solid #E30084;
        color: #FFFFFF;
    }
    .search-result-container .filter-container .filter-category .filter-category-list li .filters-label {
        color: #FFFFFF;
    }
    .dashboard-container {
        padding: 5px!important;
        width: 97%!important;
    }
    .dashboard-container .widget {
        width: 100%!important;
        margin-left: 5px!important;
    }
    .dashboard-container .pending-reviews-list .widget-information .list-panel {
        display: block;
        float: left;
        width: 100%;
        height: 150px;
    }
    .dashboard-container .pending-reviews-list .widget-information .list-panel .button-container {
        right: 40px;
        position: absolute;
        top: 80px;
    }
    .primary-container .content-container table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .primary-container .content-container table tr {
        display: block;
        margin-bottom: 10px;
    }
    .primary-container .content-container table td {
        display: block;
        margin-bottom: 10px;
    }
    .primary-container .content-container table td img {
        width: 100%;
    }
    .primary-container .content-container table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        display: block;
        float: left;
        width: 100%;
    }
    .overlay {
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 1;
        position: absolute;
        opacity: 0.2;
    }
    body .sidenav {
        max-height: 100vh;
    }
    .sidenav .profile-thumbnail {
        left: 120px!important;
    }
    .closeButton {
        display: block!important;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px!important;
        color: #FFFFFF!important;
    }
    .expert-profile-container {
        width: 90%!important;
    }
    .expert-profile-container .expert-profile-header .list-thumbnail {
        width: 50px!important;
        height: 50px!important;
        top: 2px!important;
    }
    .expert-profile-container .expert-profile-header .basic-information {
        top: 60px!important;
        left: 5px!important;
        width: 100%!important;
    }
    .expert-profile-container .expert-profile-header .contact-information {
        top: 2px!important;
    }
    .expert-profile-container .expert-profile-description {
        margin-left: 0px!important;
        margin-top: 30px!important;
    }
}