@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .header .navbar {
      left: -8px;
      top: 2px;
      position: absolute;
    }
    .header .navbar .navbar-collapse {
      height: calc(100vh - 4.5em);
      width: calc(100vh);
      padding: 0 15px;
      background-color: #FFFFFF;
      position: fixed;
      left: 0px;
      top: 60px;
      z-index: 9994;
    }
    .header .navbar .hide {
      display: inline-block;
    }
    .header .logo {
      left: 40%;
      position: absolute;
    }
    .header .showin {
      display: none; 
    }

    .login-container
    {
      width:100%!important;
      margin-top:0px!important;
    }


    .login-container .close 
    {
      top: -70px!important;
     right: -110px!important;
    }
    .login-container .login-parameter-container
    {
      height: calc(100vh - 200px);
    }

    .login-container .login-instead
    { 
      margin-top:60px!important;
    }

    .login-container .button-container .btn-primary
    {
      width:100%!important;
      margin-top:10px;
    }

  }