<body>
  <div class="dashboard-container">
    <div class="pending-reviews-panel">
      <span class="number">{{ pendingRequestsCount | zero }}</span
      ><span class="text-content">PENDING REQUESTS</span>
      <a
        class="takeActionLink"
        (click)="viewPendingRequests()"
        *ngIf="pendingRequestsCount != 0"
        >View</a
      >
    </div>
    <div
      class="widget pending-reviews-list"
      *ngIf="viewPending"
      style="min-height: 0; max-height: 250px"
    >
      <div class="widget-header">Pending Requests</div>
      <div class="widget-information pending-requests">
        <div class="list-panel" *ngFor="let element of bookingList">
          <div
            class="list-thumbnail"
            style="
              background-image: url('../../../assets/images/default-user-image.png');
            "
          ></div>
          <div class="list-information">
            <span class="name">{{ element.tutorName }}</span>
            <span class="subject">{{ element.subject }}</span>
          </div>
          <div class="date-time-panel">
            <span>{{ element.dateOfMeeting }}</span>
            <span>
              {{ element.startTimeHour }}:{{ element.startTimeMinute | zero }} -
              {{ element.endTimeHour }}:{{ element.endTimeMinute | zero }} ({{
                element.duration
              }}
              minutes)</span
            >
          </div>
          <div class="button-container">
            <span class="btn btn-primary">{{ element.approvalStatus }}</span>
            <button
              type="button"
              class="btn btn-primary"
              *ngIf="element.approvalStatus == 'Pending'"
              (click)="deleteBooking(element)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">Upcoming Classes</div>
      <div style="padding: 10px">
        <span *ngIf="liveMeetingList.length == 0 && approvedList.length == 0"
          >No upcoming classes</span
        >
      </div>
      <div *ngIf="liveMeetingList != null">
        <div *ngFor="let element of liveMeetingList">
          <!-- <div class="widget-timings">
            <span style="color: red">● &nbsp;</span>Live Now
          </div> -->
          <div class="widget-information">
            <div class="widget-time">
              <span style="color: red">● &nbsp;Live Now</span>
            </div>
            <div class="subject-thumbnail"></div>
            <div class="subject-description">
              <span>{{ element.studentName }}</span>
              <span
                >{{ element.startTimeHour }}:{{
                  element.startTimeMinute | zero
                }}
                - {{ element.endTimeHour }}:{{
                  element.endTimeMinute | zero
                }}
                ({{ element.duration }} minutes)</span
              >

              <span>{{ element.description }}</span>
              <button
                type="button"
                class="btn btn-primary"
                (click)="onJoin(element)"
              >
                Join
              </button>
            </div>
          </div>
          <div class="widget-footer"><a href="">view more</a></div>
        </div>
      </div>

      <div *ngFor="let element of approvedList">
        <!-- <div class="widget-time" *ngIf="element.timeLeft != null">
            Live in:{{ element.timeLeft }}
        </div> -->
        <div class="widget-information">
          <div class="widget-time" *ngIf="element.timeLeft != null">
            Live in:{{ element.timeLeft }}
          </div>
          <div class="subject-thumbnail"></div>
          <div class="subject-description">
            <span>{{ element.studentName }}</span>
            <span>{{ element.dateOfMeeting }}</span>
            <span
              >{{ element.startTimeHour }}:{{
                element.startTimeMinute | zero
              }}
              - {{ element.endTimeHour }}:{{ element.endTimeMinute | zero }} ({{
                element.duration
              }}
              minutes)</span
            >

            <span>{{ element.description }}</span>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onJoin(element)"
              [disabled]="!element.isLive"
            >
              Join
            </button>
          </div>
        </div>
        <div class="widget-footer">
          <a href="javascript:;" (click)="openRecordingsPage()">view more</a>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">Skills in Demand</div>
      <div class="widget-timings">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">
            <span class="fa fa-chart-pie"></span>
          </button>
          <button type="button" class="btn btn-secondary">
            <span class="fa fa-list"></span>
          </button>
        </div>
      </div>
      <div style="margin-top: 20px">
        <!-- <google-chart
          #chart
          [type]="type"
          [data]="data"
          [columnNames]="columnNames"
          [options]="options"
          [width]="studentChartWidth"
          [height]="studentChartHeight"
        >
        </google-chart> -->
        <google-chart
          #chart
          [type]="type"
          [data]="data"
          [options]="options"
          [width]="studentChartWidth"
          [height]="studentChartHeight"
        >
        </google-chart>
      </div>
    </div>

    <div class="widget pending-reviews">
      <div class="widget-header">Pending Reviews</div>
      <div class="widget-information">
        <div style="padding: 10px" *ngIf="pendingReviewList.length == 0">
          <span>No Pending reviews</span>
        </div>
        <div class="list-panel" *ngFor="let list of pendingReviewList">
          <div
            class="list-thumbnail"
            [ngStyle]="{
              'background-image': 'url(' + list.tutorProfilePictureUrl + ')'
            }"
          ></div>
          <div class="list-information">
            <span class="name" [innerHTML]="list.tutorName"></span>
            <span class="subject" [innerHTML]="list.subject"></span>
          </div>
          <div class="review-nav">
            <div class="stars-container">
              <div class="star-widget">
                <input
                  type="radio"
                  name="rate"
                  id="rate-5"
                  (click)="saveRating(list, '100')"
                />
                <label for="rate-5" class="fas fa-star"></label>
                <input
                  type="radio"
                  name="rate"
                  id="rate-4"
                  (click)="saveRating(list, '80')"
                />
                <label for="rate-4" class="fas fa-star"></label>
                <input
                  type="radio"
                  name="rate"
                  id="rate-3"
                  (click)="saveRating(list, '60')"
                />
                <label for="rate-3" class="fas fa-star"></label>
                <input
                  type="radio"
                  name="rate"
                  id="rate-2"
                  (click)="saveRating(list, '40')"
                />
                <label for="rate-2" class="fas fa-star"></label>
                <input
                  type="radio"
                  name="rate"
                  id="rate-1"
                  (click)="saveRating(list, '20')"
                />
                <label for="rate-1" class="fas fa-star"></label>
              </div>
              <!-- <div style="font-size: larger">
                <i
                  class="fas fa-times review-icons"
                  (click)="cancelReview()"
                ></i>
                <i class="fas fa-check review-icons" *ngIf="false"></i>
                <i class="fas fa-edit review-icons" *ngIf="false"></i>
              </div> -->
            </div>
          </div>
          <!-- <button class="btn btn-warning" (click)="giveFeedback(list)">
            Feedback
          </button> -->
        </div>
      </div>
      <div class="widget-footer" *ngIf="pendingReviews.length != 0">
        <a href="">view more</a>
      </div>
    </div>
  </div>
  <!--
    <div class="col-md-8 align" style="display:none;">

        <div class="card">
            <div class="card-header">
                Live Meetings
            </div>
            <div class="card-body">
                <div *ngIf="emptyLiveList">No Live meetings yet</div>
                <div class="" *ngFor="let element of liveMeetingList">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="../../../assets/icons/user-square.svg" style="width: 66px;
                height: 66px;
                margin-top: 7px;
                border-radius: 5px;" alt="studentImage" />
                        </div>
                        <div class="col-sm-8" style="padding-left: 30px;">
                            <h1 style="font-size: 19px;margin: 0;">{{element.tutorName}}</h1>
                            <p style="color: rgb(109, 116, 116);">{{element.dateOfMeeting}}</p>
                            <p style="font-size: medium;
                  /* color: rgb(109, 116, 116); */
                  padding-top: 1px; margin:0;">
                                {{element.startTimeHour}}:{{element.startTimeMinute|zero}} - {{element.endTimeHour}}:{{element.endTimeMinute|zero}} ({{element.duration}} minutes)
                            </p>
                            <p style="font-size: small;
                   color: rgb(182, 192, 192);">
                                {{element.description}}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-outline-danger" (click)="onJoin(element)">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
  <!-- ---------------------------------------- Pending Requests--------------------------------------------
        <div class="card">
            <div class="card-header">
                Booking Requests
            </div>
            <div class="card-body">
                <div *ngIf="emptyBookingList">No Booking Requests</div> -->
  <!-- <div *ngIf="meetingService.deleteBooking == 'delete'">No Booking Requests</div> 
                <div class="" *ngFor="let element of bookingList">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="../../../assets/icons/user-square.svg" style="width: 66px;
                height: 66px;
                margin-top: 7px;
                border-radius: 5px;" alt="studentImage" />
                        </div>
                        <div class="col-sm-8" style="padding-left: 30px;">
                            <h1 style="font-size: 19px;margin: 0;">{{element.tutorName}}</h1>
                            <p style="color: rgb(109, 116, 116);">
                                {{element.dateOfMeeting}}
                            </p>
                            <p style="font-size: medium;
                color: rgb(109, 116, 116);
                padding-top: 1px; margin:0;">
                                {{element.startTimeHour}}:{{element.startTimeMinute|zero}} - {{element.endTimeHour}}:{{element.endTimeMinute|zero}} ({{element.duration}} minutes)
                            </p>
                            <p style="font-size: small;
                 color: rgb(182, 192, 192);">
                                {{element.description}}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style=" 
                            width: max-content;
                            padding: 2px;
                            background-color: #337ab7;
                            color: white;
                            padding-left: 5px;
                            padding-right: 5px;
                            border-radius: 5px;">
                                {{element.approvalStatus}}
                            </p>
                            <button class="btn btn-danger" *ngIf="element.approvalStatus == 'Pending'" (click)="deleteBooking(element)" style="padding: 1px;
                                   width: 67px;
                                   margin-top: 2px;">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
 ---------------------------------------- approved Meetings--------------------------------------------
        <div class="card">
            <div class="card-header">
                Upcoming Meetings
            </div>
            <div class="card-body">
                <div *ngIf="emptyApprovedList">No Upcoming meetings</div>
                <div class="" *ngFor="let element of approvedList">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="../../../assets/icons/user-square.svg" style="width: 66px;
                height: 66px;
                margin-top: 7px;
                border-radius: 5px;" alt="studentImage" />
                        </div>

                        <div class="col-sm-8" style="padding-left: 30px;">
                            <h1 style="font-size: 19px;margin: 0;">{{element.tutorName}}</h1>
                            <p style="color: rgb(109, 116, 116);">
                                {{element.dateOfMeeting}}
                            </p>
                            <p style="font-size: medium;
              color: rgb(109, 116, 116);
              padding-top: 1px; margin:0;">
                                {{element.startTimeHour}}:{{element.startTimeMinute|zero}} - {{element.endTimeHour}}:{{element.endTimeMinute|zero}} ({{element.duration}} minutes)
                            </p>
                            <p style="font-size: small;
               color: rgb(182, 192, 192);">
                                {{element.description}}
                            </p>
                            <p style="font-size: medium;
                            color: rgb(109, 116, 116);">
                                {{element.timeLeft}}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p style=" 
                            width: max-content;
                            padding: 2px;
                            background-color: teal;
                            color: white;
                            padding-left: 5px;
                            padding-right: 5px;
                            border-radius: 5px;">
                                {{element.approvalStatus}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 align leftMarginZero card2">
        <div class="tutorBox">
            <div class="card-header">
                <p style="text-align: center; text-decoration: solid;"> Recommended Tutors</p>
            </div>

            <div class="tutor-card-body">
                <p *ngIf="noTutorMessage!=''" style="width: 100%;text-align: center;padding: 20px;">{{noTutorMessage}}</p>
                <div *ngFor="let tutorList of topTutors" class="divBox">
                    <div class="row tutorProfilerow">
                        <div class="col-sm-4 rightPaddingZero">
                            <img [src]="tutorList.profilePictureUrl">
                        </div>
                        <div class="col-sm-5 paddingZero">
                            <p style="font-family: Georgia, 'Times New Roman', Times, serif;
                            text-decoration: solid;">{{tutorList.fullName}}</p>
                            <p class="tutorSkillTags" style="font-size: smaller; color: rgb(109, 110, 110); background-color: rgb(183, 208, 231);">{{tutorList.subject1}}</p>
                            <p class="tutorSkillTags" style="font-size: smaller; color: rgb(109, 110, 110); background-color: rgb(183, 208, 231);">{{tutorList.subject2}}</p><br>
                            <p class="tutorSkillTags" style="font-size: smaller; color: rgb(109, 110, 110); background-color: rgb(183, 208, 231);">{{tutorList.subject3}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p>₹‎{{tutorList.price1}}/hr</p>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-outline-success request-buttons" (click)="openTutorProfile(tutorList)">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</body>
