.login-container {
	width: 480px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	margin-top: 150px;
}

.login-container .close {
	font-size: 24px;

	position: relative;
	top: -100px;
	right: -150px;
}

.login-container .logo {
	width: 120px;
	height: 90px;
	display: inline-block;
	float: right;
}

.login-container .login-header {
	color: #e30084;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 22px;
	width:100%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;

}

.login-container .login-header .header-container {

	width: 325px;
	position: relative;
}



.login-container .login-parameter-container {
	border: 1px solid #7d0f7d;
	border-radius: 8px;
	display: block;
	float: left;
	width: 100%;
	padding: 20px;
	box-shadow: 0 8px 16px 0 #90a4ae;
	/*box-shadow: 0 0 2px 0 #90A4AE;*/
	/*box-shadow: 0 8px 16px 0 rgba(24,19,87,0.07);*/
}

.login-container .login-parameter-container .button-container .btn-primary {
	float: right;
}

.login-container .login-parameter-container .button-container .forgot-password {
	float: left;
}

.login-instead {
	width: 100%;
	display: block;
	float: left;
	margin-top: 20px;
	text-align: center;
}

.login-instead span {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.login-instead .btn {
	text-align: center;
	margin-bottom: 10px;
}

.hideBlock {
	display: none;
}
