<body>
  <div class="container-fluid" style="margin-left: 2vw;">
    <!-- <div id="mySidenav" class="sidenav" style="position:absolute;">
    
    </div> -->
    <div class="view" style="position: relative;">
      <div id="mySidenav" class="sidenav boxShadow" style="position: absolute;">
        <div style="padding: 20px;">
          <div style="float: right;">
            <button class="closeButton" (click)="closeSideNav()">
              <img
                src="../../../../assets/icons/close.svg"
                alt=""
                style="width: 15px; height: 15px;"
              />
            </button>
          </div>
          <div><h1>Book Meeting</h1></div>
          <div>
            <form (ngSubmit)="onBooking(b)" #b="ngForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="date">Date and Time</label>
                    <input class="form-control" type="text" name="dateOfMeeting" ngModel onfocus="(this.type='date')" onblur="(this.type='text')" id="date" required>
                    <!-- <input
                      class="form-control"
                      name="date"
                      id="date"
                      type="datetime-local"
                      ngModel
                      required
                    /> -->
                    <ngb-timepicker [(ngModel)]="time" ngModel name="time"></ngb-timepicker>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="duration">Duration</label>
                <div class="row">
                  <div class="col-sm-5 marginZero">
                    <input type="number" class="form-control" id="duration" ngModel name="duration" />
                  </div>
                  <div class="col-sm-6 marginZero paddingZero">
                    <p style="padding-top: 5px;">Hours</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="3"
                  name="description"
                  ngModel
                ></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-8 boxShadow"
          style="margin-right: 15px; padding: 15px;"
        >
          <div class="row">
            <div class="col-md-3">
              <img
                class="profilePicture boxShadow"
                [src]="teacherProfile.profilePictureUrl"
                alt="tutorImager̥"
              />
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-9">
                  <div style="font-size: 25px;">{{ teacherProfile.name }}</div>
                  <div
                    class="marginZero"
                    style="
                      font-size: medium;
                      color: rgb(109, 116, 116);
                      padding-top: 1px;
                    "
                  >
                    {{ teacherProfile.college }}
                  </div>
                  <div class="stars-outer" style="margin-top: 1px;">
                    <div
                      class="stars-inner"
                      [style.width.%]="teacherProfile.rating"
                    ></div>
                  </div>
                  <a href="#"> {{ teacherProfile.reviewCount }} Reviews</a>
                  <div style="font-size: smaller; margin-top: 1px;">
                    <span class="lessonCompleted">{{
                      teacherProfile.lessonCompleted
                    }}</span>
                    lessons completed
                  </div>
                </div>
                <div class="col-md-3 font19">₹ {{ teacherProfile.price }}</div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col">
              <p class="font19" style="font-weight: 500;">About Me</p>
              <p>{{ teacherProfile.description }}</p>
            </div>
          </div>
          <div class="row" style="margin-top: 30px;">
            <div class="col">
              <p class="font19" style="font-weight: 500;">About My Sessions</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 boxShadow" style="height: fit-content;">
          <div
            style="
              text-align: center;
              margin-bottom: 20px;
              margin-top: 10px;
              color: rgb(109, 116, 116);
            "
            class="font19"
          >
            Contact {{ teacherProfile.name }}
          </div>
          <button
            class="btn btn-primary"
            style="width: 100%; margin-bottom: 10px;"
          >
            Send Message
          </button>
          <hr />
          <button
            type="button"
            class="btn btn-outline-primary"
            style="width: 100%; margin-bottom: 10px;"
            (click)="openSideNav()"
          >
            Book free Meeting
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            style="width: 100%; margin-bottom: 10px;"
          >
            Book lessons
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
