<div class="primary-container">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>

            <li class="active">Recordings</li>
        </ol>
    </div>
    <div class="sort-container">
        <select>
            <option>Sort By</option>
            <option>Option 1</option>
        </select>
    </div>
    <div class="content-container">
        <div class="button-subject-container">
            <a class="buttons-for-subject">
                <div class="button-for-text">
                    <span class="subject-name"> Physics</span>
                    <span class="subject-information"> 8 Recordings</span>
                </div>
                <div class="button-for-icon">
                    <span class="fa fa-angle-double-right"></span>
                </div>

            </a>
            <a class="buttons-for-subject">
                <div class="button-for-text">
                    <span class="subject-name"> Physics</span>
                    <span class="subject-information"> 8 Recordings</span>
                </div>
                <div class="button-for-icon">
                    <span class="fa fa-angle-double-right"></span>
                </div>

            </a>
            <a class="buttons-for-subject">
                <div class="button-for-text">
                    <span class="subject-name"> Physics</span>
                    <span class="subject-information"> 8 Recordings</span>
                </div>
                <div class="button-for-icon">
                    <span class="fa fa-angle-double-right"></span>
                </div>

            </a>
        </div>
        <div class="content-container">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Name,Date,Duration</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" data-label="Thumbnail"><img src="assets/images/thumbnail_img.png"></td>
                        <td data-label="Name,Date,Duration" class="name-information"><span>By:Name</span><span>August 4th 2020, 10:30 PM</span><span>30 mins</span></td>
                    </tr>
                    <tr>
                        <td scope="row" data-label="Thumbnail"><img src="assets/images/thumbnail_img.png"></td>
                        <td data-label="Name,Date,Duration" class="name-information">@mdo</td>
                    </tr>
            </table>
        </div>
    </div>