<div class="primary-container">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>

            <li class="active">Recordings</li>
        </ol>
    </div>
    <div class="content-container">
        Buttons appear here
    </div>
    <div class="content-container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Name,Date,Duration</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" data-label="Id"><img src="assets/images/thumbnail_img.png"></td>
                    <td data-label="Name">@mdo</td>
                </tr>
                <tr>
                    <td scope="row" data-label="Id"><img src="assets/images/thumbnail_img.png"></td>
                    <td data-label="Name">@mdo</td>
                </tr>
        </table>
    </div>
</div>