<div class="book__meeting" *ngIf="isLoading" style="text-align: center">
  <app-loading></app-loading>
  <p style="margin: 1rem; font-size: large">Booking Meeting..</p>
</div>
<div *ngIf="!isLoading">
  <div class="book__meeting" *ngIf="!signedIn">
    <div style="text-align: center">
      <h4 style="font-weight: 400">Please Sign in to book a meeting !</h4>
      <button
        class="btn"
        style="float: unset; margin-top: 10px; width: 50%"
        routerLink="/login"
      >
        Sign In
      </button>
      <div class="access_footer" style="margin-top: 10px">
        <p>
          Don't have an account yet?
          <a href="javascript:;" style="color: #8dc63f" routerLink="/sign-up"
            >Create an account</a
          >
        </p>
        <!-- <div style="width: 100%;">
      <button class="btn">Sign In</button>
    </div> -->
      </div>
    </div>
  </div>
  <div *ngIf="signedIn">
    <div class="book__meeting" *ngIf="!isTutorAvailable">
      <div style="text-align: center">
        <h4 style="font-weight: 400">
          Expert is not available right now.<br />
          Check Back Later.
        </h4>
      </div>
    </div>

    <div class="book__meeting" *ngIf="isTutorAvailable">
      <h4>Book a Meeting</h4>
      <form>
        <div class="row">
          <div class="col-12">
            <div class="form-group" style="margin-bottom: 0">
              <mat-form-field appearance="fill" style="display: unset">
                <mat-label>Choose Topic</mat-label>
                <mat-select [(value)]="bookingDetails.subject" name="subject">
                  <mat-option
                    *ngFor="let subject of areaOfExpertises"
                    [value]="subject.subCategory"
                  >
                    {{ subject.subCategory }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12">
            <mat-form-field appearance="fill" style="display: unset">
              <mat-label>Choose Date</mat-label>
              <mat-select
                [(value)]="selectedDate"
                (selectionChange)="dateChange()"
                name="date"
              >
                <mat-option
                  *ngFor="let todayDate of scheduleDates; let z = index"
                  [value]="todayDate"
                >
                  {{ fullDate[z] | date: "fullDate" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <!-- <div *ngIf="noSchedule">
              <span> No available schedules</span>
            </div> -->
            <div class="form-group" style="margin-bottom: 0">
              <p class="errorText" *ngIf="errorMessage!=''">{{errorMessage}}</p>
              <div *ngIf="noSchedule">
                <span style="font-size: larger"> No available schedules</span>
              </div>
              <div *ngIf="!noSchedule">
                <label>Choose Time</label>
                <div class="start_time">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Start</mat-label>
                    <mat-select
                      [(value)]="startTimeValue"
                      (selectionChange)="startSlotChange()"
                    >
                      <mat-option
                        *ngFor="let time of startSlots; let i = index"
                        [value]="i"
                      >
                        <span *ngIf="selectedDate.date == time.date"
                          >{{ time.hours | timeConverter }}:{{
                            time.minutes | zero
                          }}
                          {{ time.hours | timeMedian }}</span
                        >
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="end_time">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>End</mat-label>
                    <mat-select
                      [(value)]="endTimeValue"
                      (selectionChange)="endSlotChange()"
                    >
                      <mat-option
                        *ngFor="let time of endSlots; let i = index"
                        [value]="i"
                      >
                        <span *ngIf="selectedDate.date == time.date"
                          >{{ time.hours | timeConverter }}:{{
                            time.minutes | zero
                          }}
                          {{ time.hours | timeMedian }}</span
                        >
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isCreditEligible">
          <div class="col-12" style="margin-bottom: 15px;">
            <h5>Redeem FG Credits</h5>
            <div *ngIf="!isCreditApplied">
              <div class="row">
                <div class="col-9">
                  Get discount of Rs. {{FGCredit}} 
                </div>
                <div class="col-3 align-right">
                  <a href="javascript:;"
                  (click)="onAppliedFGCredit()"
                  class="col-green">
                  Apply
                </a>
                </div>
              </div> 
              
            </div>
            
          <!-- FG Credit Modal begins -->
          <div
          class="modal fade join__Modal"
          id="Credits_Modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <!-- Modal Content: begins -->
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <button
                  type="button"
                  id="close-popup"
                  class="close close-credit"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- Modal Body -->
              <div class="modal-body">
                <div class="body-message">
                  <h4>Credits Info</h4>
                  <form (ngSubmit)="onAddCredit(t)" #t="ngForm">
                    <div class="what border_box invite__friend_box">
                      
                      <div class="row" style="margin-top:10px">
                        <div class="col-md-4">
                          FG Credits
                        </div>
                        <div class="col-md-8">
                          <input
                          type="number"
                          id="redeemedFGCredit"
                          name="redeemedFGCredit"
                          ngModel
                          class="form-control"
                          #redeemedFGCredit=ngModel
                          required
                          maxlength="50"
                          
                        />
                        </div>
                      </div>

                    
                      
                    
                  </div>


                    <div class="modal_btn feedback_submit">
                      <button
                        type="submit"
                        [disabled]="!t.valid"
                        
                        class="button btn_mdl"
                      >
                        Pay via FG Credit
                      </button>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
            <!-- Modal Content: ends -->
          </div>
        </div>
        <!--FG Credit Modal Ends-->

            <div *ngIf="isCreditApplied">
              <div class="row">
                <div class="col-9">
                  Discount of ₹{{FGCredit}} applied
                </div>
                <div class="col-3 align-right">
                  <a href="javascript:;"
              (click)="onRemoveFGCredit()"
              class="col-green">Remove</a>
                </div>
              </div>
              
              
            </div>
          </div>
         
          <div class="col-12">
            <div *ngIf="isCreditApplied">

              <hr class="hr-bold">
              <h5>Payment Summary</h5>
              <div class="row">
                <div class="col-9">
                  Total Amount:-
                </div>
                <div class="col-3 align-right">
                  ₹{{totalAmount}}
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  Credits Discount:-
                </div>
                <div class="col-3 align-right">
                  -₹{{FGCredit}}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  ({{remainingFGCredit}} FG Credits Remaining)
                </div>
              </div>
              <hr class="hr-dashed">
              <div class="row">
                <div class="col-9">
                  Payable Amount:-
                </div>
                <div class="col-3 align-right">
                  ₹{{payableAmount}}
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-12" style="margin-bottom: 15px">
            <a
              href="javascript:;"
              (click)="showExpertCode = !showExpertCode"
              style="color: #8dc63f; cursor: pointer"
              >Have an Expert Code?</a
            >
          </div>
          <mat-form-field appearance="fill" [class.hideBlock]="!showExpertCode">
            <mat-label>Expert Code</mat-label>
            <input matInput name="expertCode" [(ngModel)]="expertCode"/>
          </mat-form-field> -->
          <!-- <div class="col-12">
                        <div class="form-group">
                          <label>Attachment</label>
                          <div class="file_Upload">
                            <input type="file" id="real-file" hidden="hidden" />
                            <button type="button" id="custom-button">
                              <img
                                src="../../assets/images/file-upload.svg"
                                alt="#"
                              />
                            </button>
                            <span id="custom-text">No file selected</span>
                          </div>
                        </div>
                      </div> -->

          <!-- <div *ngIf="!isCreditApplied&&isCreditEligible">
            <div class="col-12">
              <button
                style="width: 100%"
                class="button proceed_btn"
                (click)="onAppliedFGCredit()"
              >
               Apply FG Credit
              </button>
            </div>
          </div> -->
          </div>
          <!-- <ng-template #notFGCreditEligible>
            <div class="row" style="margin-top: 10px;">
              <div class="col-12">
                No FG Credits to get discount on booking amount
              </div>
            </div>
          </ng-template> -->
          <div class="col-12" >
            <button
              style="width: 100%; margin-top: 15px;"
              class="button proceed_btn"
              (click)="onBooking()"
              [disabled]="!bookingDetails.subject||noSchedule"
            >
              Proceed to Payment (₹{{ payableAmount }})
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
