::ng-deep .mat-icon-button{
    color: #8DC63F !important;
}


::ng-deep .mat-icon-button .mat-button-wrapper{
    position: absolute;
    top: 0;
    right: 7px;
} 

@media only screen and (max-width: 1080px){
    ::ng-deep .mat-icon-button .mat-button-wrapper{
        color:white;
        
    } 
}