<div>
    <div style="margin-bottom: 10px;">
        <h1>Users count : {{userAnalytics.usersCount}}</h1>
    </div>

    <div style="margin-bottom: 10px;">
        <h1>Daily Login  : {{userAnalytics.dailyLoginCount}}</h1>
    </div>

    <div style="margin-bottom: 10px;">
        <h1>Weekly Login : {{userAnalytics.weeklyLoginCount}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Monthly Login : {{userAnalytics.monthlyLoginCount}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Daily SignUp : {{userAnalytics.dailySignUpCount}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Weekly SignUp : {{userAnalytics.weeklySignUpCount}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Monthly SignUp : {{userAnalytics.monthlySignUpCount}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Daily Meetings Setup : {{userAnalytics.dailyMeetingsSetup}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Weekly Meetings Setup : {{userAnalytics.weeklyMeetingSetup}}</h1>
    </div>
    <div style="margin-bottom: 10px;">
        <h1>Monthly Meetings Setup : {{userAnalytics.monthlyMeetingSetup}}</h1>
    </div>
</div>
