body {
  height: 100vh;
  background-color: #f9fafc;
}

.outer-box {
  width: 80%;
  background-color: white;
  height: 80%;
  margin: auto;
  box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
}

.inner-box {
  width: 80%;
  margin: auto;
  height: 100%;
  /* background-color: blue; */
}

button {
  width: 100%;
}

.setLength {
  float: right;
  color: gray;
  font-size: small;
}

.navigation-links {
  text-align: center;
  cursor: pointer;
  padding: 15px;
  font-size: larger;
}

.form-navigation {
  border-bottom: 1px solid #ccc;
}

.border-right {
  border-right: 1px solid #ccc;
}

.active {
  box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
  color: #241084;
  background-color: rgb(199, 203, 217, 0.7);
}

.progress-Bar {
  width: 100%;
  height: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.outer-progressBar {
  background-color: #ccc;
  height: inherit;
  border-radius: 8px;
}

.inner-progressBar {
  background-color: #241084;
  height: inherit;
  width: 0;
  border-radius: 8px;
}

.form-body {
  /* background-color: lightcoral; */
  height: 75%;
}

.form-group {
  position: relative;
  margin-bottom: 1.4rem;
  /* width: 25vw; */
}

.form-control {
  padding-left: 15px;
}

.example-chip-list {
  width: 100%;
}

.completeProfileLink {
  color: #241084;
}

.completeProfileLink:hover {
  text-decoration: underline;
}

.help-block {
  color: red;
  font-size: 12px;
}

.form-control:focus {
  border-color: #8093eb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 5px rgba(131, 137, 221, 0.5);
}

.Box {
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
  margin-bottom: 20px;
  background-color: white;
  position: relative;
}

.marginZero {
  margin: 0;
}

.displaySubjects {
  display: inline;
  margin-right: 10px;
  background-color: tomato;
  color: white;
  padding: 7px;
  border-radius: 5px;
}

.content-Box {
  padding-left: 10px;
}

.editIconButton {
  background-color: white;
  border: none;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 15px;
  right: 20px;
  font-size: larger;
  cursor: pointer;
  color: #8d89aa;
  outline: none;
}

.editIconButton:hover {
  background-color: #ccc;
  border-radius: 50%;
  color: black;
}

.editIcon {
  position: absolute;
  top: 13px;
  left: 13px;
}

h1 {
  font-weight: 400 !important;
}

h2 {
  font-weight: 400 !important;
  margin: 0 0 10px !important;
}

p {
  font-weight: 300 !important;
}

.errorMessage {
  color: red;
  margin: 5px;
}

.hideBlock {
  display: none;
}

.loader {
  position: absolute;
  top: -5px;
  right: 73px;
  height: 0;
}
.leftBox {
  border-right: 1px solid rgb(164, 162, 162);
}

.learningArea-fields {
  margin-bottom: 2.5vh;
}

.help-block {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  padding-top: 0;
  text-align: center;
}

.btn-success {
  margin-right: 3vw;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(57, 9, 61);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mainContent {
  transition: margin-left 0.5s;
  padding: 16px;
}

#headerContent {
  transition: margin-left 0.5s;
  /* padding: 16px; */
}

.header {
  transition: margin-left 0.5s;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #b1a5a57a;
  width: 100vw;
  margin-left: -2vw;
  display: block;
  float: left;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  padding-left: 15px;
  margin-top: -2vh;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.active {
  color: white !important;
  background-color: #7d0f7d !important;
}
.width50 {
  width: 50%;
}
.tags {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-right: 5px;
  border-radius: 0.25rem;
  width: 82%;
  display: inline-block;
}
