body {
	height: auto;
	background-color: #f9fafc;
}

.outer-box {
	width: 80%;
	background-color: white;
	height: 80%;
	margin: auto;
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
}

.inner-box {
	width: 80%;
	margin: auto;
	height: 100%;
	/* background-color: blue; */
}

button {
	width: 100%;
}

.setLength {
	float: right;
	color: gray;
	font-size: small;
}

.navigation-links {
	text-align: center;
	cursor: pointer;
	padding: 15px;
	font-size: larger;
}

.form-navigation {
	border-bottom: 1px solid #ccc;
}

.border-right {
	border-right: 1px solid #ccc;
}

.active {
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
	color: #241084;
	background-color: rgb(199, 203, 217, 0.7);
}

.progress-Bar {
	width: 100%;
	height: 8px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.outer-progressBar {
	background-color: #ccc;
	height: inherit;
	border-radius: 8px;
}

.inner-progressBar {
	background-color: #241084;
	height: inherit;
	width: 0;
	border-radius: 8px;
}

.form-body {
	/* background-color: lightcoral; */
	height: 75%;
}

.form-group {
	position: relative;
	margin-bottom: 1.4rem;
	/* width: 25vw; */
}

.form-control-placeholder {
	position: absolute;
	top: 5px;
	left: 11px;
	padding-left: 5px;
	padding-right: 5px;
	transition: all 500ms;
	opacity: 1;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
	font-size: 90%;
	transform: translate3d(0, -75%, 0);
}

label {
	background-color: white;
	margin: 0;
}

.form-control {
	padding-left: 15px;
}

.example-chip-list {
	width: 100%;
}

.completeProfileLink {
	color: #241084;
}

.completeProfileLink:hover {
	text-decoration: underline;
}

input.ng-invalid.ng-touched {
	border-left-color: red;
	border-left-width: 3px;
}

input.ng-valid {
	border-left-color: green;
	border-left-width: 3px;
}

label {
	color: rgb(129, 124, 124);
}

.help-block {
	color: red;
	font-size: 12px;
}

.form-control:focus {
	border-color: #8093eb;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(131, 137, 221, 0.5);
}

.Box {
	padding: 20px;
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
	margin-bottom: 20px;
	background-color: white;
	position: relative;
}

.marginZero {
	margin: 0;
}

.displaySubjects {
	display: inline;
	margin-right: 10px;
	background-color: tomato;
	color: white;
	padding: 7px;
	border-radius: 5px;
}

.content-Box {
	padding-left: 10px;
}

.editIconButton {
	background-color: white;
	border: none;
	position: absolute;
	width: 45px;
	height: 45px;
	top: 15px;
	right: 20px;
	font-size: larger;
	cursor: pointer;
	color: #8d89aa;
	outline: none;
}

.editIconButton:hover {
	background-color: #ccc;
	border-radius: 50%;
	color: black;
}

.editIcon {
	position: absolute;
	top: 13px;
	left: 13px;
}

h1 {
	font-weight: 400 !important;
}

h2 {
	font-weight: 400 !important;
	margin: 0 0 10px !important;
}

p {
	font-weight: 300 !important;
}
.errorMessage {
	color: red;
}
.hideBlock {
	display: none;
}
