<body style="padding: 20px;">
    <div class="outer-box" style="padding-bottom: 20px;" *ngIf="formProgress<99">
        <div class="inner-box">
            <div class="form-navigation">
                <div class="row">
                    <div class="col-md-3 navigation-links border-right">
                        <a>Basic Info</a>
                    </div>
                    <div class="col-md-3 navigation-links border-right">
                        <a>Profile</a>
                    </div>
                    <div class="col-md-3 navigation-links border-right">
                        <a>Verification</a>
                    </div>
                    <div class="col-md-3 navigation-links">
                        <a>Complete</a>
                    </div>
                </div>
            </div>
            <div class="progress-Bar">
                <div class="outer-progressBar">
                    <div class="inner-progressBar" [style.width.%]="formProgress"></div>
                </div>
            </div>
            <div class="form-body" style="padding-top: 10px;">
                <!-- --------------------------------------------- basic info --------------------------------------------------------------- -->
                <div *ngIf="formProgress == 12">
                    <form #basicInfo="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="fullName" name="fullName" [ngModel]="tutorProfile.fullName" class="form-control" required />
                                    <label class="form-control-placeholder" for="fullName">Full Name</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    [ngModel]="tutorProfile.email"
                    class="form-control"
                    required
                    email
                    #email="ngModel"
                    disabled
                  />
                  <label style="
                  position: absolute;
                  top: -17px;
                  left: 10px;" 
                  for="email"
                    >Email Address</label
                  >
                  <span class="help-block" *ngIf="!email.valid && email.touched"
                    >Invalid email</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="number"
                    id="phoneNumber"
                    name="contact"
                    [ngModel]="tutorProfile.contact"
                    [pattern]="mobNumberPattern"
                    class="form-control"
                    required
                    #contact="ngModel"
                  />
                  <label class="form-control-placeholder" for="phoneNumber"
                    >Phone Number</label
                  >
                  <span
                    class="help-block"
                    *ngIf="!contact.valid && contact.touched"
                    >Invalid phone number</span
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="dateOfBirth"
                    [ngModel]="tutorProfile.dateOfBirth"
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')"
                    id="date"
                    required
                  />
                  <label class="form-control-placeholder" for="date"
                    >Date of Birth</label
                  >
                  <span class="help-block" *ngIf="showDateError">
                    Please enter valid DOB
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="AddressLine1"
                    name="addressLine1"
                    [(ngModel)]="tutorProfile.addressLine1"
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="AddressLine1"
                    >Address Line 1</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="AddressLine2"
                    name="addressLine2"
                    [(ngModel)]="tutorProfile.addressLine2"
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="AddressLine2"
                    >Address Line 2</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="tutorProfile.country"
                    name="country"
                    id="Country"
                    required
                  >
                    <option>India</option>
                    <option>USA</option>
                    <option>China</option>
                    <option>UK</option>
                  </select>
                  <label class="form-control-placeholder" for="Country"
                    >Country</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="tutorProfile.state"
                    name="state"
                    id="state"
                    required
                  >
                  <option >Andhra Pradesh</option>
<option >Andaman and Nicobar Islands</option>
<option >Arunachal Pradesh</option>
<option >Assam</option>
<option >Bihar</option>
<option >Chandigarh</option>
<option >Chhattisgarh</option>
<option >Dadar and Nagar Haveli</option>
<option >Daman and Diu</option>
<option >Delhi</option>
<option >Lakshadweep</option>
<option >Puducherry</option>
<option >Goa</option>
<option >Gujarat</option>
<option >Haryana</option>
<option >Himachal Pradesh</option>
<option >Jammu and Kashmir</option>
<option >Jharkhand</option>
<option >Karnataka</option>
<option >Kerala</option>
<option >Madhya Pradesh</option>
<option >Maharashtra</option>
<option >Manipur</option>
<option >Meghalaya</option>
<option >Mizoram</option>
<option >Nagaland</option>
<option >Odisha</option>
<option >Punjab</option>
<option >Rajasthan</option>
<option >Sikkim</option>
<option >Tamil Nadu</option>
<option >Telangana</option>
<option >Tripura</option>
<option >Uttar Pradesh</option>
<option >Uttarakhand</option>
<option >West Bengal</option>
                  </select>
                  <label class="form-control-placeholder" for="state"
                    >State</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="city"
                    name="city"
                    ngModel
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="city"
                    >City</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    #profilePicture
                    hidden="true"
                    type="file"
                    onclick="this.value=null"
                    (change)="profilePictureChange($event)"
                    required
                  />
                  <button
                    class="btn btn-outline-primary"
                    (click)="profilePicture.click()"
                  >
                    Upload profile picture
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="padding-left: 15px; margin-bottom: 5px;">
              <h1 style="margin: 0; font-weight: 300; color: #241084;">
                I can Tutor ...
              </h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip
                      *ngFor="let fruit of fruits"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(fruit)"
                      required
                    >
                      {{ fruit }}
                      <mat-icon matChipRemove *ngIf="removable"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <input
                      placeholder="New Subject ... Max 3"
                      #fruitInput
                      [formControl]="fruitCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                  >
                    <mat-option
                      *ngFor="let fruit of filteredFruits | async"
                      [value]="fruit"
                    >
                      {{ fruit }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div class="errorMessage" *ngIf="!subjectsValid">Enter valid Subjects</div>
                <div class="errorMessage" *ngIf="only3Subjects"> You are required to select 3 subjects only
                  and no 2 subjects can be same
                </div>
                <div class="form-group" style="margin-top: 15px;">
                  <select
                    class="form-control"
                    [(ngModel)]="tutorFormDetails.price1"
                    name="price1"
                    id="price1"
                    required
                  >
                    <option selected>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                    <option>600</option>
                    <option>700</option>
                    <option>800</option>
                    <option>900</option>
                    <option>1000</option>
                    <option>1500</option>
                    <option>2000</option>
                    <option>2500</option>
                    <option>3000</option>
                    <option>3500</option>
                    <option>4000</option>
                    <option>4500</option>
                    <option>5000</option>
                  </select>
                  <label class="form-control-placeholder" for="price1"
                    >Price per hour (in Rupees)</label
                  >
                </div>
              </div>
              <div class="col-md-6" style="padding-top: 8px;">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="tutorFormDetails.gradeLevel"
                    name="gradeLevel"
                    id="gradeLevel"
                    required
                  >
                    <option selected>Elementary</option>
                    <option>Kindergarten</option>
                    <option>Middle School</option>
                    <option>High School</option>
                    <option>College</option>
                  </select>
                  <label class="form-control-placeholder" for="gradeLevel"
                    >Grade level</label
                  >
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button
                  (click)="basicInfoComplete(basicInfo)"
                  class="btn btn-outline-primary"
                  [disabled]="!basicInfo.valid"
                >
                  Continue
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div>
        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- ------------------------------------------ profile form ------------------------------------------------- -->
        <div *ngIf="formProgress == 37">
          <form (ngSubmit)="profileComplete(profileForm)" #profileForm="ngForm">
            <div class="row" style="padding-left: 15px; margin-bottom: 5px;">
              <h1 style="margin: 0; font-weight: 300; color: #241084;">
                What Makes You Different ?
              </h1>
            </div>
            <div class="row" style="padding-top: 20px;">
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    style="padding-top: 10px;"
                    class="form-control"
                    id="description"
                    rows="3"
                    name="description"
                    maxlength="250"
                    [ngModel]="tutorProfileDetails.description"
                    #tutorProfileDescription
                    required
                  ></textarea>
                  <label for="description" class="form-control-placeholder"
                    >Description</label
                  >
                  <span class="setLength">{{tutorProfileDescription.value.length}}/250</span>
                </div>
                <!-- ............................ -->
                <div class="form-group">
                  <textarea
                    style="padding-top: 10px;"
                    class="form-control"
                    id="speciality"
                    rows="3"
                    name="speciality"
                    maxlength="250"
                    [ngModel]="tutorProfileDetails.speciality"
                    #tutorProfileSpeciality
                    required
                  ></textarea>
                  <label for="speciality" class="form-control-placeholder"
                    >Speciality</label
                  >
                  <span class="setLength">{{tutorProfileSpeciality.value.length}}/250</span>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="majorSubject"
                    name="majorSubject"
                    [(ngModel)]="tutorProfileDetails.majorSubject"
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="majorSubject"
                    >Your Major</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    id="studyInstitution"
                    name="studyInstitution"
                    [(ngModel)]="tutorProfileDetails.studyInstitution"
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="studyInstitution"
                    >Institution Name</label
                  >
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    min="1950"
                    [max]="maxGraduationYear"
                    id="graduationYear"
                    name="graduationYear"
                    [(ngModel)]="tutorProfileDetails.graduationYear"
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="graduationYear"
                    >Graduation Year</label
                  >
                </div>
              </div>
            </div>
            <div class="row" style="padding-left: 15px; margin-bottom: 5px;">
              <h1 style="margin: 0; font-weight: 300; color: #241084;">
                Professional Background &nbsp;<sup style="font-size: 60%;"
                  >*optional</sup
                >
              </h1>
            </div>
            <div class="row" style="padding-top: 20px;">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="workTitle"
                    name="workTitle"
                    [(ngModel)]="tutorProfileDetails.workTitle"
                    class="form-control"
                  />
                  <label class="form-control-placeholder" for="workTitle"
                    >Work Title</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="workInstitution"
                    name="workInstitution"
                    [(ngModel)]="tutorProfileDetails.workInstitution"
                    class="form-control"
                  />
                  <label class="form-control-placeholder" for="workInstitution"
                    >Institution Name</label
                  >
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button
                  class="btn btn-outline-primary"
                  [disabled]="!profileForm.valid"
                >
                  Continue
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div>
        <!-- -------------------------------------------- Verification Form ------------------------------------------------------------------ -->
        <div *ngIf="formProgress == 62">
          <form #verificationForm="ngForm">
            <div class="row" style="padding-left: 15px; margin-bottom: 5px;">
              <img
                src="../../../assets/icons/info.svg"
                alt="info"
                style="width: 20px; height: 20px;"
              />
              <p style="margin-left: 10px; font-weight: 300; color: #241084;">
                Once approved, your new verified Status also means you will rank
                higher in search results , attracting more students
              </p>
            </div>
            <div class="row" style="padding-left: 15px; margin-bottom: 20px;">
              <h1 style="margin: 0; font-weight: 300; color: #241084;">
                Upload Id Documents
              </h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    ngModel
                    name="country"
                    id="Country"
                    required
                  >
                    <option>India</option>
                    <option>USA</option>
                    <option>China</option>
                    <option>UK</option>
                  </select>
                  <label class="form-control-placeholder" for="country"
                    >Country</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    ngModel
                    name="state"
                    id="state"
                    required
                  >
                  <option >Andhra Pradesh</option>
                  <option >Andaman and Nicobar Islands</option>
                  <option >Arunachal Pradesh</option>
                  <option >Assam</option>
                  <option >Bihar</option>
                  <option >Chandigarh</option>
                  <option >Chhattisgarh</option>
                  <option >Dadar and Nagar Haveli</option>
                  <option >Daman and Diu</option>
                  <option >Delhi</option>
                  <option >Lakshadweep</option>
                  <option >Puducherry</option>
                  <option >Goa</option>
                  <option >Gujarat</option>
                  <option >Haryana</option>
                  <option >Himachal Pradesh</option>
                  <option >Jammu and Kashmir</option>
                  <option >Jharkhand</option>
                  <option >Karnataka</option>
                  <option >Kerala</option>
                  <option >Madhya Pradesh</option>
                  <option >Maharashtra</option>
                  <option >Manipur</option>
                  <option >Meghalaya</option>
                  <option >Mizoram</option>
                  <option >Nagaland</option>
                  <option >Odisha</option>
                  <option >Punjab</option>
                  <option >Rajasthan</option>
                  <option >Sikkim</option>
                  <option >Tamil Nadu</option>
                  <option >Telangana</option>
                  <option >Tripura</option>
                  <option >Uttar Pradesh</option>
                  <option >Uttarakhand</option>
                  <option >West Bengal</option>
                                   
                  </select>
                  <label class="form-control-placeholder" for="state"
                    >State</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    ngModel
                    name="idType"
                    id="idType"
                    required
                  >
                    <option>Aadhar Card</option>
                    <option>Student Id</option>
                    <option>Driving License</option>
                    <option>Other Govt authorised Id</option>
                  </select>
                  <label class="form-control-placeholder" for="idType"
                    >Type</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="idNumber"
                    name="idNumber"
                    ngModel
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="idNumber"
                    >Id Number</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    #idDocument
                    hidden="true"
                    type="file"
                    onclick="this.value=null"
                    (change)="idDocumentChange($event)"
                    required
                  />
                  <button
                    class="btn btn-outline-primary"
                    (click)="idDocument.click()"
                  >
                    Upload id Documents
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="padding-left: 15px; margin-bottom: 20px;">
              <h1 style="margin: 0; font-weight: 300; color: #241084;">
                Upload Student Documents
              </h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    ngModel
                    name="educationType"
                    id="educationType"
                    required
                  >
                    <option>Diploma</option>
                    <option>Associate</option>
                    <option>Bachelor</option>
                    <option>Master</option>
                    <option>Ph.D</option>
                    <option>Higher Diploma</option>
                    <option>Post Graduate</option>
                    <option>Other</option>
                  </select>
                  <label class="form-control-placeholder" for="educationType"
                    >Education Type</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="educationInstitution"
                    name="educationInstitution"
                    ngModel
                    class="form-control"
                    required
                  />
                  <label
                    class="form-control-placeholder"
                    for="educationInstitution"
                    >Institution Name</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    id="fieldOfStudy"
                    name="fieldOfStudy"
                    ngModel
                    class="form-control"
                    required
                  />
                  <label class="form-control-placeholder" for="fieldOfStudy"
                    >Field Of Study</label
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    #studentDocument
                    hidden="true"
                    type="file"
                    onclick="this.value=null"
                    (change)="educationDocumentChange($event)"
                    required
                  />
                  <button
                    class="btn btn-outline-primary"
                    (click)="studentDocument.click()"
                  >
                    Upload latest Marksheet or degree
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button
                  class="btn btn-outline-success"
                  (click)="verificationComplete(verificationForm)"
                  [disabled]="!verificationForm.valid || !disableContinue1 || !disableContinue2"
                >
                  Submit
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div>
        <!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
      </div>
    </div>
  </div>

  <!-- after profile Completed  -->
  <div class="container" *ngIf="formProgress>=99">
    <div class="row">
      <div class="col-md-8">
        <!-- for profile picture -->

        <div class="row Box">
          <button
            class="editIconButton"
            (click)="tutProfileDetailsEdit4()"
            title="Edit"
          >
            <i class="far fa-edit editIcon"></i>
          </button>
          <div class="col-md-2" style="margin-right: 30px;">
            <img
              [src]="tutorProfile.profilePictureUrl"
              alt="profilePicture"
              style="width: 100px; height: 100px; border-radius: 5px;"
              (click)="profilePicture.click()"
              title="update profile picture"
            />
            <div class="form-group" style="margin-top: 5px;">
              <input
                #profilePicture
                hidden="true"
                type="file"
                onclick="this.value=null"
                (change)="profilePictureChangeCompleted($event)"
                required
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <p
                style="
                  font-size: 2.4rem;
                  line-height: 1.333;
                  font-weight: 300;
                  margin: 0;
                  width: 100%;
                "
              >
                {{ tutorProfile.fullName }}
              </p>
              <p
                style="
                  font-size: 1.2rem;
                  line-height: 1.5;
                  font-weight: 300;
                  margin: 0;
                  width: 100%;
                "
              >
                {{ tutorProfile.email }}
              </p>
              <p
                style="
                  font-size: 1.2rem;
                  line-height: 1.5;
                  font-weight: 200;
                  margin: 0;
                  width: 100%;
                "
              >
                {{ tutorProfile.city }} , {{ tutorProfile.state }}
              </p>
            </div>
          </div>
        </div>
        <!-- for public Profile -->
        <div class="row Box">
          <button
            class="editIconButton"
            (click)="tutProfileDetailsEdit3()"
            title="Edit"
          >
            <i class="far fa-edit editIcon"></i>
          </button>
          <div class="row marginZero" style="width: 100%;">
            <h1>My Public Profile</h1>
          </div>
          <div style="width: 100%;">
            <div><h2>Description</h2></div>
            <div>
              <p>{{ tutorFormDetails.description }}</p>
            </div>
          </div>
          <div style="width: 100%;">
            <div><h2>My specialities</h2></div>
            <div>
              <p>{{ tutorFormDetails.speciality }}</p>
            </div>
          </div>
        </div>
        <!-- for subjects -->
        <div class="row Box">
          <button
            class="editIconButton"
            (click)="tutProfileDetailsEdit2()"
            title="Edit"
          >
            <i class="far fa-edit editIcon"></i>
          </button>
          <div class="row marginZero" style="width: 100%;">
            <h1>My Subjects</h1>
          </div>
          <div class="content-box">
            <div style="width: 100%;">
              <div><h2>Grade i can tutor</h2></div>
              <div>
                <p>{{ tutorFormDetails.gradeLevel }}</p>
              </div>
            </div>
            <div style="width: 100%;">
              <div><h2>Subjects I can teach</h2></div>
              <div>
                <div class="displaySubjects">
                  {{ tutorFormDetails.subject1 }}
                </div>
                <div class="displaySubjects">
                  {{ tutorFormDetails.subject2 }}
                </div>
                <div class="displaySubjects">
                  {{ tutorFormDetails.subject3 }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- for education and certificates -->
        <div class="row Box">
          <button
            class="editIconButton"
            (click)="tutProfileDetailsEdit()"
            title="Edit"
          >
            <i class="far fa-edit editIcon"></i>
          </button>
          <div class="row marginZero" style="width: 100%;">
            <h1>My Education & Certificates</h1>
          </div>
          <div style="width: 100%;">
            <div>
              <h2>B.tech , {{ tutorFormDetails.majorSubject }}</h2>
            </div>
            <div>
              <p>{{ tutorFormDetails.studyInstitution }}</p>
            </div>
          </div>
          <div style="width: 100%;">
            <div>
              <h2>Graduation year</h2>
                <p style="display: inline;">
                {{ tutorFormDetails.graduationYear }}
              </p>
            </div>
          </div>
        </div>

        <div class="row Box">
          <button class="editIconButton" (click)="basicInfoEdit()" title="Edit">
            <i class="far fa-edit editIcon"></i>
          </button>
          <div class="row marginZero" style="width: 100%;">
            <h1>Basic Info</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div style="width: 100%;">
                <div><h3 style="font-weight: 500;">Name</h3></div>
                <div>
                  <p>{{ tutorProfile.fullName }}</p>
                </div>
              </div>
              <div style="width: 100%;">
                <div><h3 style="font-weight: 500;">Contact</h3></div>
                <div>
                  <p>{{ tutorProfile.contact }}</p>
                </div>
              </div>
              <div style="width: 100%;">
                <div><h3 style="font-weight: 500;">Date Of Birth</h3></div>
                <div>
                  <p>{{ tutorProfile.dateOfBirth }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div style="width: 100%;">
                <div><h3 style="font-weight: 500;">Address</h3></div>
                <div>
                  <p>{{ tutorProfile.addressLine1 }}</p>
                  <p>{{ tutorProfile.addressLine2 }}</p>
                </div>
              </div>
              <div style="width: 100%;">
                <div><h3 style="font-weight: 500;">Email</h3></div>
                <div>
                  <p>{{ tutorProfile.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ------------------------------------------------ -->
      </div>
      <div class="col-md-1"></div>
      <div
        class="col-md-3 Box"
        style="height: fit-content; padding: 20px; text-align: center;"
      >
        <h1 style="font-weight: 500; font-weight: 2.4rem;">
          Verification under review
        </h1>
        <p style="font-weight: 1.2rem; line-height: 1.5; font-weight: 400;">
          We are currently reviewing your profile and will get back to you
          shortly
        </p>
      </div>
    </div>
  </div>
</body>