<body>
  <div class="container" style="margin-bottom:50px ;">
      <div class="row">
          <div class="col-md-6">
            <div style="margin:10px">
              <p style="color: #e3165b; font-size:x-large;margin-right: 40px;display: inline;"><b>PROFILE</b></p>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" [class.active]="basic" (click)="basicProfile()">Basic</button>
                <button type="button" class="btn btn-secondary" [class.active]="!basic" (click)="advancedProfile()">Advanced</button>
              </div>
            </div>
              <img style="width:130px; height:130px; border-radius: 100%; border: 1px solid black" src="../../../assets/images/ajayVerma.jpg">
              <p style="text-align: center;
              text-decoration: underline;margin-top: 5px;width: 140px;"><a href="#">Upload</a></p>
          </div>
          <div class="col-md-3" style="text-align: end;margin: 20px;">
              <button class="btn" style="margin-right: 2vw; text-decoration: underline; width: auto;">Cancel</button>
              <button type=button class="btn" style=" 
              padding: 1vh 2vw;
              background-color: purple;
              color: white;
              width: auto;
              font-size: small">Save</button>
          </div>
      </div>

      <br>
      <div class="row" *ngIf="basic">
          <div class="col-md-7 leftBox">
              <!-- <div class="logo"></div> -->
              <!-- <form (ngSubmit)="onSignUp(t)" #t="ngForm"> -->
              <div class="form-group">
                  <label  for="fullName">Full Name</label>
                  <input type="text" id="fullName" name="fullName" ngModel class="form-control input-fields" required #fullName="ngModel" maxlength="50" autofocus />

                  <span class="help-block" *ngIf="!fullName.valid && fullName.touched">Invalid Name</span>
              </div>

              <div class="form-group">
                  <label  for="email">Email Address</label>
                  <input type="email" id="email" name="email" ngModel class="form-control input-fields" required email #email="ngModel" maxlength="64" pattern="[a-zA-Z0-9_.+-]{1,20}@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|piet|yahoo|hotmail|rediffmail|apple|microsoft)\.([a-z]{2,4})(\.[a-z]{2,4})?$"
                  />
                  <span *ngIf="(!email.valid && email.touched) || emailValid" class="help-block">Invalid email</span>
              </div>

              <div class="form-group">
                  <label  for="dob">Date of Birth</label>
                  <input type="date" id="dob" name="dob" ngModel class="form-control input-fields" required #dob="ngModel" />
                  <span *ngIf="!dob.valid && dob.touched" class="help-block">Invalid dob</span>
              </div>

              <div class="form-group">
                  <label  for="contact">Mobile Number</label>
                  <input type="text" id="contact" class="form-control input-fields" ngModel name="contact" required [pattern]="mobNumberPattern" #contact="ngModel" />

                  <span *ngIf="!contact.valid && contact.touched" class="help-block">Invalid contact</span>
              </div>

              <div class="form-group">
                  <label  for="role">Select</label>
                  <select class="form-control input-fields" ngModel name="role" required>
                      <option>A</option>
                      <option>B</option>
                  </select>
              </div>
              <div class="form-group">
                  <label  for="professionalSkills">Professional Skills</label>
                  <input type="text" id="professionalSkills" class="form-control input-fields" ngModel name="professionalSkills" required #professionalSkills="ngModel" />
                  <span *ngIf="!professionalSkills.valid && professionalSkills.touched" class="help-block">Invalid professional skills</span>
              </div>



              <!-- </form> -->
          </div>
          <!-- Learning Areas -->
          <div class="col-md-5">
            <div class="form-group">
              
              <label for="expertise">Educational Qualifications & Certifications</label>
              <div style="margin: 10px; margin-left:0;"  *ngFor="let education of educationInstitutes;let i=index">
               <div class="tags" style="display: inline;">{{education}}</div>
               <button [disabled]="disableSub" type="button" class="btn btn-danger btn-circle btn-sm" style="display: inline;" (click)="deleteEducation(i)" style="font-size: inherit;">-</button>
              </div>
              <div>
                <input 
                type="search"
                name="search" 
                style="
                    display: inline;
                    width: max-content;
                    margin-right: 5px;"
                class="form-control input-fields"
                [(ngModel)]="inputEducation"
                placeholder="Enter Institute Name" 
                />
                <div style="    
                    width: max-content;
                    display: inline;"
             >
               <button [disabled]="disableAdd" type="button" class="btn btn-success btn-circle btn-sm" (click)="addEducation()" style="font-size: inherit;display: inline;">+</button>
             </div>
              </div>
              
           </div>
          </div>
      </div>

      <div class="row" *ngIf="!basic">
        <div class="col-md-5 leftBox">
            <!-- <div class="logo"></div> -->
            <!-- <form (ngSubmit)="onSignUp(t)" #t="ngForm"> -->
            <div class="form-group">
                <label  for="Institute">Institute</label>
                <input type="text" id="Institute" name="Institute" ngModel class="form-control input-fields" required #Institute="ngModel" maxlength="50" autofocus />

                <span class="help-block" *ngIf="!Institute.valid && Institute.touched">Invalid Institute</span>
            </div>

            <div class="form-group ">
              
               <label for="expertise" style="width:100%">Area of Expertise</label>

               <div style="margin: 10px; margin-left: 0;" *ngFor="let expertise of expertises;let i=index">
                <div class="tags" style="display: inline;">{{expertise}}</div>
                <button [disabled]="disableSub" type="button" class="btn btn-danger btn-circle btn-sm" style="display: inline;" (click)="deleteExpertise(i)" style="font-size: inherit;">-</button>
               </div>
               
               <input 
               type="search"
               name="search" 
               class="form-control input-fields"
               placeholder="Search by Subjects" 
               [formControl]="myControl"
               [matAutocomplete]="auto"
               [(ngModel)]="selectedExpertise"
               style="
               display: inline;
               width: max-content;
               margin-right: 5px;"/>
              <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <div style="    
              width: max-content;
              display: inline;"
       >
         <button [disabled]="disableAdd" type="button" class="btn btn-success btn-circle btn-sm" (click)="saveExpertise()" style="font-size: inherit;display: inline;">+</button>
       </div>
            </div>

            <!-- </form> -->
        </div>
        <!-- Learning Areas -->
        <div class="col-md-5">
          <div class="form-group">
            <label  for="yearsOfExperience">Years of Experience</label>
            <input type="number" id="yearsOfExperience" name="yearsOfExperience" ngModel class="form-control input-fields" required #yearsOfExperience="ngModel"  />

            <span class="help-block" *ngIf="!yearsOfExperience.valid && yearsOfExperience.touched">Invalid years of experience</span>
        </div>
        <div class="form-group">
          <label  for="currentOrganisation">Current Organisation</label>
          <input type="text" id="currentOrganisation" name="currentOrganisation" ngModel class="form-control input-fields" required #currentOrganisation="ngModel" maxlength="50"/>

          <span class="help-block" *ngIf="!currentOrganisation.valid && currentOrganisation.touched">Invalid current organisation</span>
      </div>

      <div class="form-group">
              
        <label for="expertise">Previous Organisation</label>
        <div style="margin: 10px; margin-left:0;"  *ngFor="let organisation of previousOraganisations;let i=index">
         <div class="tags" style="display: inline;">{{organisation}}</div>
         <button [disabled]="disableSub" type="button" class="btn btn-danger btn-circle btn-sm" style="display: inline;" (click)="deleteOrganisation(i)" style="font-size: inherit;">-</button>
        </div>
        <div>
          <input 
          type="search"
          name="search" 
          style="
              display: inline;
              width: max-content;
              margin-right: 5px;"
          class="form-control input-fields"
          [(ngModel)]="inputOrganisation"
          placeholder="Enter organisation name" 
          />
          <div style="    
              width: max-content;
              display: inline;"
       >
         <button [disabled]="disableAdd" type="button" class="btn btn-success btn-circle btn-sm" (click)="addOrganisation()" style="font-size: inherit;display: inline;">+</button>
       </div>
        </div>
        
     </div>
        </div>
    </div>
  </div>
</body>