.sort-container {
    /* text-align: center; */
    /* width: max-content; */
    margin-bottom: 2rem;
    display: inline-flex;
    right: 1rem;
    text-align: right;
}

.form-control {
    float: right;
}