<div class="page-content dashboard__Panel">
    <div class="wrapper">
        <div class="refer_Earn_page">
            <div class="Referal__Sec white__bg">
                <div class="referal__banner">
                    <div class="rfrl_bnrTxt">
                        <h2>Referrals</h2>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                    </div>
                    <div class="rfrl_bnrimage">
                        <img src="../../../assets/images/Refer-Friend-image.svg" alt="#">
                    </div>
                </div>
                <div class="sec__divider">
                    <div class="referal__steps">
                        <div class="step_item">
                            <div class="rfr_step_wrap">
                                <div class="icon__box">
                                    <img src="../../../assets/images/share-code-icon.svg" alt="#">
                                </div>
                                <div class="txt_box">
                                    <h6 class="mb-0">Share the code</h6>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="step_item">
                            <div class="rfr_step_wrap">
                                <div class="icon__box">
                                    <img src="../../../assets/images/register-code-icon.svg" alt="#">
                                </div>
                                <div class="txt_box">
                                    <h6 class="mb-0">Register</h6>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="step_item">
                            <div class="rfr_step_wrap">
                                <div class="icon__box">
                                    <img src="../../../assets/images/book-attend-icon.svg" alt="#">
                                </div>
                                <div class="txt_box">
                                    <h6 class="mb-0">Book and Attend</h6>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="referal__code_box">
                    <h4>Referral Code</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                    <div class="share__code_fld">
                        <div class="input-group referal__input">
                            <input type="text" 
                            class="form-control"
                            [value]="referCode"
                            readonly />
                            <button type="submit" 
                            class="button green_btn"
                            (click)="copyReferCode()"
                            >Copy code</button>
                        </div>
                        <div class="share__options">
                            <a 
                            class="share_btn shareLI"
                            href="javascript:void(0)" 
                            (click)="shareLinkedIn()" >
                            <img src="../../../assets/images/Linkedin.svg" alt="#"></a>
                            <a href="javascript:void(0)"
                            (click) ="shareMail()"
                            class="share_btn">
                            <img src="../../../assets/images/envelope-icon.svg" alt="#"></a>
                            <a 
                            href="javascript:void(0)"
                            (click)="shareWhatsapp()"
                            class="share_btn"><img src="../../../assets/images/watsapp-icon.svg" alt="#"></a>
                        </div>
                    </div>
                </div>
                <div class="invite__friend_box">
                    <h4>Invite your friends</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                    <div class="input-group invite__input">
                        <!-- <input type="email" class="form-control" placeholder="Your E-Mail" /> -->
                        <mat-form-field class="example-chip-list" appearance="fill">
                            
                            <mat-chip-list #chipList aria-label="Email selection">
                              <mat-chip *ngFor="let email of emailsArray" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(email)">
                                {{email}}
                                <button matChipRemove *ngIf="removable">
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip>
                              <input placeholder="New Emails..."
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                          </mat-form-field>
                        <button type="submit" 
                        href="javascript:void(0)"
                        (click)="shareMultipleEmail()"
                        class="button green_btn">Submit</button>
                    </div>
                </div>
            </div>
            <div class="Referal__dashbrd white__bg">
                <div class="sec__title">
                    <h2>Referral Dashboard</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                    <div class="credit__box">
                        <img src="images/credits-icon.svg" alt="#">
                        <span>FG Credits<strong>4</strong></span>
                    </div>
                </div>
                <div class="referal__table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="fld_name">NAME</th>
                                    <th class="fld_email">Email</th>
                                    <th class="fld_status">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fld_name"><div class="nme_style"><span>D</span>Danny Berg</div></td>
                                    <td class="fld_email">DannyBerg@gmail.com</td>
                                    <td class="fld_status">
                                        <div class="td_btn">
                                            <a href="" class="table_btn connect_btn">Invited</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fld_name"><div class="nme_style"><span>A</span>Antonio Magnusson</div></td>
                                    <td class="fld_email">AntonioMagnusson@gmail.com</td>
                                    <td class="fld_status">
                                        <div class="td_btn">
                                            <a href="" class="table_btn green_btn">Registered</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fld_name"><div class="nme_style"><span>M</span>Mika Månsson</div></td>
                                    <td class="fld_email">MikaMansson@gmail.com</td>
                                    <td class="fld_status">
                                        <div class="td_btn">
                                            <a href="" class="table_btn red_btn">Offer expired</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


