<div class="search-result-container" style="margin-top: 0; padding-top: 70px">
  <div class="search-cards-container">
    <div
      *ngIf="searchResults.length == 0"
      style="
        width: max-content;
        margin: auto;
        padding: 10px;
        padding-top: 20px;
        max-width: 100vw;
        text-align: center;
      "
    >
      <h1 style="font-size: 5vh">We're Sorry !</h1>
      <h2 style="font-size: 3vh">We can't seem to find any previous experts</h2>
    </div>
    <ul>
      <div style="padding: 10px">
        <li class="search-result-card" *ngFor="let result of searchResults">
          <div
            class="result-profile-pic"
            [ngStyle]="{
              'background-image': 'url(' + result.profilePictureUrl + ')'
            }"
          ></div>
          <div class="result-card-header">
            <span class="result-card-name" [innerHTML]="result.fullName">
              <!-- Alex Chemoricle -->
            </span>
            <span
              class="result-card-specalizaiton"
              [innerHTML]="result.institute"
            >
              <!-- Exterior University - politics [bachelors] -->
            </span>
            <div class="stars-outer">
              <div class="stars-inner" [style.width.%]="result.rating"></div>
              <!-- <div class="stars-inner" style="width: 90%;"></div> -->
            </div>
          </div>

          <div class="result-card-content">
            <div class="numbers-container">
              <div class="fee_per_attribute">
                ₹<span
                  class="number"
                  style="display: contents; color: #7d0f7d"
                  [innerHTML]="result.price1"
                ></span>
                <span class="info">per hour</span>
              </div>
              <div class="separtor"></div>
              <div>
                <span class="number" [innerHTML]="result.reviewCount"></span>
                <span class="info">REVIEWS</span>
              </div>
              <div class="separtor"></div>
              <div>
                <span
                  class="number"
                  [innerHTML]="result.lessonCompleted"
                ></span>
                <span class="info">Sessions</span>
              </div>
            </div>

            <div
              class="result-card-descirption"
              [innerHTML]="result.description | shorten"
            >
              <!-- Exterior University - politics, Exterior University - politics [bachelors] -->
            </div>

            <div class="result-card-tutorsfor">
              <b> Tutors For</b>
              <div class="tutor-sub">
                <span *ngFor="let skills of result.areaOfExpertise"
                  >{{ skills.area }}, &nbsp;</span
                >
              </div>
            </div>

            <button
              type="button"
              class="btn btn-primary"
              (click)="viewProfile(result)"
            >
              View Profile
            </button>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
