@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 812px) and (min-device-width: 320px) {
  .search-result-container {
    position: absolute;
    top: 178px !important;
    display: inline-block;
    margin-top: 0;
    left: -20px;
    padding-top: 0;
  }
}
