<body>
    <app-nav-bar></app-nav-bar>
    <div class="page-content">
	    <section class="wi_full py_5 privacy_sec">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-12 col-md-4 col-lg-3">
	    				<div class="policy_Left_s">
	    					<ul class="MenusNav_Style">
                                <li class="">
                                    <a routerLink="/privacy-policy" class="Link_Styled"><span>Privacy Policy</span></a>
                                </li>  
                                <li class="">
                                    <a routerLink="/terms-and-conditions" class="Link_Styled"><span>Terms and Conditions</span></a>
                                </li>
                                <li class="active">
                                    <a routerLink="/refund-policy" class="Link_Styled"><span>Refund Policy</span></a>
                                </li>                
                            </ul>
	    				</div>
	    			</div>
	    			<div class="col-12 col-md-8 col-lg-9">
	    				<div class="policy_Right_s">
	    					<div class="refund_wrapper">
                                <h2>Refund Policy</h2>
                                <p>For return of product(s) damaged at the time of delivery, the shipping charges shall be borne by the Company. However, for return any of the product(s) for any other reasons, it shall be the responsibility of the User to arrange for the return of such cancelled product(s) and the shipping charges shall be borne by such User. (b)We request You not to accept any product package that seems to be tampered with, opened or damaged at the time of delivery. The products must be returned in the same condition as delivered by the Company. Any products returned showing signs of any use or damage in any manner shall not be accepted for return. (c)All requests for return of products must be placed within 15 (fifteen) days from the date of delivery. Please note that no refunds shall be claimed or will be entertained post 15 (fifteen) days from the date of delivery.</p>       
                            </div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</div>
    <app-footer></app-footer>
</body>
