<body>
    <app-nav-bar></app-nav-bar>
    <div class="page-content">
	    <section class="wi_full py_5 privacy_sec">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-12 col-md-4 col-lg-3">
	    				<div class="policy_Left_s">
	    					<ul class="MenusNav_Style">
                                <li class="">
                                    <a routerLink="/privacy-policy" class="Link_Styled"><span>Privacy Policy</span></a>
                                </li>  
                                <li class="">
                                    <a routerLink="/terms-and-conditions" class="Link_Styled"><span>Terms and Conditions</span></a>
                                </li>
                                <li class="active">
                                    <a routerLink="/refund-policy" class="Link_Styled"><span>Refund Policy</span></a>
                                </li>                
                            </ul>
	    				</div>
	    			</div>
	    			<div class="col-12 col-md-8 col-lg-9">
	    				<div class="policy_Right_s">
	    					<div class="refund_wrapper">
                                <h2>Refund Policy</h2>
                                <p>Learners can request a refund of the payment made while scheduling the sessions in the following scenarios-<br><br>

									1. The Expert fails to join the call at the scheduled time. In this case, the full amount paid shall be refunded within 5 working days. <br><br>
									
									2. The learner cancels a scheduled session and requests a refund of the payment made at the time of booking the session. The request for cancellation should be made at least 3 hours prior to the start of the session. Payment made for this session (excluding the platform fee) would be refunded within 5 working days. No refund would be offered if the session is canceled less than 3 hours before the scheduled start or in case of no show by the Learner.<br><br>
									
									3. In case the expert requests to reschedule the meeting (at least 3 hours prior to the scheduled time), the Learner can either accept the revised slot and connect with the same expert at the new time OR refuse the meeting at the proposed alternative time and request a refund. The full amount paid will be refunded within 5 working days.<br>
									
									 The Learner may also choose another expert and book a fresh meeting. In case you choose to set up a meeting with an alternative expert, you will need to pay (or be refunded) the differential amount as the case may be.<br><br>
									
									4. All requests for refunds must be made within 7 days of the scheduled session. Please note that no refunds shall be claimed or will be entertained post 7 (seven) days from the date of the scheduled session for which the refund is being claimed.<br><br>
									
									Thanks and Regards</p>       
                            </div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	</div>
    <app-footer></app-footer>
</body>
