@media only screen and (max-width: 767px) {
  .access_header_signup_web {
    display: none !important;
  }

  .access_header_signup_mobile {
    display: block !important;
  }

  .logo-ml-100 {
    margin-left: 100px;
    margin-bottom: -7px;
  }

  .h1-pt-15 {
    padding-top: 15px;
  }

  .form-mt-0 {
    margin-top: 0px !important;
  }
}
.progress-bar{
  width: 100%;
  background-color: #ec008c; 
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
::ng-deep .mat-icon-button {
  color: #8dc63f !important;
}
.dob-mat-datepicker {
  top: 35px;
  position: absolute;
  right: 5px;
}
::ng-deep .mat-icon-button .mat-button-wrapper {
  position: absolute;
  top: 0;
  right: 7px;
}

@media only screen and (max-width: 700px) {
  ::ng-deep .mat-icon-button .mat-button-wrapper {
    color: #8dc63f;
  }

  .dob-mat-datepicker {
    top: 30px;
  }
}
@media only screen and (min-width: 700px) {
  .remove_btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .add_margin_bottom {
    margin-bottom: 30px;
  }
}
