<body>
  <div
    *ngIf="isLoading"
    style="
      text-align: center;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <app-loading></app-loading>
    <p style="margin: 1rem; font-size: large">Signing you up..</p>
  </div>

  <div [class]="!isLoading ? '' : 'hideBlock'">
    <div class="access_page wi_full" [class]="choosePassword ? '' : 'hideBlock'">
      <div class="container">
        <div class="page_wrapper">
          <div class="access_icon_box">
            <img src="../../../assets/images/login-clip.svg" alt="#" class="graphic_style" />
          </div>
          <div class="access_field_box">
            <div class="access_header">
              <a href="" class="back_button"
                ><img src="../../../assets/images/arrow-grey.svg" alt="#"
              /></a>
              <a href="" class="accs_logo"
                ><img src="../../../assets/images/fellow genius logo.svg" alt="#"
              /></a>
            </div>
            <div class="access_data">
              <div class="content_wrapper">
                
                <h2>Choose Password</h2>
                <div class="tagline">Please enter your new password</div>
                <div class="error_message" *ngIf="invalidChoosePassword">
                  <div class="msg_wrap">
                    <img src="../../../assets/images/required-error.svg" alt="#" class="erro_icon">
                    <span><strong>Error</strong>Password could not be set
                    </span>
                  </div>
                </div>
                <form>
                  <div class="form-group">
                    <label class="">New Password</label>
                    <div class="password_wrap">
                      <input
                        id="password-new"
                        type="password"
                        name="password-new"
                        [(ngModel)]="newPassword"
                        class="form-control"
                        placeholder="Enter your new password"
                        [pattern]="passwordPattern"
                          minlength="8"
                          maxlength="20"
                          #password="ngModel"
                      />
                      <span
                        toggle="#password-new"
                        class="fa fa-fw fa-eye field-icon toggle-password"
                      ></span>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px">
                      <span
                        class="help-block"
                        *ngIf="
                          password.invalid && (password.dirty || password.touched)
                        "
                        style="
                          color: grey;
                          font-size: smaller;
                          margin-bottom: 10px;
                        "
                        >Your password must be a minimum of 8 characters long.
                        Your PW must contain at least one uppercase letter (A-Z),
                        one lowercase (a-z), one number (0-9), and one special
                        character (@, #,&, %).</span
                      >
                    </div>
                  </div>
                  <button type="button" class="button form_Btn" (click)="saveNewPassword()" [disabled]=!newPassword>
                    Save new Password
                  </button>
                </form>
              </div>
            </div>
            <div class="access_footer"></div>
          </div>
        </div>
      </div>
    </div>
    <div [class]="!choosePassword ? '' : 'hideBlock'">
      <div
        class="access_page wi_full"
        [class]="verifyEmail && !registeredExpert ? '' : 'hideBlock'"
      >
        <div class="container">
          <div class="page_wrapper">
            <div class="access_icon_box">
              <img
                src="../../../assets/images/email-verification-clip.svg"
                alt="#"
                class="graphic_style"
              />
            </div>
            <div class="access_field_box">
              <div class="access_header">
                <a href="" class="accs_logo"
                  ><img
                    src="../../../assets/images/fellow genius logo.svg"
                    alt="#"
                /></a>
              </div>
              <div class="access_data">
                <div class="content_wrapper">
                  <h2>Email Verification</h2>
                  <div class="tagline">
                    Enter the verification code sent to your email address
                  </div>
                  <span *ngIf="wrongOtp" class="help-block">Invalid OTP</span>
                  <form (ngSubmit)="verifyEmailOtp(o)" #o="ngForm">
                    <div class="eml_vrfctn form-group">
                      <input
                        type="number"
                        id="otp_1digit"
                        name="otp_1digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                      <input
                        type="number"
                        id="otp_2digit"
                        name="otp_2digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                      <input
                        type="number"
                        id="otp_3digit"
                        name="otp_3digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                      <input
                        type="number"
                        id="otp_4digit"
                        name="otp_4digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                      <input
                        type="number"
                        id="otp_5digit"
                        name="otp_5digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                      <input
                        type="number"
                        id="otp_6digit"
                        name="otp_6digit"
                        ngModel
                        maxlength="1"
                        class="verfcn_box"
                        placeholder="_"
                        required
                      />
                    </div>
                    <button
                      type="submit"
                      class="button form_Btn"
                      [disabled]="o.invalid"
                    >
                      Verify Account
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="access_page wi_full"
        [class]="registeredExpert && !verifyEmail ? '' : 'hideBlock'"
      >
        <div class="container">
          <div class="page_wrapper">
            <div class="access_icon_box">
              <img
                src="../../../../assets/images/password-reset-clip.svg"
                alt="#"
                class="graphic_style"
              />
            </div>
            <div class="access_field_box">
              <div class="access_header">
                <a href="" class="back_button"
                  ><img src="../../../../assets/images/arrow-grey.svg" alt="#"
                /></a>
                <a href="" class="accs_logo"
                  ><img
                    src="../../../../assets/images/fellow genius logo.svg"
                    alt="#"
                /></a>
              </div>
              <div class="access_data">
                <div class="content_wrapper">
                  <h2>Thank you for showing interest in Fellow Genius</h2>
                  <div class="tagline">
                    We'll review the details provided by you and get back you
                    within 48 working hours.
                  </div>
                  <form>
                    <button
                      type="button"
                      class="button form_Btn"
                      (click)="toFacade()"
                    >
                      Back to Home
                    </button>
                  </form>
                </div>
              </div>
              <div class="access_footer"></div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="access_page expert_signup wi_full"
        [class]="!registeredExpert && !verifyEmail ? '' : 'hideBlock'"
      >
        <div class="container">
          <div class="page_wrapper">
            <div class="access_field_box">
              <div class="access_header">
                <h1>Sign up <strong>as an Expert</strong></h1>
                <a href="" class="accs_logo"
                  ><img src="../assets/images/fellow genius logo.svg" alt="#"
                /></a>
              </div>
              <div class="access_data">
                <form
                  (ngSubmit)="saveExpertBasicProfile(basicProfile)"
                  #basicProfile="ngForm"
                >
                  <div class="fields_box">
                    <div class="row">
                      <div class="col-12">
                        <h2>Personal Information</h2>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">Full Name*</label>
                          <input
                            type="text"
                            id="fullName"
                            name="fullName"
                            ngModel
                            class="form-control"
                            required
                            #fullName="ngModel"
                            maxlength="50"
                            placeholder="Full Name"
                          />
                          <span
                            class="help-block"
                            *ngIf="!fullName.valid && fullName.touched"
                            >Invalid Name</span
                          >
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">Date of Birth*</label>
                          <input
                            type="date"
                            id="dob"
                            name="dob"
                            ngModel
                            class="form-control"
                            dobValidator
                            required
                            #dob="ngModel"
                          />
                          <span
                            *ngIf="dob.errors?.invalidDob && dob.touched"
                            class="help-block"
                            >Invalid date of birth</span
                          >
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">E-Mail*</label>
                          <input
                            type="email"
                            id="email"
                            name="email"
                            ngModel
                            class="form-control"
                            required
                            email
                            #email="ngModel"
                            maxlength="64"
                            pattern="[a-zA-Z0-9_.+-]{1,20}@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|piet|yahoo|hotmail|rediffmail|apple|microsoft)\.([a-z]{2,4})(\.[a-z]{2,4})?$"
                            placeholder="Enter Email"
                          />
                          <span
                            *ngIf="
                              (!email.valid && email.touched) || emailValid
                            "
                            class="help-block"
                            >Invalid email</span
                          >
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">Phone Number*</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Phone number"
                            id="contact"
                            ngModel
                            name="contact"
                            required
                            [pattern]="mobNumberPattern"
                            #contact="ngModel"
                          />
                          <span
                            *ngIf="!contact.valid && contact.touched"
                            class="help-block"
                            >Invalid phone number</span
                          >
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">LinkedIn Profile*</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="LinkedIn Profile link"
                            name="linkedInProfile"
                            id="linkedInProfile"
                            maxlength="40"
                            ngModel
                            required
                            #linkedInProfile="ngModel"
                          />
                          <span
                            class="help-block"
                            *ngIf="
                              !linkedInProfile.valid && linkedInProfile.touched
                            "
                            >Invalid linkedIn profile</span
                          >
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="">UPI ID</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter UPI id"
                            name="upiID"
                            id="upiID"
                            maxlength="30"
                            ngModel
                            #upiID="ngModel"
                          />
                          <span
                            class="help-block"
                            *ngIf="!upiID.valid && upiID.touched"
                            >Invalid UPI id</span
                          >
                          <div>
                            <span
                              class="help-block"
                              style="
                                color: grey;
                                font-size: smaller;

                                margin: 10px;
                              "
                              >UPI id is necessary for processing your
                              payments</span
                            >
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label class="">Password*</label>
                        <div class="password_wrap">
                          <input
                            id="password-field"
                            type="password"
                            class="form-control"
                            name="password"
                            ngModel
                            required
                            [pattern]="passwordPattern"
                            minlength="8"
                            maxlength="20"
                            #password="ngModel"
                            placeholder="Enter password"
                          />
                          <span
                            toggle="#password-field"
                            class="fa fa-fw fa-eye field-icon toggle-password"
                          ></span>
                        </div>
                        <span
                          class="help-block"
                          *ngIf="
                            password.invalid &&
                            (password.dirty || password.touched)
                          "
                          style="color: grey; font-size: smaller"
                          >Your password must be a minimum of 8 characters long.
                          Your PW must contain at least one uppercase letter
                          (A-Z), one lowercase (a-z), one number (0-9), and one
                          special character (@, #,&, %).</span
                        >
                      </div>
                    </div> -->
                    </div>
                  </div>

                  <div class="fields_box" id="domainBox">
                    <div class="row">
                      <div class="col-12">
                        <h2>Domain</h2>
                      </div>
                      <div class="col-12">
                        <div class="form-group Prc__Pr__Hr">
                          <label class="">Price per Hour*</label>
                          <input
                            type="number"
                            class="form-control"
                            name="price"
                            required
                            placeholder="Enter price per hour"
                            [(ngModel)]="tutorProfileDetails.price1"
                            #expertisePrice="ngModel"
                            (ngModelChange)="onPercentChange($event)"
                          />
                          <span
                            class="help-block"
                            *ngIf="
                              !expertisePrice.valid && expertisePrice.touched
                            "
                            >Invalid Price per hour !</span
                          >
                          <div
                            class="pph__detail"
                            *ngIf="
                              expertisePrice.dirty && tutorProfileDetails.price1
                            "
                          >
                            <div class="detail__list">
                              <span class="green_txt"
                                >Actual Earning per hour</span
                              >
                              <span class="green_txt"
                                >₹ {{ actualEarning }}</span
                              >
                            </div>
                            <div class="detail__list">
                              <span class="">GST charges</span>
                              <span class="">₹ {{ GSTValue }}</span>
                            </div>
                            <div class="detail__list">
                              <span class="">Platform fees</span>
                              <span class="">₹ {{ commission }}</span>
                            </div>
                          </div>
                          <div
                            *ngIf="pricePerHourError"
                            style="color: red; margin-top: 10px"
                          >
                            Please enter your price per hour first !
                          </div>
                        </div>
                      </div>

                      <div class="field_repeater">
                        <div class="row">
                          <div class="col-12">
                            <h4>Add Domain</h4>
                          </div>
                          <div
                            *ngIf="duplicateExpertiseArea"
                            style="color: red; margin-top: 10px"
                          >
                            Expertise already exists !
                          </div>

                          <p class="errorText" *ngIf="errorText">
                            {{ errorText }}
                          </p>
                          <div class="col-12 col-md-6">
                            <div class="form-group">
                              <label class="">Choose Domain*</label>
                              <select
                                class="select2 form-control"
                                id="chooseCategory"
                                name="categoryName"
                                (change)="onDomainChange($event.target.value)"
                                placeholder="Choose Domain"
                                ngModel
                              >
                                <option
                                  *ngFor="let categ of categories"
                                  [value]="categ.category"
                                >
                                  {{ categ.category }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group">
                              <label class="">Choose Topic*</label>
                              <select
                                class="select2 form-control"
                                id="chooseSubCategory"
                                name="subCategoryName"
                                placeholder="Choose Topic"
                                (change)="onTopicChange($event.target.value)"
                                ngModel
                              >
                                <option
                                  *ngFor="let sc of filteredSubCategories"
                                  [value]="sc.subCategory"
                                >
                                  {{ sc.subCategory }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="reptr___btn">
                        <a
                          class="add_RBtn"
                          type="button"
                          (click)="saveExpertise()"
                          ><img
                            src="../assets/images/add-repeater.svg"
                            alt="add"
                          />Add</a
                        >
                      </div>
                      <div *ngIf="expertises.length">
                        <div class="col-12">
                          <h4>Domains</h4>
                        </div>
                        <div
                          *ngFor="let expertise of expertises; let i = index"
                        >
                          <div class="field_repeater">
                            <div class="row">
                              <div class="col-12 col-md-5">
                                <div class="form-group">
                                  <span class="form-control">{{
                                    expertise.category
                                  }}</span>
                                </div>
                              </div>
                              <div class="col-12 col-md-5">
                                <div class="form-group">
                                  <span class="form-control">{{
                                    expertise.subCategory
                                  }}</span>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-1"
                                style="padding-top: 5px"
                              >
                                <div class="reptr___btn">
                                  <a
                                    href="JavaScript:Void(0);"
                                    (click)="deleteExpertise(i)"
                                    class="delet_RBtn"
                                    ><img
                                      src="../assets/images/delete-repeater.svg"
                                      alt="delete"
                                  /></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fields_box">
                    <div class="row">
                      <div class="col-12">
                        <h2>Work Experience</h2>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label class="">Total Years of Experience*</label>
                          <input
                            type="text"
                            class="form-control"
                            id="yearsOfExperience"
                            name="yearsOfExperience"
                            ngModel
                            required
                            [ngModel]="tutorProfileDetails.yearsOfExperience"
                            class="form-control"
                            #yearsOfExperience="ngModel"
                            placeholder="Enter Total Years of experience"
                          />
                          <span
                            class="help-block"
                            *ngIf="
                              !yearsOfExperience.valid &&
                              yearsOfExperience.touched
                            "
                            >Invalid years of experience</span
                          >
                        </div>
                      </div>
                      <div>
                        <div class="col-12">
                          <h4>Organisation</h4>
                        </div>
                        <div class="field_repeater">
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label class="">Current Organisation</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="currentOrganisation"
                                  name="currentOrganisation"
                                  ngModel
                                  [(ngModel)]="
                                    tutorProfileDetails.currentOrganisation
                                  "
                                  #currentOrganisation="ngModel"
                                  maxlength="50"
                                  placeholder="Enter Current Organisation"
                                />
                                <span
                                  class="help-block"
                                  *ngIf="
                                    !currentOrganisation.valid &&
                                    currentOrganisation.touched
                                  "
                                  >Invalid organisation</span
                                >
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label class="">Title/Designation</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="currentDesination"
                                  name="currentDesignation"
                                  [(ngModel)]="
                                    tutorProfileDetails.currentDesignation
                                  "
                                  #currentDesignation="ngModel"
                                  maxlength="50"
                                  placeholder="Enter Title/Designation"
                                />
                                <span
                                  class="help-block"
                                  *ngIf="
                                    !currentDesignation.valid &&
                                    currentDesignation.touched
                                  "
                                  >Invalid Designation</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div class="col-12">
                          <h4>Previous Organisations</h4>
                        </div>
                        <div
                          class="field_repeater"
                          *ngFor="
                            let organisation of prevArrangedOrganisations;
                            let i = index
                          "
                        >
                          <div class="row">
                            <div class="col-12 col-md-5">
                              <div class="form-group">
                                <!-- <label class="">Organisation</label> -->
                                <span class="form-control">{{
                                  organisation.organisation
                                }}</span>
                              </div>
                            </div>
                            <div class="col-12 col-md-5">
                              <div class="form-group">
                                <!-- <label class="">Title/Designation</label> -->
                                <span class="form-control">{{
                                  organisation.designation
                                }}</span>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-1"
                              style="padding-top: 5px"
                            >
                              <div class="reptr___btn">
                                <a
                                  href="JavaScript:;"
                                  class="delet_RBtn"
                                  (click)="deleteOrganisation(i)"
                                  ><img
                                    src="../assets/images/delete-repeater.svg"
                                    alt="delete"
                                /></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div class="field_repeater">
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label class="">Organisation</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="prevOrganisation"
                                  placeholder="Enter Organisation name"
                                  [(ngModel)]="inputOrganisation"
                                />
                              </div>
                              <div
                                *ngIf="duplicatePreviousOrganisation"
                                class="help-block"
                              >
                                Organisation already exists !
                              </div>
                              <div
                                *ngIf="invalidOrganisationDetails"
                                class="help-block"
                              >
                                One or more fields is empty !
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label class="">Title/Designation</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="prevDesignation"
                                  placeholder="Enter Title/Designation"
                                  [(ngModel)]="inputDesignation"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="reptr___btn">
                        <a
                          href="JavaScript:;"
                          class="add_RBtn"
                          (click)="addOrganisation()"
                          ><img
                            src="../assets/images/add-repeater.svg"
                            alt="add"
                          />Add</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="fields_box">
                    <div class="row">
                      <div class="col-12">
                        <h2>Description & Speciality</h2>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea
                            style="padding-top: 10px"
                            class="form-control"
                            id="description"
                            rows="3"
                            name="description"
                            maxlength="250"
                            [ngModel]="tutorProfileDetails.description"
                            placeholder="Enter your Description text"
                            #tutorProfileDescription
                          ></textarea>
                          <span class="setLength"
                            >{{
                              tutorProfileDescription.value.length
                            }}/250</span
                          >
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="speciality">Speciality</label>
                          <textarea
                            class="form-control"
                            id="speciality"
                            rows="3"
                            name="speciality"
                            maxlength="250"
                            [ngModel]="tutorProfileDetails.speciality"
                            placeholder="Enter your Speciality text"
                            #tutorProfileSpeciality
                          ></textarea>
                          <span class="setLength"
                            >{{ tutorProfileSpeciality.value.length }}/250</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fields_box" id="educationBox">
                    <div class="row">
                      <div class="col-12">
                        <h2>Education</h2>
                      </div>
                      <div
                        *ngIf="emptyEducationDetails"
                        style="color: red; margin-top: 10px"
                      >
                        Add atleast one educational qualification !
                      </div>
                      <div
                        class="field_repeater"
                        *ngFor="
                          let education of educationQualifications;
                          let i = index
                        "
                      >
                        <div class="row">
                          <div class="col-12 col-md-11">
                            <div class="form-group">
                              <!-- <label class="">Organisation</label> -->
                              <span class="form-control">{{ education }}</span>
                            </div>
                          </div>

                          <div class="col-12 col-md-1" style="padding-top: 5px">
                            <div class="reptr___btn">
                              <a
                                href="JavaScript:;"
                                class="delet_RBtn"
                                (click)="deleteEducation(i)"
                                ><img
                                  src="../assets/images/delete-repeater.svg"
                                  alt="delete"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field_repeater">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group">
                              <label class="">University/ College*</label>
                              <input
                                type="text"
                                class="form-control"
                                name="institute"
                                [(ngModel)]="inputInstitute"
                                placeholder="Enter University/College"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group">
                              <label class="">Degree*</label>
                              <input
                                type="text"
                                class="form-control"
                                name="degree"
                                [(ngModel)]="inputEducation"
                                placeholder="Enter Degree"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="">Completion Date*</label>
                              <input
                                type="date"
                                class="form-control"
                                name="completionDate"
                                [(ngModel)]="inputCompletionDate"
                                placeholder="Enter Completion Date"
                                #completionDate="ngModel"
                              />
                              <span
                                class="help-block"
                                *ngIf="invalidCompletionDate"
                                >Invalid Completion Date</span
                              >
                            </div>
                          </div>
                          <div
                            *ngIf="duplicateEducationArea"
                            style="color: red; margin-top: 10px"
                          >
                            Educational Qualification already exists !
                          </div>
                          <div
                            *ngIf="invalidEducationDetails"
                            style="color: red; margin-top: 10px"
                          >
                            One or more fields is empty !
                          </div>
                        </div>
                      </div>
                      <div class="reptr___btn">
                        <a
                          href="JavaScript:;"
                          (click)="addEducation()"
                          class="add_RBtn"
                          ><img
                            src="../assets/images/add-repeater.svg"
                            alt="add"
                          />Add</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="fields_box" id="photoBox">
                    <div class="row">
                      <div class="col-12">
                        <h2>Photo</h2>
                      </div>
                      <div class="col-12">
                        <div class="profile_upload">
                          <div class="img__contain">
                            <img
                              id="img__profile"
                              [src]="profilePictureUrl"
                              alt="image"
                            />
                          </div>
                          <!-- <div class="input-group">
                          <div class="custom-file">
                            <input
                              type="file"
                              id="inputGroupProfile"
                              class="imgInp custom-file-input"
                            />
                            <label
                              class="custom-file-label"
                              for="inputGroupProfile"
                              >Choose file</label
                            >
                          </div>
                        </div> -->
                          <div class="form-group">
                            <input
                              #profilePicture
                              hidden="true"
                              type="file"
                              accept=".jpg,.png,.jpeg"
                              onclick="this.value=null"
                              (change)="profilePictureChange($event)"
                              required
                            />

                            <button
                              class="btn"
                              (click)="profilePicture.click()"
                              style="
                                margin-top: 10px;
                                height: 50px;
                                position: relative;
                              "
                            >
                              <span *ngIf="!isLoading3">Upload</span>
                              <div
                                class="tickMark"
                                *ngIf="profilePicUploadStatus"
                              >
                                <img
                                  class="tickMarkImg"
                                  src="../../../assets/icons/tick.png"
                                />
                              </div>
                              <span
                                *ngIf="isLoading3"
                                class="loader"
                                style="
                                  text-align: center;
                                  z-index: 10;
                                  margin-right: 25px;
                                "
                              >
                                <app-loader></app-loader>
                              </span>
                            </button>
                          </div>
                          <div
                            style="
                              margin: 5px;
                              margin-left: 0;
                              font-size: 14px;
                              font-weight: 600;
                              color: red;
                            "
                            *ngIf="emptyProfilePicture"
                          >
                            Please upload a profile picture !
                          </div>
                          <div
                            style="
                              margin: 5px;
                              margin-left: 0;
                              font-size: 14px;
                              font-weight: 600;
                              color: red;
                            "
                            *ngIf="invalidPicture"
                          >
                            Please upload a valid Image !
                          </div>
                          <div
                            style="
                              margin: 10px;
                              margin-left: 0;
                              font-size: 14px;
                              font-weight: 600;
                              color: red;
                            "
                            *ngIf="pictureInfo"
                          >
                            Supported file upload formats(.jpg, .png, .jpeg)
                            upto size limit of 3MB *
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    style="
                      margin: 10px;
                      margin-left: 0;
                      font-weight: 600;
                      color: red;
                    "
                  >
                    Make sure all the required fields(marked with *) are filled
                    !
                  </div>
                  <div class="signup_btnexp">
                    <button
                      type="submit"
                      class="button form_Btn"
                      [disabled]="!basicProfile.valid"
                    >
                      Sign up as an Expert!
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
