button {
    margin: 5px;
}

.dialog-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    padding: 10px;
}

.content-header {
    font-size: 16px;
    font-weight: 700;
}

.content-body {
    padding: 10px;
}

.content-body .filter-container {
    padding: 0px;
    margin: 0px;
}

.content-body .filter-container .filter-category-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.content-body .filter-container .filter-category-list li {
    display: inline-block;
    max-width: 50%;
    /* limit width */
    word-break: break-all;
    /* wrap extended text*/
}

.content-body .filter-container .filter-category-list li input[type="checkbox"] {
    display: none;
}

.content-body .filter-container .filter-category-list li input[type="checkbox"]:checked+span {
    margin-bottom: 0px;
    color: #FFFFFF;
    width: auto;
    background-color: #e30084;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}

.content-body .filter-container .filter-category-list li span {
    margin-bottom: 0px;
    color: #000000;
    width: auto;
    border: 1px solid #e30084;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}

.dialog-footer {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    text-align: right;
}