<body
  lang="EN-US"
  link="blue"
  vlink="#954F72"
  style="
    position: relative;
    word-wrap: break-word;
    padding: 30px;
    padding-left: 8vw;
    padding-right: 8vw;
  "
>
  <div style="padding: 20px">
    <div class="logo"></div>
    <p
      class="heading MsoNormal"
      style="line-height: normal; text-align: center"
    >
      <b
        ><span
          lang="EN-IN"
          style="font-size: 24pt; font-family: 'Times New Roman', serif"
          >Contact Information</span
        ></b
      >
    </p>
  </div>
  <div style="width: 70%; margin: auto; margin-top: 30px">
    <p
      class="MsoNormal"
      style="margin-bottom: 10pt; text-align: justify; line-height: normal;font-size: large;"
    >
      <span
        lang="EN-IN"
        style="font-family: 'Quattrocento Sans', serif; color: black"
        >Our Grievance Officer shall undertake all reasonable efforts to address
        your grievances at the earliest possible opportunity. You may contact us
        at: Grievance Officer: Mr. Vikas Dabas Address: Flat No.11 Dharam Kunj
        Apartment Sector 9 Rohini, Delhi - 110085, India (M):9899197950 . Reach
        out to us on<span class="msoDel"
          ><del cite="mailto:shubham%20sharma" datetime="2021-06-30T16:00">
          </del></span
        ><span class="msoIns"
          ><ins cite="mailto:shubham%20sharma" datetime="2021-06-30T16:00"
            > fellowgeniuscc@gmail.com</ins
          ></span
        ></span
      ><span
        lang="EN-IN"
        style="font-family: 'Quattrocento Sans', serif; color: black"
        >, in case of any queries.</span
      >
    </p>
  </div>
</body>
