<div class="box"></div>
<div class="short-name"><p style="position:absolute;top:14vh;left:3.5vw">
  {{meeting.userName | uppercase}}
</p>
 
</div>
  <!-- --------------------------------------for host ------------------------------------------------ -->
  <div *ngIf="this.meeting.role=='host'">
    <div [id]="screenCallId" class="screen"></div>
    <div [id]="localCallId" class="local" ></div>
    <div class="bg-image local" *ngIf="muteHostVideoStatus == 'unmute host video'" >
      <span class="material-icons blurred-icons">
        videocam_off
        </span>
    </div>
    <div class="bg-image remote" *ngIf="remoteVideoMute" >
      <span class="material-icons blurred-icons">
        videocam_off
        </span>
    </div>
    <div class="control-nav">
      <!-- session timer -->
      <span class="timer"><span>{{ timeLeft | formatTime }}</span></span>
      <!-- mute-unmute video -->
      <button class="btn btn-primary" (click)="muteVideo()">
        <span
          class="material-icons control-icons"
          *ngIf="muteHostVideoStatus == 'unmute host video'"
        >
          videocam_off
        </span>
        <span
          class="material-icons control-icons"
          *ngIf="muteHostVideoStatus == 'mute host video'"
        >
          videocam
        </span>
      </button>
      <!-- mute-unmute mic -->
      <button class="btn btn-primary" (click)="muteAudio()">
        <span
          class="material-icons control-icons"
          *ngIf="muteHostAudioStatus == 'unmute host mic'"
          >mic_off
        </span>
        <span
          class="material-icons control-icons"
          *ngIf="muteHostAudioStatus == 'mute host mic'"
          >mic
        </span>
      </button>
      <!-- screen share -->
      <button class="btn btn-primary" (click)="screenShare()">
        <span
          class="material-icons control-icons"
          *ngIf="hostScreenShareStatus == false"
          >stop_screen_share
        </span>
        <span
          class="material-icons control-icons"
          *ngIf="hostScreenShareStatus == true"
          >screen_share
        </span>
      </button>
      <!-- chat -->
      <button class="btn btn-success">
        <span class="material-icons control-icons">chat </span>
      </button>
      <!-- end call button  -->
      <button
        class="btn btn-danger"
        (click)="stopStream()"
        style="margin-right: 10px;"
      >
        <span class="material-icons control-icons"> call_end </span>
      </button>
     
    </div>
    <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
  </div>
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------- for student---------------------------------------- -->
  <div *ngIf="this.meeting.role=='student'">
  <div *ngFor="let screenCallId of screenRemoteCalls" [id]="screenCallId" class="screen"></div>
  <div [id]="localCallId" class="local"></div>
  
    <div class="bg-image local" *ngIf="muteHostVideoStatus == 'unmute host video'" >
      <span class="material-icons blurred-icons">
        videocam_off
        </span>
    </div>
    <div class="bg-image remote" *ngIf="remoteVideoMute" >
      <span class="material-icons blurred-icons">
        videocam_off
        </span>
    </div>
  
  
  
  <div class="control-nav">
    <!-- session timer -->
    <span class="timer"><span>{{ timeLeft | formatTime }}</span></span>
    <!-- mute-unmute video -->
    <button class="btn btn-primary" (click)="muteVideo()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'unmute host video'"
      >
        videocam_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'mute host video'"
      >
        videocam
      </span>
    </button>
    <!-- mute-unmute mic -->
    <button class="btn btn-primary" (click)="muteAudio()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'unmute host mic'"
        >mic_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'mute host mic'"
        >mic
      </span>
    </button>
    <!-- chats -->
    <button class="btn btn-success">
      <span class="material-icons control-icons">chat </span>
    </button>
    <!-- end call button  -->
    <button
      class="btn btn-danger"
      (click)="stopStream()"
      style="margin-right: 10px;"
    >
      <span class="material-icons control-icons"> call_end </span>
    </button>
   
  </div>
  <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
  </div>
 <!-- ----------------------------------------------------------------------------------------------- -->