
        <div class="card">
            <div class="card-body">
                <div class="row marginZero" style="padding:5px">
                    <div class="col-sm-3 paddingZero" style="width: 20%;">
                        <img class="tutorPic" src="../../../../assets/images/tutorProfile.jpeg" alt="">
                    </div>
                    <div class="col-sm-9 paddingZero">
                        <div class="row marginZero">
                            <div class="col-sm-9 paddingZero" style="font-size: medium; font-weight: bolder;">Shubham Sharma</div>
                            <div class="col-sm-3 paddingZero" style="font-size: smaller;">₹ 500/hr</div>
                        </div>
                        <div class="row marginZero" style="font-size: 15px;" >
                            20-Mar , 8-11 am
                        </div>
                    </div>
                </div>
            </div>
        
    </div>