<body>
    <app-nav-bar></app-nav-bar>
<div class="page-content">
	<section class="wi_full py_5 video_banner">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-12 col-md-6">
    				<div class="banner_content">
    					<h1>Videos</h1>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
    				</div>
    			</div>
    			<div class="col-12 col-md-6">
    				<div class="banner_image">
    					<img src="../../../assets/images/video-graphic.svg" alt="#">
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="wi_full py_5 video_page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video__wrapper">
                    	<div class="video__item">
                    		<div class="video__img">
                    			<img src="../../../assets/images/video-1.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                    			<div class="video__title">Mauris in erat justo</div>
                    		</div>
                    	</div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-2.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title">Class aptent taciti sociosqu</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-3.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title"> Sed non  mauris vitae erat</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-4.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title">Mauris in erat justo</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-5.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title">Class aptent taciti sociosqu</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-6.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title"> Sed non  mauris vitae erat</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-7.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title">Mauris in erat justo</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-8.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title">Class aptent taciti sociosqu</div>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__img">
                                <img src="../../../assets/images/video-9.png" alt="#">
                                <button class="video_btn" data-toggle="modal" data-target="#videoPopup">
                                    <img src="../../../assets/images/play-video.svg">
                                </button>
                                <div class="video__title"> Sed non  mauris vitae erat</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
</body>
