<header class="dashboard__Header">
    <div class="page__title">
      <h1>Hello, <strong>Admin</strong></h1>
      <!--<div class="page-breadcrumb">
              <ul class="breadcrumb">
                  <li><a href="#"><img src="images/breadcrumb-home.svg" alt="#"></a></li>
                  <li class="active">Availability Schedule</li>
              </ul>
          </div> -->
    </div>
    <div class="page_btns">
      <div>
        <a
          class="setng_btn hdr_btns"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          ><img [src]="profilePictureUrl"
        /></a>
        <ul class="dropdown-menu" aria-labelledby="settingDropdown">
          <li>
            <a class="dropdown-item"
              ><i style="margin-right: 5px" class="far fa-user-circle"></i
              >Admin</a
            >
          </li>
  
          <li>
            <a class="dropdown-item" href="#" (click)="onSignOut()"
              ><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <div class="side-menu">
    <nav class="fixed_menu">
      <div class="web_logo">
        <a href="" class="logo_img"
          ><img src="../../assets/images/fellow genius logo.svg"
        /></a>
      </div>
      <ul class="nav_menu nav_list">
        <!-- <li class="list-item" class="" *ngIf="loginType == 'Expert'"> -->
        <li class="list-item" class="">
          <a
            href="javascript:;"
            class="menu_item"
            routerLinkActive="active"
            routerLink="/admin/home/categories"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          <img src="../../assets/images/categories.svg" class="mnu_icn" />
            <span class="menu_txt">Categories</span>
          </a>
        </li>
        <!-- <li class="list-item" *ngIf="loginType == 'Expert'">
            <a
              href="javascript:;"
              class="menu_item"
              routerLinkActive="active"
              routerLink="/home/sessions-expert"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <img src="../../assets/images/session-icon.svg" class="mnu_icn" />
              <span class="menu_txt">Sessions</span>
            </a>
          </li> -->
        <li class="list-item">
          <a
            href="javascript:;"
            class="menu_item"
            routerLinkActive="active"
            routerLink="/admin/home/analytics"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          <img
              src="../../assets/images/analytics.svg"
              class="mnu_icn"
            />
            <span class="menu_txt">Analytics</span>
          </a>
        </li>
        <li class="list-item" >
          <a
            href="javascript:;"
            class="menu_item"
            routerLinkActive="active"
            routerLink="/admin/home/verify-expert"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img src="../../assets/images/verify-expert.svg" class="mnu_icn" />
            <span class="menu_txt">Verify Experts</span>
          </a>
        </li>
     
        <!-- <li class="list-item" *ngIf="loginType == 'Learner'">
            <a
              href="javascript:;"
              class="menu_item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/sessions-learner"
            >
              <img src="../../assets/images/session-icon.svg" class="mnu_icn" />
              <span class="menu_txt">Sessions</span>
            </a>
          </li> -->
    
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>