/* ----- pre-meeting-css ------------------ */

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

:host /deep/ [id^="video"] {
  object-fit: inherit !important;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.pre-meeting-local .local {
  position:unset;
  border-radius: 10px;
  overflow: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin:0;
}
.pre-meeting-local{
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  background-color: #202124;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  overflow: hidden;
}
.pre-meeting-local button {
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-right: 1vw;
  border-radius: 50%;
  min-width: unset;
}
.pre-meeting-local .pre-meeting-mic-banner{
    width: max-content;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    background-color: rgb(32,33,36,0.7);
    
}
.pre-meeting-local .mic-popup{
  position: absolute;
  top: 12px;
  width: 100%;
  color: white;
  animation-delay: 2s;
  -webkit-animation-duration: 3s;animation-duration: 3s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.pre-meeting-local .pre-meeting-control-buttons{
  outline: none;
  width: 65px;
  height: 62px;
  border: 2px solid white;
  color: white;
  background: none;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}
.pre-meeting-local .shadow-top{
  position: absolute;
  top: -7px;
  height: 80px;
  width: 100%;
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}

.pre-meeting-local .shadow-bottom{
  position: absolute;
  bottom: -7px;
  height: 80px;
  width: 100%;
  background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}
.pre-meeting-local .pre-meeting-control-buttons:hover{
  background: rgb(255,255,255,0.4);
}
.pre-meeting-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .pre-meeting-join-button{
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}
.meeting-header{
  height: 100px;
  background: #ffffff;
  padding: 5px;
  width: 100%;
  display: block;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.meeting-header .logo {
  width: 100px;
  height: 8vh;
  float: left;
}
 .account-info-block{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .account-info-block .profile-picture{
  height: 50px;
  width:50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

 .profile-picture{
  height: 50px;
  width:50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

/* ------------------------------------------------------------------ */
.meeting-page button{
  min-width: unset;
  float: unset;
  width: unset;
  min-height: unset;
  border-radius: unset;
  text-align: unset;
  outline: unset !important;
  box-shadow: unset !important;
  padding: unset;
  font-weight: unset;
  transition: unset;
  border: unset;
  color: unset;
  background: unset;
  border:none;
}
.local {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;

}

.remote {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
}

.meeting-container  .nav-button{
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: #8DC63F;
  display: inline-block;
  justify-content: center;
  position: relative;
}
.meeting-container .nav-button img {
  width: 27px;
}
.meeting-container .nav-button:hover{
  background:#ec008c;
}
.meeting-container .leave-button{
  background: #FF2D58;
}
.meeting-container .leave-button:hover{
  background: #FF2D58;
}
.meeting-container .leave-button img {
  width: 20px!important;
}
.meeting-container .nav-button img {
  filter: brightness(0) invert(1);
  width: 27px;
}

.chat__buttons{
  position:absolute;
  bottom: 0;
}
.chat__thumb{
  display: flex;
  color: white;
  height: 67%;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.local-window{
  position: absolute;
  background: #8dc63f;
  bottom: 10px;
  right: 10px;
  width: 25%;
  height: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remote-window{
  width: 100%;
  height: 100%;
  background-color: purple;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 0;
    left: 0;
}

.duration-container{
  position: absolute;
    right: 15px;
    top: 10px;
    font-size: x-large;
    font-weight: 500;
}

.screen-share-window{
  height: 100%;
  width: 70%;
  left: 0;
  border-radius: 10px;
  position: absolute;
  background-color: grey;
  z-index: 1000;
  display: none;
}

.remote-window .remote-name{
  position: absolute;
  left: 15px;
  bottom: 5px;
  font-size: x-large;
  z-index: 1;
}
.remote-user-icon{
 font-size: 200px; 
}
.local-user-icon{
  font-size: 100px; 
}
.local-window .local-name{
  position: absolute;
  left: 30px;
  bottom: 5px;
  font-size: larger;
  z-index: 1;
}

/* style for no remote */
.no-remote.chat__thumb .remote-window {
  display: none;
}
.no-remote.chat__thumb .local-window{
  position: unset;
  background: purple;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* style for screen share */
.screen-shared.chat__thumb{
  display: flex;
  color: white;
  height: 67%;
  border-radius: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.screen-shared.chat__thumb .screen-share-window{
  display: block;
}
.screen-shared.chat__thumb .remote-window{
  width: 28%;
  height: 45%;
  background-color: purple;
  top: 10px;
  right: 10px;
  left: unset;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-shared.chat__thumb .local-window{
  position: absolute;
  background: #8dc63f;
  bottom: 10px;
  right: 10px;
  width: 28%;
  height: 45%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-shared.chat__thumb .remote-window .remote-user-icon{
  font-size: 100px; 
}  
.screen-shared.chat__thumb .remote-window .remote-name{
  position: absolute;
  left: 15px;
  bottom: 5px;
  font-size: larger;
} 

.chat__message .chat__title {
  width: 100%;
  height: 56px;
  background-color: #F7F7F7;
  padding: 15px;
  border-radius: 15px;
}
.chat__message .chat__title h4 {
  margin-bottom: 0;
  width: 100%;
  padding-right: 50px;
}
.chat__message .chat__title .close_btn {
  width: 30px;
  height: 30px;
  min-width: auto;
  min-height: auto;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 13px;
  background: #fff;
}
.chat__message .chat__wrapper {
  width: 100%;
  height: calc(100% - 50px);
  padding: 15px;
  overflow-y: auto;
  
}
.chat__message .chat__wrapper .chat__item+.chat__item {
  margin-top: 10px;
}
.chat__message .chat__text {
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.chat__message .chat__wrapper .chat__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.chat__message .chat__wrapper .chat__item+.chat__item{
  margin-top: 15px;
}
/* .chat__message .chat__wrapper .chat__item .icon__box {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
} */
.chat__message .chat__wrapper .chat__item .chat__msg {
  width: 85%;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  color: #B5B3B3;
}
.chat__message .chat__wrapper .chat__item .chat__msg span {
  color: #000;
  display: block;
  font-size: 110%;
  font-weight: 500;
}
.chat__message .chat__wrapper .chat__item .msg__time {
  width: 100%;
  margin-top: 5px;
  color: #B5B3B3;
  font-size: 90%;
}
.chat__message .chat__text .type_msg {
  width: 100%;
  display: inline-block;
  position: relative;
}
.chat__message .chat__text .type_msg input[type="text"] {
  outline: none;
  box-shadow: none !important;
  border-radius: 10px;
  border: none;
  height: 50px;
  font-size: inherit;
  color: #000;
  padding: 12px;
  background: #ffffff !important;
  width: 100%;
  padding-right: 65px;
}
.chat__message .chat__text .type_msg button {
  min-width: auto;
  min-height: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  background: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
}
.screen-shared.no-remote.chat__thumb .local-window{
  bottom: unset;
  top: 0;
}
.screen-shared.no-remote.chat__thumb .remote-window{
  display: none;
}
@media only screen and (max-width: 767px){
  .chat__thumb{
      width: 100%;
  }
  .meeting-container  .nav-button{
      width: 40px;
      height: 40px;
  }
  .meeting-container  .nav-button img {
    width: 22px;
}
.meeting-container .leave-button img {
    width: 15px;
}
  .chat__buttons{
      margin-bottom: 10px;
  }
  .remote-user-icon{
      font-size: 150px; 
   }
   .local-user-icon{
      font-size: 50px; 
  }
  .screen-shared.chat__thumb .remote-window .remote-user-icon{
      font-size: 50px; 
  }
  .screen-shared.chat__thumb .remote-window .remote-name{
      position: absolute;
      left: 15px;
      bottom: 5px;
      font-size: larger;
  }
  .screen-shared.chat__thumb .remote-window{
      width: 48%;
      height: 41%;
      background-color: purple;
      top:unset;
      bottom: 10px;
      left: 0;
      border-radius: 10px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .screen-shared.chat__thumb .local-window{
      position: absolute;
      background: #8dc63f;
      bottom: 10px;
      right: 0;
      width: 48%;
      height: 41%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .screen-share-window {
      height: 55%;
      top: 0;
      width: 100%;
      left: 0;
      border-radius: 10px;
      position: absolute;
      background-color: grey;
      z-index: 1000;
      display: none;
  }

  .no-remote.chat__thumb .local-window .local-name{
      position: absolute;
      left: 30px;
      bottom: 5px;
      font-size: x-large;
  }
  .no-remote.chat__thumb .local-window  .local-user-icon{
      font-size: 150px; 
  }
}
/* button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.control-icons {
    margin-top: 5px;
    font-size: 20px;
} */

.control-nav {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  z-index: 10;
}

.timer {
  color: #c0c0c0;
  font-size: 25px;
  margin-left: 10px;
  border-right: 1px solid #c0c0c0;
  padding-right: 10px;
}


.local-video-play{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.remote-video-play{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


.hideBlock {
  display: none;
}

.redBackground {
  background-color: red;
}

.sidenav {
  height: 100%;
  width: 0;
  z-index: 1001;
  right: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden;
}

.boxShadow {
  box-shadow: 0px 0px 5px rgb(199, 203, 217, 0.7);
}

.sideNavBody {
  height: 85%;
  margin-bottom: 15px;
  overflow-y: auto;
  margin-top: 20px;
}

.sideNavFooter {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.closeIconButton {
  background-color: white;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 20px;
  font-size: larger;
  cursor: pointer;
  color: #8d89aa;
  outline: none;
}

.closeIconButton:hover {
  background-color: #ccc;
  border-radius: 50%;
  color: black;
}

