<body style="max-width: 100vw; max-height: 100vh">
  <div class="chat__page" [class.hideBlock]="isInMeeting">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="chat__join">
            <div class="join__header">
              <div class="logo_img">
                <img
                  src="../../../assets/images/fellow genius logo.svg"
                  alt="logo"
                />
              </div>
              <!-- <a href="javascript:;" class="profile-picture"><img [src]="profilePictureUrl" style="width: 100%;height: 100%;"></a> -->
              <div class="account-info-block">
                <div>
                  <div style="text-align: end">{{ userName }}</div>
                  <div style="text-align: end">{{ userEmail }}</div>
                </div>
                <div style="margin-left: 10px">
                  <img
                    [src]="profilePictureUrl"
                    class="profile-picture"
                    alt="no_pic"
                  />
                </div>
              </div>
            </div>
            <div class="pre-meeting-container" style="padding-top: 15vh">
              <div style="width: 80%; margin: auto; padding: 20px">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-7">
                    <div class="pre-meeting-local">
                      <div [id]="localCallId1" class="local"></div>
                      <div class="shadow-top"></div>
                      <div
                        style="
                          position: absolute;
                          top: 40%;
                          color: white;
                          width: 100%;
                        "
                        *ngIf="muteHostVideoStatus == 'unmute host video'"
                      >
                        <p style="font-size: 22px; text-align: center">
                          Camera is off
                        </p>
                      </div>
                      <div class="shadow-bottom"></div>
                      <div class="mic-popup fadeOut" *ngIf="micTriggered">
                        <div
                          class="pre-meeting-mic-banner"
                          *ngIf="muteHostAudioStatus == 'unmute host mic'"
                        >
                          <span class="material-icons">mic_off</span>
                          <span style="font-size: 17px"
                            >&nbsp;Microphone off</span
                          >
                        </div>

                        <div
                          class="pre-meeting-mic-banner"
                          *ngIf="muteHostAudioStatus == 'mute host mic'"
                        >
                          <span class="material-icons">mic</span>
                          <span style="font-size: 17px"
                            >&nbsp;Microphone on</span
                          >
                        </div>
                      </div>
                      <div
                        style="
                          position: absolute;
                          bottom: 0;
                          width: 100%;
                          padding: 10px;
                        "
                      >
                        <div style="width: max-content; margin: auto">
                          <button
                            class="pre-meeting-control-buttons btn pre-meeting-mic"
                            (click)="preMeetingMuteAudio()"
                          >
                            <span
                              class="material-icons"
                              *ngIf="muteHostAudioStatus == 'unmute host mic'"
                              >mic_off
                            </span>
                            <span
                              class="material-icons"
                              *ngIf="muteHostAudioStatus == 'mute host mic'"
                              >mic
                            </span>
                          </button>
                          <button
                            class="
                              pre-meeting-control-buttons btn pre-meeting-video
                            "
                            style="margin-left: 2vw"
                            (click)="preMeetingMuteVideo()"
                          >
                            <span
                              class="material-icons"
                              *ngIf="muteHostVideoStatus == 'unmute host video'"
                            >
                              videocam_off
                            </span>
                            <span
                              class="material-icons"
                              *ngIf="muteHostVideoStatus == 'mute host video'"
                            >
                              videocam
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pre-meeting-info">
                    <div class="join__btn">
                      <h4>Ready to join</h4>
                      <button
                        class="button jn_BTN"
                        style="border-radius: 10%"
                        (click)="preMeetingJoin()"
                        [disabled]="meetingTimeInvalid"
                      >
                        Join
                      </button>
                      <div class="error_message" *ngIf="invalidUser">
                        <div class="msg_wrap">
                          <img
                            src="../../../assets/images/required-error.svg"
                            alt="#"
                            class="erro_icon"
                          />
                          <span><strong>Error</strong>Unable to join</span>
                        </div>
                      </div>
                      <div class="error_message" *ngIf="meetingTimeInvalid">
                        <div class="msg_wrap">
                          <img
                            src="../../../assets/images/required-error.svg"
                            alt="#"
                            class="erro_icon"
                          />
                          <span
                            ><strong>Error</strong>{{ meetingTimeError }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meeting-container" [class.hideBlock]="!isInMeeting">
    <div id="mySidenav" class="sidenav boxShadow" style="position: absolute">
      <div class="chat__message">
        <div class="chat__title" style="margin-bottom: 20px">
          <h4>Chat with {{ peerName }}</h4>
          <button type="button btn" style="border:none" class="close_btn" (click)="closeSideNav()">
            <img src="../../../assets/images/close-chat.svg" alt="#" />
          </button>

          <!-- <span class="durationContainer" *ngIf="remoteJoined"
            ><span>{{ timeLeft | formatTime }}</span></span
          > -->
        </div>
        <div class="chat__wrapper" #chatWindow #chatWindow
        [scrollTop]="chatWindow.scrollHeight"
        style="position: relative">
          <div class="chat__item" *ngFor="let message of meetingChat">
              
              <div class="chat__msg"><span>{{message.senderName}}</span>{{message.messageText}}</div>
          </div>
      </div>
        <!-- <div *ngFor="let message of meetingChat">
          <div class="incoming_msg" *ngIf="message.senderId != senderId">
            <div class="received_msg">
              <div class="received_withd_msg">
                <b style="color: black">{{ message.senderName }}</b> &emsp;
                <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
                <div class="fileWrapper" *ngIf="!message.messageText">
                  <img
                    [src]="message.dataSource"
                    alt=""
                    class="imageTransfer"
                    *ngIf="message.fileType == 'image/jpeg'"
                  />
                  <div
                    class="fileName"
                    *ngIf="message.fileType != 'image/jpeg'"
                  >
                    {{ message.fileName }}
                  </div>
                  <a
                    [href]="message.dataSource"
                    [download]="message.fileName"
                    class="downloadButton"
                    ><img
                      src="../../../assets/icons/download_black.svg"
                      alt=""
                      style="height: 30px; width: 30px; margin: 10px"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="outgoing_msg" *ngIf="message.senderId == senderId">
            <div class="sent_msg">
              <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
              <div class="fileWrapper" *ngIf="!message.messageText">
                <img
                  [src]="message.dataSource"
                  alt=""
                  class="imageTransfer"
                  *ngIf="message.fileType == 'image/jpeg'"
                />
                <div
                  class="fileName"
                  *ngIf="message.fileType != 'image/jpeg'"
                >
                  {{ message.fileName }}
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="chat__text">
          <div class="type_msg">
            <input
              type="text"
              (keydown)="handleSubmit($event)"
              [(ngModel)]="messageText"
              placeholder="Type your Message"
            />
            <button type="button" style="border:none" (click)="sendChatMessage()">
              <img src="../../../assets/images/send-message.svg" alt="#" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="chat__page meeting-page" style="height: 100vh; position: relative">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="chat__video">
              <div class="chat__header">
                <div class="logo_img">
                  <img
                    src="../../assets/images/fellow genius logo.svg"
                    alt="logo"
                  />
                </div>
                <div class="chat__name" style="position: relative">
                  <span
                    ><h5>{{ bookingDetails.domain }} Meeting</h5>
                    <small>{{ bookingDetails.subject }}</small></span
                  >
                  <span class="duration-container" *ngIf="remoteJoined"
                    ><span>{{ timeLeft | formatTime }}</span></span
                  >
                  <!-- <span style="float: right;margin-right: 20px;"><h4>00:00</h4></span> -->
                </div>
              </div>
              <!-- if both are present -->
              <!-- <div class="chat__thumb">
                          <div class="remote-window remote-joined">
                              <div class="remote-name">Expert</div>
                              <span class="material-icons blurred-icons remote-user-icon"> person </span>
                          </div>
                          <div class="local-window remote-joined"><div class="local-name">You</div><span class="material-icons blurred-icons local-user-icon"> person </span></div>
                      </div> -->
              <!-- if one is present -->
              <!-- <div class="chat__thumb">
                          <div class="remote-window no-remote">
                              <div class="remote-name">Expert</div>
                              <span class="material-icons blurred-icons remote-user-icon"> person </span>
                          </div>
                          <div class="no-remote local-window"><div class="local-name">You</div><span class="material-icons blurred-icons local-user-icon"> person </span></div>
                      </div> -->
              <!-- if screen is shared -->
              <div id="meeting-body" class="chat__thumb">
                <div class="screen-share-window">
                  <div [id]="localScreenCallId" class="screen"></div>
                  <div
                    *ngFor="let screenCallId of screenRemoteCalls"
                    [id]="screenCallId"
                    class="screen"
                  ></div>
                </div>
                <div>
                  <div class="remote-window remote">
                    <div class="remote-name">{{ peerName }}</div>
                    <span class="material-icons blurred-icons remote-user-icon">
                      person
                    </span>
                    <div
                      *ngFor="let callId of remoteCalls"
                      [id]="callId"
                      class="remote-video-play"
                    ></div>
                  </div>
                </div>

                <div class="local-window local">
                  <div class="local-name">You</div>
                  <span class="material-icons blurred-icons local-user-icon">
                    person
                  </span>

                  <div [id]="localCallId" class="local-video-play"></div>
                </div>
              </div>

              <div class="chat__buttons" style="height: 15%">
                <ul>
                  <li>
                    <button class="nav-button" (click)="muteVideo()">
                      <span
                        class=""
                        *ngIf="muteHostVideoStatus == 'mute host video'"
                        ><img src="../../assets/images/cam.svg" alt="#"
                      /></span>
                      <span
                        class=""
                        *ngIf="muteHostVideoStatus == 'unmute host video'"
                        ><img src="../../../assets/images/camera mute white.svg" alt="#"
                      /></span></button
                    ><span>Cam</span>
                  </li>
                  <li>
                    <button class="nav-button" (click)="muteAudio()">
                      <span *ngIf="muteHostAudioStatus == 'mute host mic'"
                        ><img src="../../assets/images/mic.svg" alt="#"
                      /></span>
                      <span *ngIf="muteHostAudioStatus == 'unmute host mic'"
                        ><img src="../../../assets/images/mic_off.svg" alt="#"
                      /></span></button
                    ><span>Mic</span>
                  </li>
                  <li>
                    <button
                      class="nav-button"
                      (click)="screenShare()"
                      [disabled]="screenRemoteCalls.length != 0"
                    >
                      <span
                        *ngIf="hostScreenShareStatus == true"
                        ><img src="../../../assets/images/screen sharing mute white.svg" alt="#"
                        />
                      </span>
                      <span *ngIf="hostScreenShareStatus == false"
                        ><img src="../../assets/images/share.svg" alt="#"
                      /></span></button
                    ><span>Share</span>
                  </li>

                  <li>
                    <button class="nav-button" (click)="openChatWindow()">
                      <span
                        ><img src="../../assets/images/chat.svg" alt="#"
                      /></span>
                      <span
              style="
                background-color: #32cd32;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: -5px;
              "
              *ngIf="newMessageNotification"
            ></span></button
                    ><span>Chat</span>
                  </li>
                  <li>
                    <button
                      class="nav-button leave-button"
                      (click)="stopStream()"
                    >
                      <span
                        ><img src="../../assets/images/leave-chat.svg" alt="#"
                      /></span></button
                    ><span>Leave</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
