/* ----- pre-meeting-css ------------------ */

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.pre-meeting-local .local {
  position:unset;
  border-radius: 10px;
  overflow: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin:0;
}
.pre-meeting-local{
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  background-color: #202124;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  overflow: hidden;
}
.pre-meeting-local .pre-meeting-mic-banner{
    width: max-content;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    background-color: rgb(32,33,36,0.7);
    
}
.pre-meeting-local .mic-popup{
  position: absolute;
  top: 12px;
  width: 100%;
  color: white;
  animation-delay: 2s;
  -webkit-animation-duration: 3s;animation-duration: 3s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.pre-meeting-local .pre-meeting-control-buttons{
  outline: none;
  width: 65px;
  height: 62px;
  border: 2px solid white;
  color: white;
  background: none;
  border-radius: 50%;
  overflow: hidden;
}
.pre-meeting-local .shadow-top{
  position: absolute;
  top: -7px;
  height: 80px;
  width: 100%;
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}

.pre-meeting-local .shadow-bottom{
  position: absolute;
  bottom: -7px;
  height: 80px;
  width: 100%;
  background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0) 100%);
}
.pre-meeting-local .pre-meeting-control-buttons:hover{
  background: rgb(255,255,255,0.4);
}
.pre-meeting-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .pre-meeting-join-button{
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}
.meeting-header{
  height: 100px;
  background: #ffffff;
  padding: 5px;
  width: 100%;
  display: block;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.meeting-header .logo {
  width: 100px;
  height: 8vh;
  float: left;
}
.meeting-header .account-info-block{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meeting-header .account-info-block .profile-picture{
  height: 50px;
  width:50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

/* ------------------------------------------------------------------ */

.local {
  position: relative;
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  margin: 15px;
}

.remote {
  position: relative;
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  margin: 15px;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

/* button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.control-icons {
    margin-top: 5px;
    font-size: 20px;
} */

.control-nav {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  z-index: 10;
}

button {
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-right: 1vw;
  border-radius: 50%;
}

.control-icons {
  box-shadow: 0px 0px 50px rgb(29, 25, 0);
  margin-top: 5px;
  font-size: 20px;
}

.control-nav-div {
  float: right;
  margin-top: 0.6vh;
}

.timer {
  color: #c0c0c0;
  font-size: 25px;
  margin-left: 10px;
  border-right: 1px solid #c0c0c0;
  padding-right: 10px;
}

.bg-image {
  /* The image used */
  /* background-color: #337ab8; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(125, 15, 125);
  text-align: center;
}
.local-video-play{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.remote-video-play{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.blurred-icons {
  /* color: #337ab8; */
  color: white;
  font-size: 50px;
  margin-top: 50px;
}

.short-name {
  position: relative;
  display: table;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  background-color: rgb(199, 203, 217);
  top: 20vh;
  box-shadow: 0px 0px 50px rgb(29, 29, 0);
  width: 180px;
  height: 180px;
  text-align: center;
  border-radius: 3px solid blue;
  border-style: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(192, 33, 236, 0.9),
    rgba(244, 229, 248, 1)
  );
  position: fixed;
}

.box {
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to bottom, rgba(244, 229, 248, 0.9), rgba(244, 229, 248, 1)); */
  /* background-image: linear-gradient(to bottom, rgba(125, 15, 125, 0.9), rgb(92, 72, 150, 1)); */
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 1),
    rgb(255, 200, 239, 1)
  );
  position: fixed;
}

.shortNameText {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 11vh;
  margin-left: auto;
  margin-right: auto;
}

.nameText {
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: larger;
  right: 0px;
  background-color: black;
  margin: 0;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 300;
  display: flex;
}

.expand-button {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  border-radius: 1px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  z-index: 1;
  color: white;
  cursor: pointer;
  outline: none;
  margin: 0;
  border: none;
  width: 40px;
  height: 40px;
}

.tools {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 70px;
  margin-left: 10px;
  width: 50px;
}

.canvas-body {
  position: relative;
  overflow: auto;
  max-height: 100%;
}

.toolButtons {
  margin: 5px;
  background: white;
  box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.whiteBoard {
  background-color: white;
}

.canvasWrapper {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

.canvasWrapperScreenShare {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

canvas {
  display: block;
}

.hideBlock {
  display: none;
}

.redBackground {
  background-color: red;
}

.sidenav {
  height: 100%;
  width: 0;
  z-index: 1001;
  right: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.4s;
}

.boxShadow {
  box-shadow: 0px 0px 5px rgb(199, 203, 217, 0.7);
}

.sideNavBody {
  height: 85%;
  margin-bottom: 15px;
  overflow-y: auto;
  margin-top: 20px;
}

.sideNavFooter {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.closeIconButton {
  background-color: white;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 20px;
  font-size: larger;
  cursor: pointer;
  color: #8d89aa;
  outline: none;
}

.closeIconButton:hover {
  background-color: #ccc;
  border-radius: 50%;
  color: black;
}

.input_msg_write {
  background-color: rgb(235, 235, 235);
  float: left;
  border: medium none;
  color: black;
  font-size: 15px;
  min-height: 48px;
  width: 86%;
  border-radius: 26px;
  padding-left: 15px;
  outline: none;
  padding-left: 25px;
  margin-right: 7px;
}

.write_msg {
  background-color: rgb(235, 235, 235);
  border: medium none;
  color: black;
  font-size: 15px;
  min-height: 48px;
  width: 84%;
  border-radius: 26px;
  outline: none;
}

.type_msg {
  border-top: none;
  position: relative;
  margin-bottom: 20px;
}

.msg_send_btn {
  background: #36404a none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 50px;
  top: 4px;
  width: 33px;
}

img {
  max-width: 100%;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  color: white;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.received_withd_msg p {
  background: rgb(200, 200, 200) none repeat scroll 0 0;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: white;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: rgb(45, 107, 134) none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 60%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.uploadButton {
  background: none;
  border: 1px solid #210184;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  color: #210184;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  font-size: large;
  margin: 0;
  margin-top: 4px;
  border-radius: 50%;
}

.uploadButton:hover {
  background-color: #210184;
  color: white;
}

.sent_msg .fileWrapper {
  background: rgb(45, 107, 134) none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: max-content;
}

.received_withd_msg .fileWrapper {
  background: rgb(200, 200, 200) none repeat scroll 0 0;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: max-content;
}

.imageTransfer {
  height: 10vw;
  width: 10vw;
  margin: 5px;
  border-radius: 5px;
}

.downloadButton {
  background: none;
  outline: none;
  border: none;
}

.fileName {
  display: inline-block;
  width: max-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.fileNameOutgoing {
  display: inline-block;
  width: max-content;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[id^="video"] {
  object-fit: inherit !important;
}

.durationContainer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #892687;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  font-size: 1.35rem;
  z-index: 100;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (min-device-height: 501px) and (-webkit-min-device-pixel-ratio: 2) {
  .local {
    position: fixed;
    width: 20vw;
    height: 17vh;
    top: 1rem !important;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    left: unset;
    right: 1rem;
  }
  .remote {
    position: fixed;
    width: 20vw;
    height: 17vh;
    top: 1rem !important;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    left: unset;
    right: 8rem;
  }
  .control-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .local .nameText {
    display: none;
  }
  .nameText {
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 15;
    font-size: xx-small;
    right: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 400;
  }
  .expand-button {
    display: none;
  }
  .short-name {
    top: 25vh;
  }
  .screen {
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100vw;
    height: 73vh;
    z-index: 4;
  }
  [id^="video"] {
    object-fit: inherit !important;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .blurred-icons {
      /* color: #337ab8; */
      color: white;
      font-size: 30px;
      margin-top: 40px;
    }
    .local {
      position: fixed;
      width: 20vw;
      height: 17vh;
      top: 1rem !important;
      border-radius: 5px;
      overflow: hidden;
      z-index: 10;
      left: unset;
      right: 1rem;
    }
    .remote {
      position: fixed;
      width: 20vw;
      height: 17vh;
      top: 1rem !important;
      border-radius: 5px;
      overflow: hidden;
      z-index: 10;
      left: unset;
      right: 8rem;
    }
    .control-nav {
      margin-top: 61vh;
    }
    .local .nameText {
      display: none;
    }
    .nameText {
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
      font-size: xx-small;
      right: 0px;
      background-color: rgb(0, 0, 0, 0.5);
      margin: 0;
      padding: 4px;
      padding-left: 7px;
      padding-right: 7px;
      font-weight: 400;
    }
    .expand-button {
      display: none;
    }
    .short-name {
      top: 25vh;
    }
    .screen {
      position: fixed;
      top: 7rem;
      left: 0;
      width: 100vw;
      height: 73vh;
      z-index: 4;
    }
    [id^="video"] {
      object-fit: inherit !important;
    }
  }
}