<div class="box"></div>
<div class="short-name">
    <p class="shortNameText">
        {{ meeting.userName | uppercase }}
    </p>
</div>
<!-- --------------------------------------for host ------------------------------------------------ -->
<div *ngIf="this.meeting.role == 'host'">
    <div id="mySidenav" class="sidenav boxShadow" style="position: absolute;">
        <button class="closeIconButton" (click)="closeSideNav()" title="close">
      <img src="../../../assets/icons/close.svg" alt="" style="height: 15px;" />
    </button>
        <div style="padding: 30px; height: 100%;">
            <div class="sideNavHeader">
                <h1 style="margin: 0;">Meeting Chat</h1>
            </div>
            <div #chatWindow [scrollTop]="chatWindow.scrollHeight" class="sideNavBody" style="position:relative">
                <div style="
        position: absolute;
        bottom: 5px;
        width: 98%;
        left: 3px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 5px rgb(199, 203, 217, 0.7);" *ngIf="fileUploadedBox">
                    <div *ngIf="fileSizeExceeded" style="color: red;">File size exceeded..upload upto 100 MB</div>
                    <div>{{fileName}}</div>
                    <div>{{fileSize}}</div>
                    <div style="float: right;">
                        <button class="btn btn-outline-secondary" (click)="closeFileUploadedBox()">Close</button>
                        <button class="btn btn-outline-primary" (click)="getBase64()" [disabled]="fileSizeExceeded">Send</button>
                    </div>
                </div>

                <div *ngFor="let message of meetingChat">
                    <div class="incoming_msg" *ngIf="message.senderId != senderId">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <b style="color: black;">{{ message.senderName }}</b> &emsp;
                                <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
                                <div class="fileWrapper" *ngIf="!message.messageText">
                                    <img [src]="message.dataSource" alt="" class="imageTransfer" *ngIf="message.fileType == 'image/jpeg'" />
                                    <div class="fileName" *ngIf="message.fileType != 'image/jpeg'">
                                        {{ message.fileName }}
                                    </div>
                                    <a [href]="message.dataSource" [download]="message.fileName" class="downloadButton"><img src="../../../assets/icons/download_black.svg" alt="" style="height: 30px; width: 30px; margin: 10px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outgoing_msg" *ngIf="message.senderId == senderId">
                        <div class="sent_msg">
                            <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
                            <div class="fileWrapper" *ngIf="!message.messageText">
                                <img [src]="message.dataSource" alt="" class="imageTransfer" *ngIf="message.fileType == 'image/jpeg'" />
                                <div class="fileName" *ngIf="message.fileType != 'image/jpeg'">
                                    {{ message.fileName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideNavFooter">
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" [(ngModel)]="messageText" placeholder="Type a message" (keydown)="handleSubmit($event)" />
                        <button class="msg_send_btn" type="button" (click)="sendChatMessage()">
              <img
                src="../../../../assets/icons/send.png"
                height="15px"
                width="15px"
              />
            </button>
                    </div>
                    <div style="width: max-content; display: inline-block;">
                        <input #fileUpload hidden="true" type="file" onclick="this.value=null" (change)="handleFileInput($event.target.files)" required />
                        <button class="uploadButton" (click)="fileUpload.click()">
              <i class="fas fa-file-upload"></i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [class]="myClass" class="canvasWrapper">
        <div class="canvas-body">
            <div class="tools">
                <button class="toolButtons" (click)="erase()">
          <img
            src="../../../assets/icons/rubber.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="pencil($event, 'red')">
          <img
            src="../../../assets/icons/redPencil.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="pencil($event, 'blue')">
          <img
            src="../../../assets/icons/bluePencil.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="pencil($event, 'black')">
          <img
            src="../../../assets/icons/blackPencil.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="undo()">
          <img
            src="../../../assets/icons/undo.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="redo()">
          <img
            src="../../../assets/icons/redo.svg"
            style="width: 30px; height: 30px;"
          />
        </button>
                <button class="toolButtons" (click)="reset()" style="width: 70px;">
          Reset
        </button>
            </div>
            <canvas #canvas></canvas>
        </div>
    </div>

    <div [id]="screenCallId" class="screen"></div>
    <div [id]="localCallId" class="local">
        <p class="nameText">{{ bookingDetails.tutorName }}</p>
    </div>
    <div class="bg-image local" *ngIf="muteHostVideoStatus == 'unmute host video'">
        <span class="material-icons blurred-icons">
      videocam_off
    </span>
    </div>
    <div class="bg-image remote" *ngIf="remoteVideoMute">
        <span class="material-icons blurred-icons">
      videocam_off
    </span>
    </div>
    <div class="control-nav">
        <div style="float: left;">
            <!-- session timer -->
            <span class="timer" *ngIf="remoteJoined"><span>{{ timeLeft | formatTime }}</span></span>
            <!-- mute-unmute video -->
            <button class="btn btn-primary" (click)="muteVideo()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'unmute host video'"
      >
        videocam_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'mute host video'"
      >
        videocam
      </span>
    </button>
            <!-- mute-unmute mic -->
            <button class="btn btn-primary" (click)="muteAudio()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'unmute host mic'"
        >mic_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'mute host mic'"
        >mic
      </span>
    </button>
            <!-- screen share -->
            <button class="btn btn-primary" (click)="screenShare()">
      <span
        class="material-icons control-icons"
        *ngIf="hostScreenShareStatus == false"
        >stop_screen_share
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="hostScreenShareStatus == true"
        >screen_share
      </span>
    </button>
            <button class="btn btn-primary" (click)="openWhiteBoard()">
      <img
        src="../../../assets/icons/whiteboard.svg"
        alt=""
        style="width: 21px; height: 32px;"
      />
    </button>
        </div>

        <!-- chat -->
        <div class="control-nav-div">
            <button class="btn btn-success" (click)="openChatWindow()" style="position: relative;">
      <span class="material-icons control-icons">chat </span>
      <span style=
   " background-color: #32CD32;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;"
    *ngIf="newMessageNotification"></span>
    </button>
            <!-- end call button  -->
            <button class="btn btn-danger" (click)="stopStream()" style="margin-right: 10px;">
      <span class="material-icons control-icons"> call_end </span>
    </button>
        </div>
    </div>
    <div *ngFor="let callId of remoteCalls" [id]="callId" [ngClass]="expandedScreen ? 'screen' : 'remote'">
        <p class="nameText">{{ bookingDetails.studentName }}</p>
        <button class="expand-button" (click)="expandScreen()" *ngIf="expandEnabled">
      <i *ngIf="!expandedScreen" class="fa fa-expand" aria-hidden="true"></i>
      <i *ngIf="expandedScreen" class="fa fa-compress" aria-hidden="true"></i>
    </button>
    </div>
</div>
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------- for student---------------------------------------- -->
<div *ngIf="this.meeting.role == 'student'">
    <div id="mySidenav" class="sidenav boxShadow" style="position: absolute;">
        <button class="closeIconButton" (click)="closeSideNav()" title="close">
      <img src="../../../assets/icons/close.svg" alt="" style="height: 15px;" />
    </button>
        <div style="padding: 30px; height: 100%;">
            <div class="sideNavHeader">
                <h1 style="margin: 0;">Meeting Chat</h1>
            </div>
            <div #chatWindow [scrollTop]="chatWindow.scrollHeight" class="sideNavBody" style="position: relative;">
                <div style="
        position: absolute;
        bottom: 5px;
        width: 98%;
        left: 3px;
        padding: 20px;
        box-shadow: 0px 0px 5px rgb(199, 203, 217, 0.7);" *ngIf="fileUploadedBox">
                    <div *ngIf="fileSizeExceeded" style="color: red;">File size exceeded..upload upto 100 MB</div>
                    <div>{{fileName}}</div>
                    <div>{{fileSize}}</div>
                    <div style="float: right;">
                        <button class="btn btn-outline-secondary" (click)="closeFileUploadedBox()">Close</button>
                        <button class="btn btn-outline-primary" (click)="getBase64()" [disabled]="fileSizeExceeded">Send</button>
                    </div>
                </div>
                <div *ngFor="let message of meetingChat">
                    <div class="incoming_msg" *ngIf="message.senderId != senderId">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <b style="color: black;">{{ message.senderName }}</b> &emsp;
                                <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
                                <div class="fileWrapper" *ngIf="!message.messageText">
                                    <img [src]="message.dataSource" alt="" class="imageTransfer" *ngIf="message.fileType == 'image/jpeg'" />
                                    <div class="fileName" *ngIf="message.fileType != 'image/jpeg'">
                                        {{ message.fileName }}
                                    </div>
                                    <a [href]="message.dataSource" [download]="message.fileName" class="downloadButton"><img src="../../../assets/icons/download_black.svg" alt="" style="height: 30px; width: 30px; margin: 10px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outgoing_msg" *ngIf="message.senderId == senderId">
                        <div class="sent_msg">
                            <p *ngIf="!message.dataSource">{{ message.messageText }}</p>
                            <div class="fileWrapper" *ngIf="!message.messageText">
                                <img [src]="message.dataSource" alt="" class="imageTransfer" *ngIf="message.fileType == 'image/jpeg'" />
                                <div class="fileName" *ngIf="message.fileType != 'image/jpeg'">
                                    {{ message.fileName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideNavFooter">
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" [(ngModel)]="messageText" placeholder="Type a message" (keydown)="handleSubmit($event)" />
                        <button class="msg_send_btn" type="button" (click)="sendChatMessage()">
              <img
                src="../../../../assets/icons/send.png"
                height="15px"
                width="15px"
              />
            </button>
                    </div>
                    <div style="width: max-content; display: inline-block;">
                        <input #fileUpload hidden="true" type="file" onclick="this.value=null" (change)="handleFileInput($event.target.files)" required />
                        <button class="uploadButton" (click)="fileUpload.click()">
              <i class="fas fa-file-upload"></i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [class]="myClass" class="canvasWrapper">
        <div class="canvas-body">
            <canvas #canvas></canvas>
        </div>
    </div>

    <div *ngFor="let screenCallId of screenRemoteCalls" [id]="screenCallId" class="screen">
        <p class="nameText">{{ bookingDetails.tutorName }}</p>
    </div>
    <div [id]="localCallId" class="local">
        <p class="nameText">{{ bookingDetails.studentName }}</p>
    </div>

    <div class="bg-image local" *ngIf="muteHostVideoStatus == 'unmute host video'">
        <span class="material-icons blurred-icons">
      videocam_off
    </span>
    </div>
    <div class="bg-image remote" *ngIf="remoteVideoMute">
        <span class="material-icons blurred-icons">
      videocam_off
    </span>
    </div>

    <span class="timer control-nav" style="background-color: blueviolet;"><span>{{ timeLeft | formatTime }}</span></span>
    <div class="control-nav">

        <!-- session timer -->
        <div style="float: left">
            <span class="timer" *ngIf="remoteJoined" style="background-color: blueviolet;"><span>{{ timeLeft | formatTime }}</span></span>
            <!-- mute-unmute video -->
            <button class="btn btn-primary" (click)="muteVideo()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'unmute host video'"
      >
        videocam_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostVideoStatus == 'mute host video'"
      >
        videocam
      </span>
    </button>
            <!-- mute-unmute mic -->
            <button class="btn btn-primary" (click)="muteAudio()">
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'unmute host mic'"
        >mic_off
      </span>
      <span
        class="material-icons control-icons"
        *ngIf="muteHostAudioStatus == 'mute host mic'"
        >mic
      </span>
    </button>
        </div>
        <!-- chats -->
        <div class="control-nav-div">
            <button class="btn btn-success" (click)="openChatWindow()" style="position: relative;">
      <span class="material-icons control-icons">chat </span>
      <span style=
   " background-color: #32CD32;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;"
    *ngIf="newMessageNotification"></span>
    </button>
            <!-- end call button  -->
            <button class="btn btn-danger" (click)="stopStream()" style="margin-right: 10px;">
      <span class="material-icons control-icons"> call_end </span>
    </button>
        </div>
    </div>
    <div *ngFor="let callId of remoteCalls" [id]="callId" [ngClass]="expandedScreen ? 'screen' : 'remote'">
        <p class="nameText">{{ bookingDetails.tutorName }}</p>
        <button class="expand-button" (click)="expandScreen()" *ngIf="expandEnabled">
      <i *ngIf="!expandedScreen" class="fa fa-expand" aria-hidden="true"></i>
      <i *ngIf="expandedScreen" class="fa fa-compress" aria-hidden="true"></i>
    </button>
    </div>
</div>