.search-container {
    height: 250px;
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.search-container .search-box-container {
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.search-container .search-box-container .input-group .input-group-header {
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
}

.search-container .search-box-container .input-group input[type="search"] {
    width: 100%;
    height: 34px;
    text-align: left;
    padding-left: 16px;
    border: 1px solid #cfd8dc;
    border-radius: 100px;
    top: -2px;
    position: relative;
    left: 4px;
    width: 350px;
    font-size: 13px;
    padding-right: 40px;
}

.search-container .search-box-container .input-group .input-group-btn {
    width: 20px;
    position: absolute;
    right: 43px;
    top: -5px;
    padding-left: 16px;
    background: transparent;
    cursor: pointer;
    border: 0px;
    height: 24px;
    outline: none;
}

.search-container .search-bg-left {
    background-size: contain;
    width: 265px;
    height: 220px;
    position: absolute;
    right: 10px;
    top: 27px;
}

.searchButton {
    background: none;
    outline: none;
    border: none;
    color: #761175;
    font-size: larger;
    position: absolute;
    right: 4px;
    top: 37px;
    z-index: 1;
}

.searchButton:hover {
    background: #e0e0e0;
    border-radius: 50%;
}

.carousel-btn-group {
    margin-bottom: 10px;
}

.whyFGContainer {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 1600px) {
    .whyFGContainer {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 600px) {
    .whyFGContainer {
        padding-left: 5vw;
    }
}


/* ................................................ */

button {
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: 1vw;
    border-radius: 50%;
}

.control-icons {
    margin-top: 5px;
    font-size: 20px;
}

.control-nav {
    /* background: rgb(57, 57, 57); */
    padding-bottom: 1vh;
    /* width: fit-content; */
    width: max-content;
    /* border-radius: 5px; */
    /* position: fixed; */
    bottom: 15vh;
    /* left: 40vw; */
    margin: auto;
    z-index: 1000;
    /* box-shadow: 0px 15px 8px rgb(199, 203, 217, 0.5); */
}

.control-nav-div {
    float: right;
    margin-top: 0.6vh;
}