.marginZero {
	margin: 0;
}

.berlinText {
	font-family: custom;
}

.switchView {
	max-width: -webkit-fill-available;
	max-height: -webkit-fill-available;
	margin-top: 10%;
}
.dropdown-menu {
	left: -72px;
}
