@media only screen and (min-width: 768px) {
.bannerPaddingBottom{
    padding-bottom: 100px;
}
}
@media only screen and (max-width: 581px){
.btn_block{
    width: 60% !important;
    font-size: x-large !important;
}
}

::ng-deep .mat-autocomplete-panel { 
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    max-width: none;
    max-height: 256px;
    position: absolute!important;
    top:0;
    width: 280px;
    z-index: 10000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
