
<body>
	<app-nav-bar></app-nav-bar>
<div class="page-content">
	<section class="wi_full py_5 banner_sec">
		<div class="container" >
			<div class="row align-items-center">
				<div class="col-12 col-lg-7">
					<div class="banner_content bannerPaddingBottom">
						<h1>On Demand Consulting</h1>
						<p> Interact with experts of your choice in just a click</p>
						<form (ngSubmit)="displaySelectedSubjects()"> 
							<div class="serach_field" style="position: relative;">
								<input type="search" class="form-control domain_srch" placeholder="Find Experts by Domain" [formControl]="myControl"
								[matAutocomplete]="auto"
								[(ngModel)]="selectedSubject" />
								<mat-autocomplete #auto="matAutocomplete" (optionSelected)='optionSelected($event.option.value)' autoActiveFirstOption>
									<mat-option
									  *ngFor="let option of filteredOptions | async"
									  [value]="option"
									>
									  {{ option }}
									</mat-option>
								  </mat-autocomplete>
							</div>
						</form>
					</div>
				</div>
				<div class="col-12 col-lg-5">
					<div class="banner_image">
						<img src="../../assets/images/header-img.png" alt="#">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wi_full py_5 help_sec">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-5">
					<div class="content_box">
						<h2>Why Fellow Genius</h2>
					</div>
				</div>
				<div class="col-12 col-lg-7">
					<div class="help_list">
						<ul>
							<li>
								<div class="list_wrapper">
									<div class="help_icon"><img src="../../assets/images/curated-experts.svg" alt="#"></div>
									<div class="help_text">
										<h5>Curated Set of Experts</h5>
										<p> Connect with professionals with years of hands-on experience</p>
									</div> 
								</div>
							</li>
							<li>
								<div class="list_wrapper">
									<div class="help_icon"><img src="../../assets/images/innovative-consulting.svg" alt="#"></div>
									<div class="help_text">
										<h5>Innovative Consulting</h5>
										<p>One-stop consulting platform for working professionals and individuals</p>
									</div> 
								</div>
							</li>
							<li>
								<div class="list_wrapper">
									<div class="help_icon"><img src="../../assets/images/personal-learning.svg" alt="#"></div>
									<div class="help_text">
										<h5>Personalised Learning </h5>
										<p> Live video interaction with the expert from your chosen domain</p>
									</div> 
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12" style="display: flex;justify-content: center;" *ngIf="!loginService.getLoginType()">
					<div class="btn_block" style="    width: 25%;
					font-size: xx-large;" >
						<a href="#Signup__Popup" data-toggle="modal" data-bs-toggle="tooltip" data-placement="bottom" title="Sign Up"
						class="button signUp_btn" style="width: 100%;">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wi_full py_5 how_works_sec" *ngIf="!loginService.getLoginType()">
		<div class="container">
			
			<div class="row align-items-center">
				<div class="col-12 col-lg-7 mx-auto">
					<div class="sec_title">
						<h2>How it Works?</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="how_works_steps">
			<div class="container">
				<!-- <div class="hw_video_sec">
					<div class="video-carousel owl-carousel owl-theme">
						<div class="item">
							<div class="video_box">
								<img src="../../assets/images/video-thumb.png" class="w-100">
								<button class="video_btn" data-toggle="modal" data-target="#videoPopup1">
									<img src="../../assets/images/play-button.svg">
								</button>
							</div>
						</div>
						<div class="item">
							<div class="video_box">
								<img src="../../assets/images/video-thumb.png" class="w-100">
								<button class="video_btn" data-toggle="modal" data-target="#videoPopup2">
									<img src="../../assets/images/play-button.svg">
								</button>
							</div>
						</div>
					</div>
				</div> -->
				<div class="step_wrapper wi_full py_5">
					<div class="row">
						<div class="col-12 col-lg-10 mx-auto">
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/start-register.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">01</div>
									<h3>Sign up and Complete Your Profile</h3>
								</div>
							</div>
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/domain-interest.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">02</div>
									<h3>Select the Domain and Topic of Interest</h3>
								</div>
							</div>
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/expert-meeting.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">03</div>
									<h3>Choose an Expert and Book a Meeting as per Availability</h3>
								</div>
							</div>
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/make-payment.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">04</div>
									<h3>Make Payment</h3>
								</div>
							</div>
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/expert-confirmation.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">05</div>
									<h3>Get Confirmation from Expert</h3>
								</div>
							</div>
							<div class="list_item">
								<div class="img_box">
									<img src="../../assets/images/attend-session.svg" alt="#">
								</div>
								<div class="content_box">
									<div class="item_count">06</div>
									<h3>Attend Session</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wi_full py_5 help_sec">
		<div class="container">
			<div class="consultaion_sec">
				<div class="row">
					<div class="col-12">
						<div class="sec_title">
							<h2>Key Consultation Areas</h2>
						</div>
						<div class="consultaion_list">
							<div class="list_item" (click)="displayFromTiles('Sales and Business Development')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/sales.svg" alt="#"></span>
									<span class="list_txt">Sales and Business Development</span>
								</div>
							</div>
							<div class="list_item" (click)="displayFromTiles('Finance')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/finance.svg" alt="#"></span>
									<span class="list_txt">Finance</span>
								</div>
							</div>
							<div class="list_item" (click)="displayFromTiles('Marketing')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/marketing.svg" alt="#"></span>
									<span class="list_txt">Marketing</span>
								</div>
							</div>
							<div class="list_item" (click)="displayFromTiles('Programming and Technology')">
								<div class="data_wrap" >
									<span class="list_icon"><img src="../../assets/images/IT-support.svg" alt="#"></span>
									<span class="list_txt">Programming and Technology</span>
								</div>
							</div>
							<div class="list_item" (click)="displayFromTiles('Software Tools')">
								<div class="data_wrap" >
									<span class="list_icon"><img src="../../assets/images/tools.svg" alt="#"></span>
									<span class="list_txt">Software Tools</span>
								</div>
							</div>
							<div class="list_item" (click)="displayFromTiles('Personal Development and Others')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/E-comm.svg" alt="#"></span>
									<span class="list_txt">Personal Development</span>
								</div>
							</div>
							<!-- <div class="list_item" (click)="displayFromTiles('New and Emerging technology')">
								<div class="data_wrap" >
									<span class="list_icon"><img src="../../assets/images/tools.svg" alt="#"></span>
									<span class="list_txt">New and Emerging technology</span>
								</div>
							</div> -->
							
							
							<!-- <div class="list_item" (click)="displayFromTiles('Operations and SCM')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/content.svg" alt="#"></span>
									<span class="list_txt">Operations and SCM</span>
								</div>
							</div> -->
							
							
							<!-- <div class="list_item" (click)="displayFromTiles('Strategy and Industry Expertise')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/strategy.svg" alt="#"></span>
									<span class="list_txt">Strategy and Industry Expertise</span>
								</div>
							</div> -->
							
							<!-- <div class="list_item" (click)="displayFromTiles('HR')">
								<div class="data_wrap">
									<span class="list_icon"><img src="../../assets/images/HR.svg" alt="#"></span>
									<span class="list_txt">HR</span>
								</div>
							</div> -->
							
						</div>
					</div>
				</div>
			</div>
			<div class="expert_sec">
				<div class="row">
					<div class="col-12">
						<div class="sec_title">
							<h2>Meet the Experts</h2>
						</div>
						<div class="carousel_sec">
							<div class="expert-carousel owl-carousel owl-theme">
								<div class="item" *ngFor="let slide of slidesStore">
									<div class="item_wrap">
										<img [src]="slide.imageUrl" alt="#">
										<h5>{{slide.name}}</h5>
										<small>{{slide.domain}}</small>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

</div>

<app-footer></app-footer>

<!-- VIDEO POPUP -->
<div class="modal fade" id="videoPopup1" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content border-0 bg-transparent">
			<div class="modal-body p-0">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				<div class="video_box">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/eWgqzTKO61Y?controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
			 </div>
		</div>
	</div>
</div>

<div class="modal fade" id="videoPopup2" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content border-0 bg-transparent">
			<div class="modal-body p-0">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				<div class="video_box">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/eWgqzTKO61Y?controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
			 </div>
		</div>
	</div>
</div>
<div class="modal fade" id="Signup__Popup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-body">
                <button type="button" id="closePopUpButton" class="close" style="border: none;" data-dismiss="modal" aria-label="Close">
                  <img src="../../assets/images/close-modal.svg" alt="#">
                </button>
                <div class="Signup_form_box">
        <h2>Sign up as</h2>
        <div class="signUP__btns">
          <a href="javascript:;" (click)="signUpRouting('sign-up-expert')" class="sgn_ppup_btn Exprt__btn">
            <span class="btn__Icon"><img src="../../assets/images/SExpert-Icon.svg"></span>
            <span>Expert</span>
          </a>
          <a href="javascript:;" (click)="signUpRouting('sign-up')" class="sgn_ppup_btn lrnr__btn">
            <span class="btn__Icon"><img src="../../assets/images/SLearner-icon.svg"></span>
            <span>Learner</span>
          </a>
        </div>
      </div>
     </div>
        </div>
    </div>
</div>
</body>
