.navbar-brand {
	color: #241084;
	font-size: 30px;
	font-weight: 500;
	margin-left: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.navbar-brand:hover {
	color: #241084;
}

.na .navbar {
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
}

.homeButtons {
	border: 1.1px solid #241084;
	color: #241084;
	margin-right: 10px;
	box-shadow: none;
}

.home-button-invert {
	background-color: #241084;
	color: white;
	margin-right: 10px;
	outline: none;
}

.homeButtons:hover {
	background-color: #241084;
	color: white;
}

.marginZero {
	margin: 0;
}

.berlinText {
	font-family: custom;
}

.switchView {
	max-width: -webkit-fill-available;
	max-height: -webkit-fill-available;
	margin-top: 10%;
}
