
<body>
	<footer class="wi_full py_5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="ftr_logo">
						<img src="../../assets/images/footer-logo.svg" alt="#" class="btm_logo">
						<p>On Demand Consulting</p>
					</div>
				</div>
				<div class="col-12 col-md-7 col-lg-4">
					<div class="ftr_nav">
						<h5>Company</h5>
						<ul>
							<li><a href="javascript:;" routerLink="/about-us">About us</a></li>
							<li><a href="javascript:;" routerLink="/contact-us">Contact us</a></li>
							<li><a href="javascript:;" routerLink="/faq">FAQ</a></li>
							<li><a href="javascript:;" routerLink="/terms-and-conditions">Terms and Conditions</a></li>
							<li><a href="javascript:;" routerLink="/privacy-policy">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-5 col-lg-3" style="position: relative;margin-top: 80px;">
					<div class="ftr_nav"style="position: absolute;bottom:0">
						<!-- <h5>Resources</h5>
						<ul>
							<li><a href="javascript:;" routerLink="/blogs">Blogs</a></li>
							<li><a href="javascript:;" routerLink="/resource-videos">Video</a></li>
							<li><a href="javascript:;" routerLink="/resource-events">Events</a></li>
						</ul> -->
						<div class="social_links" >
							<a href=""><img src="../../assets/images/Linkedin.svg" alt="#"></a>
							<a href=""><img src="../../assets/images/Twitter.svg" alt="#"></a>
							<!-- <a href=""><img src="../../assets/images/Youtube.svg" alt="#"></a> -->
							<a href=""><img src="../../assets/images/instagram.svg" alt="#"></a>
						</div>
					</div>
				</div>
				<div class="col-12 text-center">
					<div class="cpyrgt_txt">© Copyright 2021 | Designed by <a href="https://cresttechnosoft.com/" target="_blank">Cresttechnosoft</a></div>
				</div>
			</div>
		</div>
	</footer>
</body>
