button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.denial {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
}

.denial:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: large;
}