<body>
    <div class="row" *ngIf="editVariable=='basicInfoEdit2'">
        <div class="row box">
            <div class="row marginZero" style="width: 100%;">
                <h1 style="margin-left: 15px;font-weight: 400;color:#241084;width: 100%;text-align: center;">Update Basic Info</h1>
            </div>
            <form style="width: 100%;" (ngSubmit)="editBasicInfo2(f)" #f="ngForm">
                <hr>
                <div class="row">
                  
                  <div class="col-md-8" style="margin-left: auto;margin-right: auto;">
                    <div class="form-group" style="width: 100%;">
                      <input type="text" id="fullName" name="fullName" [ngModel]="studentProfile.fullName" class="form-control" required #fullName="ngModel" />
                      <label class="form-control-placeholder" for="fullName">Full Name</label>
                      <span class="help-block" *ngIf="!fullName.valid && fullName.touched">Invalid Name</span
                   >
              </div>
      

       <div class="form-group" style="width: 100%;">
        <input
          type="email"
          id="email"
          name="email"
          [ngModel]="studentProfile.email"
          class="form-control"
          ngModel
          required
          email
          #email="ngModel"
          disabled
        />
        <label style="
        position: absolute;
        top: -17px;
        left: 10px;" 
        for="email"
          >Email Address</label
        >
        <span class="help-block" *ngIf="!email.valid && email.touched"
          >Invalid email</span
        >
      </div>
                  </div>
                  
            </div>

                <div class="row">
                    <button type="submit" class="btn btn-outline-primary continueButton" [disabled]="!f.valid" style="margin: auto;">
              Update
            </button>
                </div>
            </form>

        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------ -->
    <div class="row" *ngIf="editVariable=='basicInfoEdit'">
        <div class="row box">
            <div class="row marginZero" style="width: 100%;">
                <h1 style="margin-left: 15px;font-weight: 400;color:#241084">Update Basic Info</h1>
            </div>
            <form style="width: 100%;" (ngSubmit)="editBasicInfo(s)" #s="ngForm">
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="fullName" name="fullName" [ngModel]="studentProfile.fullName" class="form-control" required #fullName="ngModel" />
                            <label class="form-control-placeholder" for="fullName">Full Name</label
            >
            <span
              class="help-block"
              *ngIf="!fullName.valid && fullName.touched"
              >Invalid Name</span
            >
          </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="email"
                  id="email"
                  name="email"
                  [ngModel]="studentProfile.email"
                  class="form-control"
                  required
                  email
                  #email="ngModel"
                  disabled
                />
                <label style="
                position: absolute;
                top: -17px;
                left: 10px;" 
                for="email"
                  >Email Address</label
                >
                <span class="help-block" *ngIf="!email.valid && email.touched"
                  >Invalid email</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  id="contact"
                  class="form-control"
                  [ngModel]="studentProfile.contact"
                  name="contact"
                  required
                  [pattern]="mobNumberPattern"
                  #contact="ngModel"
                />
                <label class="form-control-placeholder" for="contact"
                  >Mobile Number</label
                >
                <span
                  *ngIf="!contact.valid && contact.touched"
                  class="help-block"
                  >Invalid contact</span
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="dateOfBirth"
                  [ngModel]="studentProfile.dateOfBirth"
                  onfocus="(this.type='date')"
                  onblur="(this.type='text')"
                  id="date"
                  required
                />
                <label class="form-control-placeholder" for="date"
                  >Date of Birth</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="gradeLevel" ngModel required>
  
                    <optgroup label="School">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </optgroup>
                    <option class="divider" disabled></option>
                    <optgroup label="Engineering">
                      <option>Computer Science</option>
                      <option>Information Technology</option>
                      <option>Mechanical</option>
                      <option>Civil</option>
                      <option>Textile</option>
                    </optgroup> 
                    <option class="divider" disabled></option>
                    <optgroup label="Medical">
                      <option>MBBS</option>
                      <option>BDS</option>
                    </optgroup>
                    <option class="divider" disabled></option>
                    <option>Commerce/BBA/BCOM/BBS</option>
                    <option class="divider" disabled></option>
                    <option>Arts Stream/BA</option>
                    <option class="divider" disabled></option>
                    <option>Science/B.Sc</option>
                </select>
                <label class="form-control-placeholder" for="gradeLevel">Select Grade</label>
        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="form-control" name="subject" ngModel required>
                          <optgroup label="9">
                            <option>English</option>
                            <option>Hindi</option>
                            <option>Mathematics</option>
                            <option>Science</option>
                            <option>Social Science</option>
                            </optgroup>
                            <option class="divider" disabled></option>
          
                            <optgroup label="10">
                            <option>English</option>
                            <option>Hindi</option>
                            <option>Mathematics</option>
                            <option>Science</option>
                            <option>Social Science</option>
                            </optgroup>
                            <option class="divider" disabled></option>
          
                            <optgroup label="11">
                              <optgroup label="Science">
                                <option>English</option>
                                <option>Physics</option>
                                <option>Mathematics</option>
                                <option>Chemistry</option>
                                <option>Biology</option>
                                <option>Physical Education</option>
                                <option>Psychology</option>
                                <option>Biotechnology</option>
                                <option>Home Science</option>
                                <option>Computer Science</option>
                                <option>Engineering Drawing</option>
                              </optgroup>
                              
                              <optgroup label="Commerce">
                                <option>Accountancy</option>
                                <option>Business Studies</option>
                                <option>Economics</option>
                                <option>Multimedia & Web Technology</option>
                                <option>Entrepreneurship</option>
                                <option>Legal Studies</option>
                                <option>Fine Arts</option>
                              </optgroup>
          
                              <optgroup label="Humanities/Arts">
                                <option>History</option>
                                <option>Political Science</option>
                                <option>Economics</option>
                                <option>Geography</option>
                                <option>Sociology</option>
                                <option>Media Studies</option>   
                              <!-- </optgroup> -->
                            </optgroup>
                            <option class="divider" disabled></option>
          
                            <optgroup label="12">
                              <optgroup label="Science">
                                <option>English</option>
                                <option>Physics</option>
                                <option>Mathematics</option>
                                <option>Chemistry</option>
                                <option>Biology</option>
                                <option>Physical Education</option>
                                <option>Psychology</option>
                                <option>Biotechnology</option>
                                <option>Home Science</option>
                                <option>Computer Science</option>
                                <option>Engineering Drawing</option>
                              </optgroup>
                              
                              <optgroup label="Commerce">
                                <option>Accountancy</option>
                                <option>Business Studies</option>
                                <option>Economics</option>
                                <option>Multimedia & Web Technology</option>
                                <option>Entrepreneurship</option>
                                <option>Legal Studies</option>
                                <option>Fine Arts</option>
                              </optgroup>
          
                              <optgroup label="Humanities/Arts">
                                <option>History</option>
                                <option>Political Science</option>
                                <option>Economics</option>
                                <option>Geography</option>
                                <option>Sociology</option>
                                <option>Media Studies</option>   
                              <!-- </optgroup> -->
                            </optgroup>
                            
                            <option class="divider" disabled></option>
                            <optgroup label="Graduation" >
                              <optgroup label="Commerce/BBA/BCOM/BBS">
                                <option>B.Com(Hons)-Year 1</option>
                                <option>B.Com(Hons)-Year 2</option>
                                <option>B.Com(Hons) Year 3</option>
                                <option>Bachelor of Management Studies- Year 1</option>
                                <option>Bachelor of Management Studies- year 2</option>
                                <option>Bachelor of Management Studies- Year 3</option>
                                
                                
                                <option>B.Com(Corporate Laws)-year 1</option>
                                <option>B.Com(Corporate Laws)-year 1</option>
                                <option>B.Com(Corporate Laws)-year 1</option>
                                
                                
                                <option>BBA- Year 1</option>
                                <option>BBA-Year 2</option>
                                <option>BBA- year 3</option>
                                
                                
                                <option>Bachelor of Business Studies- Year 1</option>
                                <option>Bachelor of Business Studies- Year 2</option>
                                <option>Bachelor of Business Studies- Year 3</option>
                              </optgroup>
                              <optgroup label="Science/B.Sc">
                                <option>B.Sc(Gen-Maths)- Year 1</option> 
                                <option>B.Sc(Gen-Maths)- Year 2</option>
                                <option>B.Sc(Gen-Maths)- Year 3</option>
                                
                                
                                <option>B.Sc(Hons-Maths)- Year 1</option>
                                <option>B.Sc(Hons-Maths)- Year 1</option>
                                <option>B.Sc(Hons-Maths)- Year 1</option>
                                
                                
                                <option>B.Sc(Hons-Chemistry)- Year 1</option>
                                <option>B.Sc(Hons-Chemistry)- year 2</option>
                                <option>B.Sc(Hons-Chemistry) - Year 3</option>
                                
                                
                                <option>B.Sc(Hons-Physics)- Year 1</option>
                                <option>B.Sc(Hons-Physics)- Year 2</option>
                                <option>B.Sc(Hons-Physics)- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Applied Physical Science- Year 1</option>
                                <option>B.Sc (Hons) Applied Physical Science- Year 2</option>
                                <option>B.Sc (Hons) Applied Physical Science- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Statistics- Year 1</option>
                                <option>B.Sc (Hons) Statistics- Year 2</option>
                                <option>B.Sc (Hons) Statistics- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Botany - Year 1</option>
                                <option>B.Sc (Hons) Botany - Year 2</option>
                                <option>B.Sc (Hons) Botany - Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Zoology - Year 1</option>
                                <option>B.Sc (Hons) Zoology - Year 2</option>
                                <option>B.Sc (Hons) Zoology - Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Industrial Chemistry - Year 1</option>
                                <option>B.Sc (Hons) Industrial Chemistry - Year 2</option>
                                <option>B.Sc (Hons) Industrial Chemistry - Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Biological Science- Year 1</option>
                                <option>B.Sc (Hons) Biological Science- Year 2</option>
                                <option>B.Sc (Hons) Biological Science- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Computer Science- Year 1</option>
                                <option>B.Sc (Hons) Computer Science- Year 2</option>
                                <option>B.Sc (Hons) Computer Science- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Electronics- Year 1</option>
                                <option>B.Sc (Hons) Electronics- Year 2</option>
                                <option>B.Sc (Hons) Electronics- Year 3</option>
                                
                                
                                <option>B.Sc. (MT) Radiography - Year 1</option>
                                <option>B.Sc. (MT) Radiography - Year 2</option>
                                <option>B.Sc. (MT) Radiography - Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Geology- Year 1</option>
                                <option>B.Sc (Hons) Geology- Year 2</option>
                                <option>B.Sc (Hons) Geology- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Anthropology- Year 1</option>
                                <option>B.Sc (Hons) Anthropology- Year 2</option>
                                <option>B.Sc (Hons) Anthropology- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Microbiology- Year 1</option>
                                <option>B.Sc (Hons) Microbiology- Year 2</option>
                                <option>B.Sc (Hons) Microbiology- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Bio-Chemistry - Year 1</option>
                                <option>B.Sc (Hons) Bio-Chemistry - Year 2</option>
                                <option>B.Sc (Hons) Bio-Chemistry - Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Biomedical Science- Year 1</option>
                                <option>B.Sc (Hons) Biomedical Science- Year 2</option>
                                <option>B.Sc (Hons) Biomedical Science- Year 3</option>
                                
                                
                                <option>B.Sc (Hons) Polymer Science - Year 1</option>
                                <option>B.Sc (Hons) Polymer Science - Year 2</option>
                                <option>B.Sc (Hons) Polymer Science - Year 3</option>
                              </optgroup>
                              <optgroup label="Arts Stream/BA">
                                <option>B.A (Hons) English- Year 1</option>
                                <option>B.A (Hons) English- Year 2</option>
                                <option>B.A (Hons) English- Year 3</option>
                                
                                <option>B.A. (Hons) Economics- Year 1</option>
                                <option>B.A. (Hons) Economics- Year 2</option>
                                <option>B.A. (Hons) Economics- Year 3</option>
                                
                                <option>B.A. (Hons.) Business Economics- Year 1</option>
                                <option>B.A. (Hons.) Business Economics- Year 2</option>
                                <option>B.A. (Hons.) Business Economics- Year 3</option>
                                
                                <option>B.A. (Hons.) Multimedia and Mass Communication- Year 1</option>
                                <option>B.A. (Hons.) Multimedia and Mass Communication- Year 3</option>
                                
                                <option>B.A (Hons) Political Science- Year 1</option>
                                <option>B.A (Hons) Political Science- Year 2</option>
                                <option>B.A (Hons) Political Science- Year 3</option>
                                
                                <option>B.A (Hons) Psychology- Year 1</option>
                                <option>B.A (Hons) Psychology- Year 2</option>
                                <option>B.A (Hons) Psychology- Year 3</option>
                                
                                <option>B.A. (Hons) Business Economics (BBE)- Year 1</option>
                                <option>B.A. (Hons) Business Economics (BBE)- Year 2</option>
                                <option>B.A. (Hons) Business Economics (BBE)- Year 3</option>
                                
                                <option>B.A (Hons) Spanish- Year 1</option>
                                <option>B.A (Hons) Spanish- Year 2</option>
                                <option>B.A (Hons) Spanish- Year 3</option>
                                
                                <option>B.A (Hons) Sanskrit- Year 1</option>
                                <option>B.A (Hons) Sanskrit- Year 2</option>
                                <option>B.A (Hons) Sanskrit- Year 3</option>
                              <!-- </optgroup> -->
                            </optgroup>
                        </select>
                        <label class="form-control-placeholder" for="subject"
                          >Choose Subject</label
                        >
                      </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary continueButton" [disabled]="!s.valid" style="margin: auto;">
              Update
            </button>
                </div>
            </form>

        </div>
    </div>
</body>