body {
    margin-left: 20px;
}

.box {
    margin: 10px;
    margin-right: 35px !important;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 5px;
    left: 11px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 500ms;
    opacity: 1;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 90%;
    transform: translate3d(0, -75%, 0);
}

label {
    background-color: white;
    margin: 0;
}

hr {
    margin-top: 0;
}

.marginZero {
    margin: 0;
}