body {
	height: 100vh;
	width: 100vw;
	padding-top: 30px;
	margin: 0;
	background-color: #f9fafc;
	/* padding-top: 10vh; */
	/* background-color: red; */
	font-family: Helvetica, Arial, Sans-Serif;
}

.box {
	width: 80vw;
	height: 85vh;
	background-color: #fafafa;
	margin: auto;
	border: 1.5px solid #eee;
	overflow: hidden;
	padding: 0;
}

.row {
	margin: 0;
}

.booking-top {
	border-bottom: 1.5px solid #eee;
}

.calendar {
	display: inline-block;
	width: 70%;
	height: 100%;
}

.bookings-button {
	font-size: smaller;
	margin-left: 10px;
	padding: 10px;
	background: none;
	color: black;
	border: none;
	border-bottom: 3px solid #2a608f;
	text-decoration: none;
}

.bookings-button:hover {
	background-color: #2a608f;
	color: white;
}

hr {
	margin-bottom: 1px;
}

.bookings {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	width: 100%;
	height: 100%;
	border-left: 1px solid #c4c4c4;
}

.booking-header {
	padding: 10px;
	padding-top: 20px;
}

.booking-list {
	padding: 10px;
	overflow-y: scroll;
	height: 66vh;
}

.calendar {
	width: 100%;
	height: inherit;
}

.calendar-nav {
	width: auto;
	height: 6vh;
	background-color: #f8f8f8;
	font-size: medium;
}

.calendar-main {
	width: auto;
	background-color: brown;
	overflow-y: scroll;
	height: inherit;
}

h3 {
	margin: 0 0 10px;
	font-size: larger;
}

pre {
	background-color: #f5f5f5;
	padding: 15px;
}

.calendar-buttons {
	font-size: smaller;
	padding: 0;
	background: none;
	border: none;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-weight: lighter;
	outline: none;
	margin-top: 10px;
}

.calendar-buttons:hover {
	color: #2a608f;
}

.todayButton:hover {
	color: #2a608f;
}

.todayButton {
	font-size: 20px;
	margin-right: 5px;
	background: none;
	border: none;
	text-decoration: none;
	text-align: center;
	color: #333;
	outline: none;
}

.bookingListButton {
	color: #2a608f;
	margin-left: 2px;
	outline: none;
}

.sidenav {
	height: inherit;
	width: 0;
	position: fixed;
	z-index: 7;
	right: 5vw;
	background-color: white;
	overflow-x: hidden;
	transition: 0.4s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
