<header class="dashboard__Header">
  <div class="page__title">
    <h1>
      Hello, <strong>{{ fullName }}</strong>
    </h1>
    <!--<div class="page-breadcrumb">
          <ul class="breadcrumb">
              <li><a href="#"><img src="images/breadcrumb-home.svg" alt="#"></a></li>
              <li class="active">Availability Schedule</li>
          </ul>
      </div> -->
  </div>
  <div class="page_btns">
    <div *ngIf="loginService.getLoginType() == 'Learner'">
      <a
        href="#"
        class="register_btn hdr_btn"
        data-bs-toggle="tooltip"
        data-placement="bottom"
        title="Home"
      >
        <img
          src="../../assets/images/breadcrumb-home.svg"
          alt="#"
          style="width: 45px"
        />
      </a>
    </div>
    <app-user-dropdown [parent]="cName"></app-user-dropdown>
  </div>
</header>

<div class="side-menu">
  <nav class="fixed_menu">
    <div class="web_logo">
      <a href="" class="logo_img"
        ><img src="../../assets/images/fellow genius logo.svg"
      /></a>
    </div>
    <ul class="nav_menu nav_list">
      <li class="list-item" class="" *ngIf="loginType == 'Expert'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/tutor-dashboard"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../assets/images/dashboard-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Dashboard</span>
        </a>
      </li>
      <!-- <li class="list-item" *ngIf="loginType == 'Expert'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/sessions-expert"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../assets/images/session-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Sessions</span>
        </a>
      </li> -->
      <li class="list-item" *ngIf="loginType == 'Expert'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/tutor-schedule"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="../../assets/images/availability-schedule-icon.svg"
            class="mnu_icn"
          />
          <span class="menu_txt">Calendar</span>
        </a>
      </li>
      <li class="list-item" *ngIf="loginType == 'Expert'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/profile"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../assets/images/profile-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Profile</span>
        </a>
      </li>
      <li class="list-item" *ngIf="loginType == 'Expert'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/tutor-session"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../assets/images/session-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Session</span>
        </a>
      </li>
      <li class="list-item menu_item active" *ngIf="loginType == 'Learner'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          routerLink="/home/student-dashboard"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../assets/images/dashboard-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Dashboard</span>
        </a>
      </li>
      <!-- <li class="list-item" *ngIf="loginType == 'Learner'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home/sessions-learner"
        >
          <img src="../../assets/images/session-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Sessions</span>
        </a>
      </li> -->
      <li class="list-item" *ngIf="loginType == 'Learner'">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home/student-profile"
        >
          <img src="../../assets/images/profile-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Profile</span>
        </a>
      </li>
      <li class="list-item">
        <a
          href="javascript:;"
          class="menu_item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home/refer"
        >
          <img src="../../assets/images/refer-earn-icon.svg" class="mnu_icn" />
          <span class="menu_txt">Refer and Earn</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
