<body>
  <div id="sidenav" class="sidenav">
    <span
      class="material-icons close closeButton"
      (click)="closeNav()"
      style="cursor: pointer"
    >
      close
    </span>

    <div class="profile-section-sidenav" [class.hideBlock]="!toggleNavigation">
      <div
        (click)="openProfile()"
        class="profile-thumbnail"
        style="cursor: pointer"
        [ngStyle]="{ 'background-image': 'url(' + profilePictureUrl + ')' }"
      >
        <!-- <img src="../../assets/images/default-user-image.png" alt=""> -->
      </div>
      <div class="profile-secondaryinformaiton">
        <span
          *ngIf="loginType == 'Learner'"
          (click)="openProfile()"
          class="profile-varient"
          style="cursor: pointer"
          >{{ studentProfile.fullName }}</span
        >
        <span
          *ngIf="loginType == 'Expert'"
          (click)="openProfile()"
          class="profile-varient"
          style="cursor: pointer"
          >{{ tutorProfile.fullName }}</span
        >
        <span class="profile-varient">Politics (Masters)</span>
        <span
          *ngIf="
            tutorProfileDetails.profileCompleted != 100 && loginType == 'Expert'
          "
          class="progressbar-container"
        >
          <div class="progress-Bar">
            <div class="outer-progressBar">
              <div
                class="inner-progressBar"
                [style.width.%]="tutorProfileDetails.profileCompleted"
              ></div>
            </div>
          </div>
        </span>

        <span
          *ngIf="
            loginType == 'Learner' &&
            studentProfileCompleted &&
            studentProfileCompleted != 100
          "
          class="progressbar-container"
        >
          <div class="progress-Bar">
            <div class="outer-progressBar">
              <div
                class="inner-progressBar"
                [style.width.%]="studentProfileCompleted"
              ></div>
            </div>
          </div>
        </span>
        <div
          *ngIf="
            tutorProfileDetails.profileCompleted != 100 && loginType == 'Expert'
          "
          class="progressbar-information"
        >
          <span
            >You have
            <label>{{ 100 - tutorProfileDetails.profileCompleted }}% </label>
            left.</span
          >
          <span class="hyperlink-cont"
            >Please get a head start by
            <a href="javascript:;" (click)="openProfile()"
              >completing it now</a
            ></span
          >
        </div>

        <div
          *ngIf="
            loginType == 'Learner' &&
            studentProfileCompleted &&
            studentProfileCompleted != 100
          "
          class="progressbar-information"
        >
          <span class="hyperlink-cont">
            You have
            <label>{{ 100 - studentProfileCompleted }}% </label>
            left. Please get a head start by
            <a href="javascript:;" (click)="openProfile()"
              >completing your profile</a
            ></span
          >
        </div>

        <span
          *ngIf="
            loginType == 'Expert' && tutorProfileDetails.profileCompleted == 100
          "
        >
          <p style="display: inline; margin: 5px">Available?</p>
          <label class="switch">
            <input
              type="checkbox"
              [checked]="checked"
              (click)="toggleAvailability()"
            />
            <span class="slider round"></span>
          </label>
        </span>
      </div>
    </div>

    <ul class="navbar-nav" [class.hideBlock]="!toggleNavigation">
      <!-- <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Expert'"
      >
        <a routerLink="/home/profile">Profile</a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Learner'"
      >
        <a routerLink="/home/studentProfile">Profile</a>
      </li> -->

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Learner'"
      >
        <a
          class="nav-link"
          routerLink="/home/studentDashboard"
          (click)="onNavigationClick()"
          >Dashboard</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Expert'"
      >
        <a
          class="nav-link"
          routerLink="/home/tutorDashboard"
          (click)="onNavigationClick()"
          >Dashboard</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Learner'"
      >
        <a
          class="nav-link"
          routerLink="/home/experts"
          (click)="onNavigationClick()"
          >Experts</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Expert'"
      >
        <a
          class="nav-link"
          routerLink="tutorSchedule"
          (click)="onNavigationClick()"
          >Schedule</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Expert'"
      >
        <a
          class="nav-link"
          routerLink="recordings"
          (click)="onNavigationClick()"
          >Recordings</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Expert'"
      >
        <a
          class="nav-link"
          routerLink="knowledgeBase"
          (click)="onNavigationClick()"
          >Knowledge Base</a
        >
      </li>
      <!-- 
      <li class="nav-item">
        <a style="cursor: pointer" (click)="onSignOut()">Sign Out</a>
      </li> -->
      <!-- 
      <li class="nav-item" *ngIf="loginType == 'Expert'">
        <a
          class="nav-link"
          routerLink="bookings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Bookings</a
        >
      </li> -->

      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Learner'"
      >
        <a
          class="nav-link"
          routerLink="studentBookings"
          (click)="onNavigationClick()"
          >Bookings</a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="nav-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="loginType == 'Learner'"
      >
        <a
          class="nav-link"
          routerLink="sessionNotes"
          (click)="onNavigationClick()"
          >Session Notes</a
        >
      </li>
    </ul>
  </div>
  <div id="mainContent" class="main-content" style="position: relative">
    <div [class]="overlay"></div>
    <div class="header" id="headerContent">
      <!-- <span class="fa fa-bars hum-burger" (click)="navAction(index)"></span> -->
      <span class="fa fa-bars hum-burger" (click)="toggleNav()"></span>
      <div class="logo" (click)="toFacade()"></div>
      <div class="search-box-container" *ngIf="loginType == 'Learner'">
        <div class="input-group">
          <form>
            <button class="searchButton" (click)="displaySelectedSubjects()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <input
              type="search"
              name="search"
              placeholder="Find Tutor by Subjects"
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [(ngModel)]="selectedSubject"
            />
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </form>

          <!-- <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
       -->
        </div>
        <!-- /input-group -->
      </div>
      <div class="dropdown-icon-container">
        <span
          class="fa fa-sign-out-alt"
          style="cursor: pointer"
          (click)="onSignOut()"
        ></span>
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ loginType }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              href="javascript:;"
              *ngIf="loginType == 'Learner'"
              >Expert</a
            >
            <a
              class="dropdown-item"
              href="javascript:;"
              *ngIf="loginType == 'Expert'"
              >Learner</a
            >
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</body>
