<div class="container">
    <h2>
        Verify experts
    </h2>
    <div>
        <h4 *ngIf="pendingExperts.length==0">No pending experts.</h4>
    </div>
    <div *ngIf="pendingExperts.length>0" style="width: 50%;">
        <div *ngFor="let expert of pendingExperts;let i=index;">
            <div style="display: inline-block;">
                {{expert.fullName}} : {{expert.email}}
            </div>
            <button class="btn" style="float: right;" (click)="verifyExpert(expert,i)">Verify</button>
        </div>
        
    </div>
</div>
