<div
*ngIf="isLoading"
style="width: max-content; margin: auto; padding-top: 35vh;text-align: center;"
>
<app-loading></app-loading>
<p style="margin:1rem;font-size: large;">Signing in..</p>
</div>

<div class="access_page wi_full" *ngIf="!isLoading">
  <div class="container">
    <div class="page_wrapper">
      <div class="access_icon_box">
        <img src="../../../assets/images/login-clip.svg" alt="#" class="graphic_style">
      </div>
      <div class="access_field_box">
        <div class="access_header">
          <a href="" class="accs_logo"><img src="../../../assets/images/fellow genius logo.svg" alt="#"></a>
        </div>
              <div class="access_data">
                  <div class="content_wrapper">
                      <h2>Log in as Admin</h2>
                      <div class="tagline"></div>
                      <div class="error_message" *ngIf="incorrectLoginDetails">
                        <div class="msg_wrap">
                          <img src="../../../assets/images/required-error.svg" alt="#" class="erro_icon">
                          <span><strong>Error</strong>{{errorText}}</span>
                        </div>
                      </div>
                      <form (ngSubmit)="onAdminLogin(l)" #l="ngForm">
                          <div class="form-group">
                              <label class="">Username</label>
                              <input type="text" 
                              id="userName" 
                              ngModel 
                              name="userName" 
                              required 
                              #userName="ngModel" 
                              maxlength="64" class="form-control">  
                              <span
                        *ngIf="!userName.valid && userName.touched"
                        class="help-block"
                        >Invalid User Name</span
                      >
                            </div>
                          <div class="form-group">
                              <label class="">Password</label>
                              <div class="password_wrap" >
                                <input [type]="showPassword ? 'text': 'password'"
                                id="password"  
                                class="form-control" 
                                name="password" ngModel required #password="ngModel" maxLength="40">
                                <span
                          (click)="togglePassword()"
                          class="fa fa-fw field-icon toggle-password"
                          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash' "
                        ></span>
                        <span
                        *ngIf="!password.valid &&password.touched"
                        class="help-block"
                        >Invalid Password</span
                      >
                              </div>
                          </div>
                          <button type="submit" [disabled]="!l.valid" class="button form_Btn">Login</button>
                      </form>
                  </div>
              </div>
      </div>
    </div>
  </div>
</div> 