<div
  *ngIf="isLoading"
  style="
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  "
>
  <app-loading></app-loading>
</div>
<div class="signup-container" [class]="!isLoading ? '' : 'hideBlock'">
  <span
    class="material-icons close"
    (click)="toLoginPage()"
    style="cursor: pointer"
  >
    close
  </span>

  <div class="signup-header">
    <div class="header-container">
      <span class="header-primary">Reset</span><br />

      <span class="header-container-secondary">Your Password</span>
    </div>
    <div class="logo hide"></div>
    <div class="info-class"></div>
  </div>
  <!-- <div class="alert alert-danger" role="alert" *ngIf="incorrectLoginDetails">
    <p style="text-align: center">User Already registered ! go to Login</p>
  </div> -->
  <div class="signup-parameter-container" *ngIf="showEmail">
    <div *ngIf="!linkSent">
      <p>Please enter your registered email.</p>
      <div
        style="margin: 10px; margin-left: 0; color: red; font-size: 12px"
        *ngIf="incorrectEmail"
      >
        Email entered doesn't exist !
      </div>
      <form
        (ngSubmit)="submitEmail(t)"
        #t="ngForm"
        class="form-group-container"
      >
        <div class="form-group" *ngIf="showEmail">
          <label class="form-control-placeholder" for="email"
            >Email Address</label
          >
          <input
            type="email"
            id="email"
            name="email"
            ngModel
            class="form-control"
            required
            email
            #email="ngModel"
            maxlength="64"
            pattern="[a-zA-Z0-9_.+-]{1,20}@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|piet|yahoo|hotmail|rediffmail|apple|microsoft)\.([a-z]{2,4})(\.[a-z]{2,4})?$"
          />
          <span *ngIf="!email.valid && email.touched" class="help-block"
            >Invalid email</span
          >
        </div>
        <div class="form-group button-container">
          <button class="btn btn-primary" type="submit" [disabled]="!t.valid">
            Next
          </button>
          <a
            href="#"
            class="forgot-password"
            style="float: right; margin-right: 20px"
          >
            Cancel
          </a>
        </div>
      </form>
    </div>
    <div *ngIf="linkSent" style="text-align: center">
      <img
        src="../../assets/images/check.svg"
        style="width: 100px; height: 100px; margin: 20px"
        alt=""
      />
      <h5>Reset password link has been sent to your registered email !</h5>
    </div>
  </div>

  <div class="signup-parameter-container" *ngIf="showPassword">
    <div *ngIf="!passwordReset">
      <p>Please reset your password</p>
      <div
        style="margin: 10px; margin-left: 0; color: red; font-size: 12px"
        [innerHTML]="passwordError"
      ></div>
      <form (ngSubmit)="onReset(t)" #t="ngForm" class="form-group-container">
        <div class="form-group" *ngIf="showPassword">
          <label class="form-control-placeholder" for="password"
            >New Password</label
          >
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            ngModel
            required
            [pattern]="passwordPattern"
            minlength="8"
            maxlength="20"
            #password="ngModel"
            placeholder="Enter new password"
          />

          <span class="help-block" *ngIf="!password.valid && password.touched"
            >password field must be minimum of 8 characters with atleast one
            lowercase, uppercase, number and a special character</span
          >
        </div>

        <div class="form-group" *ngIf="showPassword">
          <label class="form-control-placeholder" for="retypePassword"
            >Retype New Password</label
          >
          <input
            type="password"
            id="retypePassword"
            class="form-control"
            name="retypePassword"
            ngModel
            required
            [pattern]="passwordPattern"
            minlength="8"
            maxlength="20"
            #retypePassword="ngModel"
            placeholder="Retype new password"
          />

          <span
            class="help-block"
            *ngIf="!retypePassword.valid && retypePassword.touched"
            >password field must be minimum of 8 characters with atleast one
            lowercase, uppercase, number and a special character</span
          >
        </div>

        <div class="form-group button-container">
          <button class="btn btn-primary" type="submit" [disabled]="!t.valid">
            Next
          </button>
          <a
            href="#"
            class="forgot-password"
            style="float: right; margin-right: 20px"
          >
            Cancel
          </a>
        </div>
      </form>
    </div>
    <div *ngIf="passwordReset" style="text-align: center">
      <img
        src="../../assets/images/check.svg"
        style="width: 100px; height: 100px; margin: 20px"
        alt=""
      />
      <h5>Password has been reset successfully !</h5>
    </div>
  </div>
</div>
