<body>
  <header class="header">
    <nav class="navbar navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html"
          ><img src="../../assets/images/fellow genius logo.svg" alt="logo"
        /></a>
        <ul class="nav navbar-nav">
         
       
          <a href="#" class="register_btn hdr_btn" style="margin-right: 10px;" data-bs-toggle="tooltip" data-placement="bottom" title="Sign Up" >
            <img src="../../assets/images/breadcrumb-home.svg" alt="#" style="width: auto;" >
            <small>Home</small>
          </a>
          <div *ngIf="loginService.getLoginType() == null" style="display: flex;">
            <a (click)="toSignUpExpert()"  class="expert_btn hdr_btn">
              <span class="btn_icon"><img src="../../assets/images/expert-icon.svg" alt="#"></span>
              <span class="btn_txt">Register as Expert</span>
            </a>
            <a href="javascript:;" (click)="toLoginPage()" class="login_btn hdr_btn" data-bs-toggle="tooltip" data-placement="bottom" title="Login">
              <img src="../../assets/images/header-icon-1.svg" alt="#">
              <small>Login</small>
            </a>
            <a href="javascript:;" (click)="onSignUp()" class="register_btn hdr_btn" data-bs-toggle="tooltip" data-placement="bottom" title="Sign Up">
              <img src="../../assets/images/header-icon-2.svg" alt="#">
              <small>Sign Up</small>
            </a>
            
          </div>
          
          <div *ngIf="loginService.getLoginType() != null" style="margin-left: 20px;">
            <div>
              <a
                class="dropdown-toggle user_profile"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fas fa-user-circle"></i
              ></a>
              <ul class="dropdown-menu" aria-labelledby="settingDropdown">
                <li>
                  <a class="dropdown-item" *ngIf="loginService.getLoginType() == 'Learner'"
                    ><i style="margin-right: 5px;" class="far fa-user-circle"></i>{{ studentService.getStudentProfileDetails().fullName }} </a
                  >
                </li>
                <li>
                  <a class="dropdown-item" *ngIf="loginService.getLoginType() == 'Expert'"
                    ><i class="far fa-user-circle"></i> {{ tutorService.getTutorDetials().fullName }} </a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:;" (click)="toDashboard()"
                    ><i class="fas fa-tachometer-alt"></i> Dashboard</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" (click)="onSignOut()"
                    ><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a
                  >
                </li>
              </ul>
            </div>
          </div>
          
        </ul>
      </div>
    </nav>
  </header>   
</body>
