<body>
  <header class="header">
    <nav class="navbar navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html"
          ><img src="../../assets/images/fellow genius logo.svg" alt="logo"
        /></a>
        <ul class="nav navbar-nav">
          <a
            href=""
            class="register_btn hdr_btn"
            style="margin-right: 10px"
            data-bs-toggle="tooltip"
            data-placement="bottom"
            title="Sign Up"
          >
            <img
              src="../../assets/images/breadcrumb-home.svg"
              alt="#"
              style="width: auto"
            />
            <small>Home</small>
          </a>
          <div
            *ngIf="loginService.getLoginType() == null"
            style="display: flex"
          >
            <a
              href="javascript:;"
              (click)="toLoginPage()"
              class="login_btn hdr_btn"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="Login"
            >
              <img src="../../assets/images/header-icon-1.svg" alt="#" />
              <small>Login</small>
            </a>
            <!-- <a href="javascript:;" (click)="openRegisterPopUp()" class="register_btn hdr_btn" data-bs-toggle="tooltip" data-placement="bottom" title="Sign Up">
              <img src="../../assets/images/header-icon-2.svg" alt="#">
              <small>Sign Up</small>
            </a> -->
            <a
              href="#Signup__Popup"
              class="register_btn hdr_btn"
              data-toggle="modal"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="Sign Up"
            >
              <img src="../../assets/images/header-icon-2.svg" alt="#" />
              <small>Sign Up</small>
            </a>
          </div>

          <header>
            <div
              *ngIf="loginService.getLoginType() != null"
              class="page_btns"
              style="margin-left: 20px"
            >
              <app-user-dropdown [parent]="cName"></app-user-dropdown>
            </div>
          </header>
        </ul>
      </div>
    </nav>
  </header>
  <div class="modal fade" id="Signup__Popup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0">
        <div class="modal-body">
          <button
            type="button"
            id="closePopUpButton"
            class="close"
            style="border: none"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img src="../../assets/images/close-modal.svg" alt="#" />
          </button>
          <div class="Signup_form_box">
            <h2>Sign up as</h2>
            <div class="signUP__btns">
              <a
                href="javascript:;"
                (click)="signUpRouting('sign-up-expert')"
                class="sgn_ppup_btn Exprt__btn"
              >
                <span class="btn__Icon"
                  ><img src="../../assets/images/SExpert-Icon.svg"
                /></span>
                <span>Expert</span>
              </a>
              <a
                href="javascript:;"
                (click)="signUpRouting('sign-up')"
                class="sgn_ppup_btn lrnr__btn"
              >
                <span class="btn__Icon"
                  ><img src="../../assets/images/SLearner-icon.svg"
                /></span>
                <span>Learner</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
