.nav-link .fa {
    font-size: 25px;
    color: #201e20;
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: -18px;
    left: -65px;
    transform: translate3d(-5px, 57px, 0px);
}
.tier1Links{
    padding-left: 1vw !important;
    cursor: pointer !important;
    color: #3f023f !important;
    font-weight: bolder !important;
}
/* .desktop-nav{
    display: block;
} */
.mobile-domains-nav{
    display: none;
}
@media only screen and (max-width: 550px) {
    .desktop-domains-nav{
        display: none;
    }
    .mobile-domains-nav{
        display: block;
    }
  }