.box {
  width: 80vw;
  height: 85vh;
  background-color: #fafafa;
  margin: auto;
  border: 1.5px solid #eee;
  overflow: hidden;
  padding: 0;
}

.width100 {
  width: 100%;
}
.marginZero {
  margin: 0;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 5px;
}
.example-chip-list {
  padding-left: 20px;
  width: 80%;
}
.cornerButtonsWrapper {
  position: absolute;
  top: 20px;
  right: 10px;
}
.cornerButtons {
  margin-right: 10px;
}
.chip {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}

.round {
  position: relative;
  margin-top: 5vh;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.instruction-box {
  position: absolute;
  top: 0;
}
.btnActive {
  background-color: #7d0f7d !important;
  border-color: #7d0f7d !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
  color: #ffffff !important;
}
.hideBlock {
  display: none;
}
.e-schedule-dialog
  .e-numeric.e-control-wrapper.e-input-group
  .e-input-group-icon {
  pointer-events: none !important;
}
.e-schedule-dialog .e-all-day-time-zone-row {
  display: none !important;
}
.hide{
  display: none;
}