<!-- 
<body style="padding: 20px; background-color: #f9fafc;">
  <div class="Box" style="width: 95%;margin: auto;padding: 0;">
    <ejs-schedule
    #scheduleObj
    width="100%"
    height="600px"
    [eventSettings]="eventSettings"
    [views]="scheduleViews"
    (eventRendered)='onEventRendered($event)' (actionBegin)='onActionBegin($event)'
  ></ejs-schedule>
  </div>
 
</body> -->

<body style="background-color: #f9fafc;">
  <div class="Box" style="width: 95%;margin: auto;padding: 0;padding-top: 80px;">
    <ejs-schedule
    #scheduleObj
    width="100%"
    height="600px"
    [views]="scheduleViews"
    (eventRendered)='onEventRendered($event)' (actionBegin)='onActionBegin($event)'
  ></ejs-schedule>
  </div>
</body>