<!-- 
<body style="padding: 20px; background-color: #f9fafc;">
  <div class="Box" style="width: 95%;margin: auto;padding: 0;">
    <ejs-schedule
    #scheduleObj
    width="100%"
    height="600px"
    [eventSettings]="eventSettings"
    [views]="scheduleViews"
    (eventRendered)='onEventRendered($event)' (actionBegin)='onActionBegin($event)'
  ></ejs-schedule>
  </div>
 
</body> -->

<div class="page-content dashboard__Panel">
  <div
    *ngIf="isLoading"
    style="
      width: 100%;
      position: absolute;
      margin: auto;
      background-color: #f7f7f7;
      padding-top: 20vh;
      text-align: center;
      height: 80%;
      z-index: 1000;
    "
  >
    <app-loading></app-loading>
    <p style="margin: 1rem; font-size: large">Saving your schedule..</p>
  </div>
  <div
    class="Box"
    style="width: 95%; margin: auto; padding: 0; position: absolute"
  >
    <ejs-schedule
      #scheduleObj
      width="100%"
      height="560px"
      [views]="scheduleViews"
      (popupOpen)="onPopupOpen($event)"
      (eventRendered)="onEventRendered($event)"
      (actionBegin)="onActionBegin($event)"
      (cellClick)="onCellClick($event)"
      (eventClick)="onEventClick($event)"
      [showQuickInfo]="showQuickInfo"
    ></ejs-schedule>
  </div>
</div>
