.dashboard__Panel button, button{
    min-width: unset !important;
    float: unset;
    width: unset;
    min-height: unset !important;
    border-radius: unset;
    text-align: unset;
    outline: unset !important;
    box-shadow: unset !important;
    padding: unset !important;
    font-weight: unset;
    transition: unset;
    border: unset;
    color: unset;
    background: unset;
    border:none;
  }
  ::ng-deep .e-schedule-dialog .e-location-container { 
    display: none; 
  } 
  ::ng-deep .e-schedule-dialog .e-all-day-time-zone-row { 
    display: none !important; 
  } 
  /* ::ng-deep .e-recurrenceeditor .e-editor { 
    display: none !important; 
  }  */
  ::ng-deep .e-schedule-dialog .e-description-row { 
    display: none; 
  } 
  ::ng-deep .e-schedule-dialog .e-subject-container { 
    width: 100%; 
  } 
  .calendar-box{
    width: 100%;
    height:100%;
    
  }