<body>
  <div class="dashboard-container">
    <div class="pending-reviews-panel">
      <span class="number">{{ pendingRequestsCount | zero }}</span
      ><span class="text-content">PENDING REQUESTS</span>
      <a
        class="takeActionLink"
        (click)="viewPendingRequests()"
        *ngIf="pendingRequestsCount != 0"
        >Take Action</a
      >
    </div>
    <div
      class="widget pending-reviews-list"
      *ngIf="takeAction"
      style="min-height: 0; max-height: 250px"
    >
      <div class="widget-header">Pending Requests</div>
      <div class="widget-information" style="height: auto">
        <div class="list-panel" *ngFor="let element of bookingList">
          <div
            class="list-thumbnail"
            style="
              background-image: url('../../../assets/images/default-user-image.png');
            "
          ></div>
          <div class="list-information">
            <span class="name">{{ element.studentName }}</span>
            <span class="subject">{{ element.subject }}</span>
          </div>
          <div class="date-time-panel">
            <span>{{ element.dateOfMeeting }}</span>
            <span>
              {{ element.startTimeHour }}:{{ element.startTimeMinute | zero }} -
              {{ element.endTimeHour }}:{{ element.endTimeMinute | zero }} ({{
                element.duration
              }}
              minutes)</span
            >
          </div>
          <div class="button-container">
            <button
              type="button"
              class="btn btn-primary"
              (click)="acceptBooking(element)"
            >
              <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i> Accept
            </button>
            <button type="button" class="btn btn-secondary" disabled>
              Re-Schedule
            </button>
            <!-- <button type="button" class="btn btn-tertiary">Reject</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">Upcoming Classes</div>
      <div
        *ngIf="liveMeetingList != null && meetingList != null"
        style="padding: 10px"
      >
        <span *ngIf="liveMeetingList.length == 0 && meetingList.length == 0"
          >No upcoming classes</span
        >
      </div>
      <div *ngIf="liveMeetingList != null">
        <div *ngFor="let element of liveMeetingList">
          <!-- <div class="widget-timings">
            <span style="color: red">● &nbsp;</span>Live Now
          </div> -->
          <div class="widget-information">
            <div class="widget-time">
              <span style="color: red">● &nbsp;</span>Live Now
            </div>
            <div class="subject-thumbnail"></div>
            <div class="subject-description">
              <span>{{ element.studentName }}</span>
              <span
                >{{ element.startTimeHour }}:{{
                  element.startTimeMinute | zero
                }}
                - {{ element.endTimeHour }}:{{
                  element.endTimeMinute | zero
                }}
                ({{ element.duration }} minutes)</span
              >

              <span>{{ element.description }}</span>
              <button
                type="button"
                class="btn btn-primary"
                (click)="onJoin(element)"
              >
                Join
              </button>
            </div>
          </div>
          <div class="widget-footer">
            <a href="javascript:;" routerLink="tutorSchedule">view more</a>
          </div>
        </div>
      </div>

      <div *ngFor="let element of meetingList">
        <div class="widget-information">
          <div class="widget-time" *ngIf="element.timeLeft == null">
            <span style="color: red">● &nbsp;</span>Live Now
          </div>
          <div class="widget-time" *ngIf="element.timeLeft != null">
            Live in:{{ element.timeLeft }}
          </div>
          <!-- <div class="widget-information"> -->
          <div class="subject-thumbnail"></div>
          <div class="subject-description">
            <span>{{ element.studentName }}</span>
            <span>{{ element.dateOfMeeting }}</span>
            <span
              >{{ element.startTimeHour }}:{{
                element.startTimeMinute | zero
              }}
              - {{ element.endTimeHour }}:{{ element.endTimeMinute | zero }} ({{
                element.duration
              }}
              minutes)</span
            >

            <span>{{ element.description }}</span>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onHost(element)"
              [disabled]="!element.isLive"
            >
              Join
            </button>
          </div>
        </div>
        <div class="widget-footer">
          <a href="javascript:;" (click)="openSchedulePage()">view more</a>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">Skills in Demand</div>
      <div class="widget-timings">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="skillsChartType == 'PieChart'"
            (click)="toggleSkillsInDemand('PieChart')"
          >
            <span class="fa fa-chart-pie"></span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="skillsChartType == 'Table'"
            (click)="toggleSkillsInDemand('Table')"
          >
            <span class="fa fa-list"></span>
          </button>
        </div>
      </div>
      <div style="margin-top: 20px">
        <google-chart
          #skillsChart
          [type]="skillsChartType"
          [data]="skillsData"
          [options]="skillsOptions"
          [width]="tutorChartWidth"
          [height]="tutorChartHeight"
        >
        </google-chart>
      </div>
    </div>

    <div class="widget">
      <div class="widget-header">Earning Tracker</div>
      <div class="widget-timings">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="earningPeriod == 'Week'"
            (click)="toggleEarningPeriod('Week')"
          >
            1W
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="earningPeriod == 'Month'"
            (click)="toggleEarningPeriod('Month')"
          >
            1M
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            [class.active]="earningPeriod == 'Quarter'"
            (click)="toggleEarningPeriod('Quarter')"
          >
            1Q
          </button>
        </div>
      </div>
      <div style="margin-top: 20px">
        <google-chart
          #skillsChart
          [type]="earningTrackerType"
          [data]="earningTrackerData"
          [options]="earningTrackerOptions"
          [width]="tutorChartWidth"
          [height]="tutorChartHeight"
        >
        </google-chart>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">Recent Reviews</div>
      <div class="widget-information">
        <div style="padding: 10px" *ngIf="recentReviewsList.length == 0">
          <span>No Recent reviews</span>
        </div>
        <div class="list-panel" *ngFor="let element of recentReviewsList">
          <div
            class="list-thumbnail"
            [ngStyle]="{ 'background-image': 'url(' + profilePictureUrl + ')' }"
          ></div>
          <div class="list-information">
            <span class="name">{{ element.studentName }}</span>
            <span class="subject">{{ element.subject }}</span>
          </div>
          <div class="outer-stars">
            <div class="inner-stars" [style.width.%]="element.rating"></div>
          </div>
        </div>
      </div>
      <div class="widget-footer" *ngIf="recentReviewsList.length > 3">
        <a href="">view more</a>
      </div>
    </div>
  </div>
</body>
