<div class="page-content dashboard__Panel">
  <div class="wrapper">
    <div class="dashboard_page">
      <div class="dahboard__overview" *ngIf="earningData != null">
        <div class="overview__total">
          <div class="total__list white__bg">
            <p>TOTAL EARNINGS</p>
            <h3>₹{{ earningData.totalEarnings }}</h3>
          </div>
          <div class="total__list white__bg">
            <p>TOTAL MEETINGS</p>
            <h3>{{ tutorProfileDetails.lessonCompleted }}</h3>
          </div>
          <div class="total__list white__bg">
            <p>TOTAL LEARNERS</p>
            <h3>{{ earningData.totalLearners }}</h3>
          </div>
        </div>
        <div class="overview__meeting white__bg">
          <div class="Overview__tabs">
            <h3>Overview</h3>
            <div class="sec__Tabs">
              <div class="tab__filter">
                <ul class="nav nav-tabs" role="tablist">
                  <li>
                    <a
                      href="#Tab__1"
                      role="tab"
                      data-toggle="tab"
                      class="active"
                      >Week</a
                    >
                  </li>
                  <li>
                    <a href="#Tab__2" role="tab" data-toggle="tab">Month</a>
                  </li>
                  <li>
                    <a href="#Tab__3" role="tab" data-toggle="tab">Year</a>
                  </li>
                </ul>
              </div>
              <!-- <div class="earning__filter">
                <select class="select2 form-control">
                  <option>Earning</option>
                  <option>Earning</option>
                </select>
              </div> -->
            </div>
          </div>
          <div class="overview__tabdata">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Tab__1">
                <div class="data_box">
                  <google-chart
                    #skillsChart
                    [type]="earningTrackerType"
                    [data]="earningTrackerDataWeekly"
                    [options]="earningTrackerOptions"
                    [width]="tutorChartWidth"
                    [height]="tutorChartHeight"
                  >
                  </google-chart>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Tab__2">
                <div class="data_box">
                  <google-chart
                    #skillsChart
                    [type]="earningTrackerType"
                    [data]="earningTrackerDataMonthly"
                    [options]="earningTrackerOptions"
                    [width]="tutorChartWidth"
                    [height]="tutorChartHeight"
                  >
                  </google-chart>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Tab__3">
                <div class="data_box">
                  <google-chart
                    #skillsChart
                    [type]="earningTrackerType"
                    [data]="earningTrackerDataYearly"
                    [options]="earningTrackerOptions"
                    [width]="tutorChartWidth"
                    [height]="tutorChartHeight"
                  >
                  </google-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="meet__Tabs" style="margin-bottom: 100px">
        <ul class="nav nav-tabs" role="tablist">
          <li>
            <a
              href="#previous_meetings"
              role="tab"
              data-toggle="tab"
              class="active"
              >Pending Meeting Requests</a
            >
          </li>
          <li>
            <a href="#upcoming_meetings" role="tab" data-toggle="tab"
              >Upcoming Meetings</a
            >
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="previous_meetings">
            <div class="pending__meeting white__bg">
              <h3>Pending Meeting Requests</h3>
              <div class="table-responsive">
                <table class="table" *ngIf="pendingRequestsCount != 0">
                  <thead>
                    <tr>
                      <th class="fld_name">NAME</th>
                      <th class="fld_domain">DOMAIN</th>
                      <th class="fld_topic">Topic</th>
                      <th class="fld_dTme">DATE & TIME</th>
                      <th class="fld_status">REQUEST STATUS</th>
                      <th class="fld_action">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of bookingList; let i = index">
                      <td class="fld_name">
                        <div class="nme_style">
                          <span
                            ><img
                              src="../../../assets/images/default-user-image.png"
                              alt="#" /></span
                          >{{ element.studentName }}
                        </div>
                      </td>
                      <td class="fld_domain">{{ element.domain }}</td>
                      <td class="fld_topic">{{ element.subject }}</td>
                      <td class="fld_dTme">
                        {{ element.dateOfMeeting }} at
                        {{ element.startTimeHour }}:{{
                          element.startTimeMinute | zero
                        }}
                        - {{ element.endTimeHour }}:{{
                          element.endTimeMinute | zero
                        }}
                        ({{ element.duration }} minutes)
                      </td>
                      <td class="fld_status">{{ element.approvalStatus }}</td>
                      <td class="fld_action">
                        <button
                          class="Modal__BTn"
                          data-toggle="modal"
                          data-target="#Popup__pendingMeet"
                          (click)="setSelectedPendingBooking(element)"
                        >
                          <i class="fas fa-angle-right"></i>
                        </button>
                        <div class="td_btn">
                          <!-- <a href="javascript:;"  class="reschedule_btn"
                            ><img
                              src="../../../assets/images/reschedule-meeting.svg"
                          /></a> -->
                          <span
                            *ngIf="element.isRescheduled == 'requested'"
                            style="display: flex; align-items: center"
                            >Requested to Re-Schedule</span
                          >
                          <button
                            type="button"
                            style="width: 45px"
                            class="reschedule_btn"
                            title="Re-schedule"
                            (click)="requestToReschedule(element)"
                            *ngIf="element.isRescheduled != 'requested'"
                          >
                            <i
                              class="fa fa-spinner fa-spin"
                              *ngIf="isRescheduleLoading"
                              style="margin-right: 3px"
                            ></i>
                            <span
                              *ngIf="
                                element.isRescheduled == 'false' &&
                                !isRescheduleLoading
                              "
                              ><img
                                style="width: 45px"
                                src="../../../assets/images/reschedule-meeting.svg"
                            /></span>
                          </button>
                          <a
                            href="javascript:;"
                            class="confirm_btn"
                            style="width: 45px"
                            title="Accept"
                            (click)="acceptBooking(element)"
                          >
                            <i
                              class="fa fa-spinner fa-spin"
                              *ngIf="isLoading && acceptingIndex == i"
                              style="margin-top: 7px; font-size: large"
                            ></i
                            ><img
                              *ngIf="acceptingIndex != i"
                              src="../../../assets/images/confirm-meeting.svg"
                          /></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="pendingRequestsCount == 0">No pending requests</p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="upcoming_meetings">
            <div class="upcoming__meeting white__bg">
              <h3>Upcoming Meetings</h3>
              <div
                class="table-responsive"
                *ngIf="liveMeetingList != null && meetingList != null"
              >
                <table
                  class="table"
                  *ngIf="liveMeetingList.length != 0 || meetingList.length != 0"
                >
                  <thead>
                    <tr>
                      <th class="fld_name">NAME</th>
                      <th class="fld_domain">DOMAIN</th>
                      <th class="fld_topic">Topic</th>
                      <th class="fld_dTme">DATE & TIME</th>
                      <th class="fld_status">STATUS</th>
                      <th class="fld_action">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of liveMeetingList">
                      <td class="fld_name">
                        <div class="nme_style">
                          <span
                            ><img
                              src="../../../assets/images/default-user-image.png"
                              alt="#" /></span
                          >{{ element.studentName }}
                        </div>
                      </td>
                      <td class="fld_domain">{{ element.domain }}</td>
                      <td class="fld_topic">{{ element.subject }}</td>
                      <td class="fld_dTme">
                        {{ element.dateOfMeeting }} at
                        {{ element.startTimeHour }}:{{
                          element.startTimeMinute | zero
                        }}
                        - {{ element.endTimeHour }}:{{
                          element.endTimeMinute | zero
                        }}
                        ({{ element.duration }} minutes)
                      </td>
                      <td class="fld_status">{{ element.approvalStatus }}</td>

                      <td class="fld_action">
                        <button
                          class="Modal__BTn"
                          data-toggle="modal"
                          data-target="#Popup__upcomingMeet"
                          (click)="setSelectedBooking(element)"
                        >
                          <i class="fas fa-angle-right"></i>
                        </button>
                        <div class="td_btn">
                          <button
                            href="javascript:;"
                            (click)="onJoin(element)"
                            class="table_btn join_btn"
                          >
                            Join
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr *ngFor="let element of meetingList">
                      <td class="fld_name">
                        <div class="nme_style">
                          <span
                            ><img
                              src="../../../assets/images/default-user-image.png"
                              alt="#" /></span
                          >{{ element.studentName }}
                        </div>
                      </td>
                      <td class="fld_domain">{{ element.domain }}</td>
                      <td class="fld_topic">{{ element.subject }}</td>
                      <td class="fld_dTme">
                        {{ element.dateOfMeeting }} at
                        {{ element.startTimeHour }}:{{
                          element.startTimeMinute | zero
                        }}
                        - {{ element.endTimeHour }}:{{
                          element.endTimeMinute | zero
                        }}
                        ({{ element.duration }} minutes)
                      </td>
                      <td class="fld_status" *ngIf="element.timeLeft != null">
                        {{ element.approvalStatus }}
                      </td>
                      <td class="fld_status" *ngIf="element.timeLeft == null">
                        Ready to join
                      </td>
                      <td class="fld_action">
                        <button
                          class="Modal__BTn"
                          data-toggle="modal"
                          data-target="#Popup__upcomingMeet"
                          (click)="setSelectedBooking(element)"
                        >
                          <i class="fas fa-angle-right"></i>
                        </button>
                        <div class="td_btn">
                          <button
                            (click)="onHost(element)"
                            [disabled]="!element.isLive"
                            class="table_btn join_btn"
                          >
                            Join
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="liveMeetingList != null && meetingList != null">
                  <span
                    *ngIf="
                      liveMeetingList.length == 0 && meetingList.length == 0
                    "
                    >No upcoming Meetings</span
                  >
                </div>
                <!-- <div class="btn_block">
                  <a href="" class="button know_more">Know More</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade detail_modal"
    id="Popup__pendingMeet"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content border-0 bg-transparent">
        <div class="modal-body p-0">
          <button
            type="button"
            class="close"
            id="closePendingRequestDialog"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="detail_wrapper">
            <h1>View Expert Details</h1>
            <div class="Detail__Content">
              <div class="detail__list">
                <div class="Dtl__label">NAME</div>
                <div class="Dtl__txt">
                  {{ selectedPendingRequest.studentName }}
                </div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">DOMAIN</div>
                <div class="Dtl__txt">{{ selectedPendingRequest.domain }}</div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">Topic</div>
                <div class="Dtl__txt">{{ selectedPendingRequest.subject }}</div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">DATE & TIME</div>
                <div class="Dtl__txt">
                  {{ selectedPendingRequest.dateOfMeeting }} at
                  {{ selectedPendingRequest.startTimeHour }}:{{
                    selectedPendingRequest.startTimeMinute | zero
                  }}
                  - {{ selectedPendingRequest.endTimeHour }}:{{
                    selectedPendingRequest.endTimeMinute | zero
                  }}
                  ({{ selectedPendingRequest.duration }} minutes)
                </div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">STATUS</div>
                <div class="Dtl__txt">
                  {{ selectedPendingRequest.approvalStatus }}
                </div>
              </div>
              <div class="detail__list">
                <a href="" class="reschedule_btn"
                  ><img src="../../../assets/images/reschedule-meeting.svg"
                /></a>
                <a
                  href="javascript:;"
                  class="confirm_btn"
                  (click)="acceptBooking(selectedPendingRequest)"
                >
                  <i
                    class="fa fa-spinner fa-spin"
                    *ngIf="isLoading"
                    style="margin-top: 7px; font-size: large"
                  ></i
                  ><img
                    *ngIf="!isLoading"
                    src="../../../assets/images/confirm-meeting.svg"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade detail_modal"
    id="Popup__upcomingMeet"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content border-0 bg-transparent">
        <div class="modal-body p-0">
          <button
            type="button"
            class="close"
            id="closePopUpButton"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="detail_wrapper">
            <h1>View Expert Details</h1>
            <div class="Detail__Content">
              <div class="detail__list">
                <div class="Dtl__label">NAME</div>
                <div class="Dtl__txt">{{ selectedBooking.studentName }}</div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">DOMAIN</div>
                <div class="Dtl__txt">{{ selectedBooking.domain }}</div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">Topic</div>
                <div class="Dtl__txt">{{ selectedBooking.subject }}</div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">DATE & TIME</div>
                <div class="Dtl__txt">
                  {{ selectedBooking.dateOfMeeting }} at
                  {{ selectedBooking.startTimeHour }}:{{
                    selectedBooking.startTimeMinute | zero
                  }}
                  - {{ selectedBooking.endTimeHour }}:{{
                    selectedBooking.endTimeMinute | zero
                  }}
                  ({{ selectedBooking.duration }} minutes)
                </div>
              </div>
              <div class="detail__list">
                <div class="Dtl__label">STATUS</div>
                <div class="Dtl__txt" *ngIf="selectedBooking.timeLeft != null">
                  {{ selectedBooking.approvalStatus }}
                </div>
                <div class="Dtl__txt" *ngIf="selectedBooking.timeLeft == null">
                  Ready to join
                </div>
              </div>
              <div class="detail__list">
                <button
                  href="javascript:;"
                  #closePopUp
                  class="table_btn join_btn"
                  (click)="onJoin(selectedBooking)"
                  *ngIf="selectedBooking.approvalStatus == 'live'"
                >
                  Join
                </button>
                <button
                  (click)="onHost(selectedBooking)"
                  [disabled]="!selectedBooking.isLive"
                  class="table_btn join_btn"
                  *ngIf="selectedBooking.approvalStatus != 'live'"
                >
                  Join
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
