<div class="page-content dashboard__Panel">
    <div class="wrapper">
        <h3>Transactions Information</h3>
      <div class="total__list white__bg">
        <div>
    
        </div>
        <div>
          
            <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
         Pending Transactions  <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#accordionEx">
      <div class="card-body">
        <div class="referal__table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="fld_name">UserId</th>
                    <th class="fld_name">Name</th>
                    <th class="fld_name">Context</th>
                    <th class="fld_status">Payable Amount</th>
                    <th class="fld_status" style="
                    display: flex;
                    justify-content: center;
                ">Pay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="fld_name">
                        <div class="nme_style">3487947</div>
                      </td>
                    <td class="fld_name">
                      <div class="nme_style">Danny Berg</div>
                    </td>
                    <td class="fld_email">Referral</td>
                    <td clas="fld_status">500</td>
                    <td class="fld_status">
                      <div class="td_btn" style="justify-content:center">
                        <a href="" class="table_btn connect_btn">Pay</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="fld_name">
                        <div class="nme_style">3487947</div>
                      </td>
                    <td class="fld_name">
                      <div class="nme_style">Danny Berg</div>
                    </td>
                    <td class="fld_email">Referral</td>
                    <td clas="fld_status">500</td>
                    <td class="fld_status" style="text-align: left;">
                      <div class="td_btn" style="justify-content:center">
                        <a href="" class="table_btn connect_btn">Pay</a>
                      </div>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>

      </div>
    </div>

  </div>
  <!-- Accordion card -->

           <!-- Accordion card -->
            <!-- Meeting setup -->
  <div class="card" style="margin-top: 20px;">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
          Meetings Setup <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#accordionEx">
      <div class="card-body">
        <div class="referal__table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="fld_name">Meeting Id</th>
                    <th class="fld_name">Meeting Timings</th>
                    <th class="fld_name">Meeting Amount</th>
                    <th class="fld_status">Meeting Creation Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="fld_name">
                        <div class="nme_style">3487947</div>
                      </td>
                    <td class="fld_name">
                      <div class="nme_style">Danny Berg</div>
                    </td>
                    <td class="fld_email">DannyBerg@gmail.com</td>
                    <td class="fld_status">
                      <div class="td_btn">
                        <a href="" class="table_btn connect_btn">Invited</a>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="fld_name">
                        <div class="nme_style">3487947</div>
                      </td>
                    <td class="fld_name">
                      <div class="nme_style">Danny Berg</div>
                    </td>
                    <td class="fld_email">DannyBerg@gmail.com</td>
                    <td class="fld_status">
                      <div class="td_btn">
                        <a href="" class="table_btn connect_btn">Invited</a>
                      </div>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>

      </div>
    </div>

  </div>
  <!-- Accordion card -->

         
          
         
        </div>
        </div>
              
    </div>
  </div>
