.time_hours {
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.time_hours img {
    float: left;
    width: 20%;
    max-width: 55px;
}
.time_hours p {
    float: left;
    width: 80%;
    margin-top: 15px;
    padding-left: 10px;
}
.time_hours .col-12.col-sm-6 {
    padding: 0px;
}
.time_hours .col-12.col-sm-6:nth-child(1) {
    position: relative;
}
.time_hours .col-12.col-sm-6:nth-child(1):before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #a8a8a8;
    right: 20px;
}

/*Landing Page Css*/
.web_right {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    float: left;
    width: 100%;
}
.top_web {
    float: left;
    width: 20%;
}
.top_web img {
    border-radius: 50%;
}
.web_right p {
    float: left;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

a.view_pf.button.signUp_btn {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #000 !important;
}
a.view_pf.button.signUp_btn:hover {
    background-color: #8DC63F;
    color: #fff !important;
}
.txt_web {
    float: left;
    width: 80%;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.txt_web span {
    color: #bdbaba;
}
.txt_web h3 {
    margin-bottom: 0px;
}
