@font-face {
	font-family: 'SofiaProLight';
	src: url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/SofiaProLight.otf')  format('opentype'),
	url('../fonts/SofiaProLight.woff') format('woff'), 
	url('../fonts/SofiaProLight.ttf')  format('truetype'), 
	url('../fonts/SofiaProLight.svg#SofiaProLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro Semi Bold';
	src: url('../fonts/Sofia Pro Semi Bold.woff2') format('woff2'),
	url('../fonts/Sofia Pro Semi Bold.woff') format('woff'),
	url('../fonts/Sofia Pro Semi Bold.ttf')  format('truetype');
}