/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* You can add global styles to this file, and also import other style files */
@import "assets/css/mediaqueries.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: block;
  float: left;
  width: 100%;
}

.hide {
  display: none;
}

.showin {
  display: inline-block;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.header {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #b1a5a57a;
  padding: 5px;
  width: 100%;
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.header .logo {
  width: 70px;
  height: 48px;
  display: inline-block;
  float: left;
}

.header .navbar,
.header .header-buttons-container {
  float: right;
  height: 48px;
  line-height: 45px;
}

.header .navbar .btn,
.header .header-buttons-container .btn {
  margin-left: 10px;
}
.logo {
  background: url(assets/images/logo.svg) no-repeat;
  overflow: hidden;
  background-size: contain;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #892687 !important;
  border-color: #892687 !important;
  padding: 8px 16px;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
}

.btn-primary:focus {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.btn-secondary {
  color: #979797 !important;
  background-color: #ffffff !important;
  border-color: #979797 !important;
  padding: 8px 16px;
  font-size: 12px;
}

.btn-secondary:hover {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  color:#FFFFFF!important;
}

.btn-secondary:focus {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
  color:#FFFFFF!important;
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  /*background: #dd4b39;*/
}
.loginBtn--google:before {
  /*border-right: #bb3f30 1px solid;*/
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
/*
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
*/

.error-information
{
  color:#D0021B;
}
.error-textbox
{
  border:1px solid #D0021B;
}


.info-class {
	color: #5e6a6e;
	text-transform: none;
	font-weight: normal;
	font-size: 12px;
}

.bg-signup
{
  background:url(assets/images/registration_bg.svg) no-repeat;
  background-position: bottom right;
  padding-right:0px!important;
}