/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* You can add global styles to this file, and also import other style files */

@import "assets/css/mediaqueries.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: block;
    float: left;
    width: 100%;
}

.hide {
    display: none!important;
}

.showin {
    display: inline-block!important;
}

.rowto {
    display: flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.columnto {
    align-self: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: #e30084 !important;
    box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.header {
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #b1a5a57a;
    padding: 5px;
    width: 100%;
    display: block;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.header .logo {
    width: 70px;
    height: 48px;
    display: inline-block;
    float: left;
}

.header .navbar,
.header .header-buttons-container {
    float: right;
    height: 48px;
    line-height: 45px;
}

.header .navbar .btn,
.header .header-buttons-container .btn {
    margin-left: 10px;
}

.why_fg_container .search-result-card {
    width: 300px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
    border: 1px solid #e9e9ed;
}

.why_fg_container .search-result-card .result-card-header {
    height: 90px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #7d0f7d;
    color: #ffffff;
}

.why_fg_container .search-result-card .result-card-header .result-card-name {
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 10px;
}

.why_fg_container .search-result-card .result-card-header .result-card-specalizaiton {
    top: 25px;
    left: 20px;
    position: absolute;
    text-overflow: ellipsis;
}

.why_fg_container .search-result-card .result-card-header .stars-outer {
    top: 55px;
    right: 10px;
    position: absolute;
    font-size: 20px;
}


/*
.stars-outer {
	position: relative;
	display: inline-block;
	top: 60px;
	color: transparent;
}
*/

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: thin;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffffff;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fc91fc;
}

.why_fg_container {
    width: 80%;
    margin: 0 auto;
    display: block;
    float: left;
}

.why_fg_container .search-result-card .numbers-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 90px;
    text-align: center;
}

.why_fg_container .search-result-card .numbers-container .number {
    width: 100%;
    display: block;
    float: left;
    font-weight: 700;
    color: #000000;
}

.why_fg_container .search-result-card .numbers-container .info {
    width: 100%;
    display: block;
    float: left;
    text-transform: uppercase;
}

.why_fg_container .search-result-card .result-profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    position: absolute;
    top: 45px;
    left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
    z-index: 1;
}

.why_fg_container .search-result-card .result-card-content {
    height: 220px;
    background-color: #ffffff;
    position: relative;
}

.why_fg_container .search-result-card .result-card-content .result-card-descirption {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 70px;
    left: 15px;
    color: #5e6a6e;
    font-size: 15px;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    width: 350px;
}

.logo {
    background: url(assets/images/logo.svg) no-repeat;
    overflow: hidden;
    background-size: contain;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #892687 !important;
    border-color: #892687 !important;
    padding: 8px 16px;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #e30084 !important;
    border-color: #e30084 !important;
}

.btn-primary:focus {
    background-color: #e30084 !important;
    border-color: #e30084 !important;
    box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.btn-secondary {
    color: #979797 !important;
    background-color: #ffffff !important;
    border-color: #979797 !important;
    padding: 8px 16px;
    font-size: 12px;
}

.btn-secondary:hover {
    background-color: #e30084 !important;
    border-color: #e30084 !important;
    color: #ffffff !important;
}

.btn-secondary:focus {
    background-color: #e30084 !important;
    border-color: #e30084 !important;
    box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
    color: #ffffff !important;
}


/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    /*background: #dd4b39;*/
}

.loginBtn--google:before {
    /*border-right: #bb3f30 1px solid;*/
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}


/*
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
*/

.error-information {
    color: #d0021b;
}

.error-textbox {
    border: 1px solid #d0021b;
}

.info-class {
    color: #5e6a6e;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}

.bg-signup {
    background: url(assets/images/registration_bg.svg) no-repeat;
    background-position: bottom right;
    padding-right: 0px !important;
}

.bg-thankyou-container {
    width: 500px;
    height: 350px;
    background: url(assets/images/thankyou_bg.svg) no-repeat;
    background-position: bottom left;
    padding-right: 0px !important;
    position: relative;
}

.bg-thankyou-container .user-name-container {
    left: 250px;
    top: 90px;
    position: absolute;
}

.bg-thankyou-container .thankyou-container {
    left: 250px;
    top: 120px;
    position: absolute;
    display: block;
    float: left;
}

.bg-thankyou-container .thankyou-container .greet {
    font-size: 20px;
    text-transform: uppercase;
    color: #e30084;
    font-weight: 700;
    width: 100%;
    display: block;
    float: left;
}

.bg-thankyou-container .btn-group {
    left: 250px;
    top: 240px;
    position: absolute;
}

.bg-thankyou-container .button-container {
    left: 250px;
    top: 280px;
    position: absolute;
}

.separtor {
    width: 1px;
    height: 30px;
    background-color: #979797;
}

.search-container {
    background: url(assets/images/search_right_bg.svg) no-repeat;
}

.search-container .search-bg-left {
    background: url(assets/images/searchbg.svg) no-repeat;
}

.how-it-works-container {
    display: block;
    float: left;
    width: 100%;
    min-height: 250px;
    background-color: #f7e4f9;
    text-align: center;
    padding-top: 100px;
}

.advertise-container {
    background-color: #7D0F7D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}

.advertise-container .advertisement {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding-top: 20px;
}

.advertise-container .advertisement .advertisement-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

.advertise-container .advertisement .advertisement-content {
    font-size: 12px;
}

.advertise-container .secondary-advertisement {
    background-color: #E30084;
}

.breadcrumb-container {
    width: 100%;
    display: block;
    float: left;
}

.breadcrumb {
    background-color: transparent;
    line-height: 20px;
    height: 20px;
}

.breadcrumb .active {
    color: #7D0F7D;
    font-size: 14px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
    color: #7D0F7D;
}

.fliter-tag-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 8px 8px -4px rgba(40, 44, 63, 0.04);
}

.fliter-tag-container .filters-content {
    width: 75%;
}

.fliter-tag-container .filters-content .nav-item {
    line-height: 30px;
    height: 30px;
    border: 1px solid #E30084;
    margin-right: 10px;
    border-radius: 25px;
}

.fliter-tag-container .filters-content .nav-item:hover {
    background-color: #E30084;
}

.fliter-tag-container .filters-content .nav-item:hover span,
.fliter-tag-container .filters-content .nav-item:hover .material-icons {
    color: #FFFFFF;
}

.fliter-tag-container .filters-content .nav-pills .nav-link {
    background-color: transparent;
    color: #000000;
    padding: 5px 16px;
    line-height: 20px;
}

.fliter-tag-container .filters-content .nav-pills .nav-link .material-icons {
    font-size: 12px;
    cursor: pointer;
    position: relative;
    right: -11px;
    top: 1px;
}

.fliter-tag-container .sort-by-container {
    border-left: 1px solid #EFEFEF;
    width: 25%;
    text-align: right;
}

.fliter-tag-container .sort-by-container span {
    margin-right: 10px;
}

.search-result-container {
    margin-top: 10px;
}

.search-result-container .filter-container {
    width: 220px;
    min-width: 220px;
    flex: 0;
}

.search-result-container .filter-container .filter-category {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
}

.search-result-container .filter-container .filter-category .filter-category-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}

.search-result-container .filter-container .filter-category .filter-category-list {
    margin: 0px;
    padding: 0px;
}

.search-result-container .filter-container .filter-category .filter-category-list li {
    list-style: none;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label {
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;
    position: relative;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label .filter-input {
    margin-right: 10px;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label .filter-num {
    color: #adb5bd;
    font-size: 11px;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label .checkbox-indicator {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label [type="checkbox"]:checked .checkbox-indicator {
    border: none;
    background: #ff3f6c;
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label .checkbox-indicator :after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 5px;
    border-color: #fff;
    border-style: none none solid solid;
    border-width: 2px;
    transition: all .3s ease-in-out;
    transform: rotate(-45deg);
}

.search-result-container .filter-container .filter-category .filter-category-list li .filters-label [type="checkbox"]:checked~.checkbox-indicator:after {
    display: block;
}

.search-result-container .search-cards-container {
    width: 100%;
}

.search-result-container .search-cards-container .search-result-card {
    width: 300px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
    border: 1px solid #e9e9ed;
}

.search-result-container .search-cards-container .search-result-card .result-card-header {
    height: 70px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #7D0F7D;
    color: #FFFFFF;
}

.search-result-container .search-cards-container .search-result-card .result-card-header .result-card-name {
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 10px;
}

.search-result-container .search-cards-container .search-result-card .result-card-header .result-card-specalizaiton {
    top: 25px;
    left: 20px;
    position: absolute;
    text-overflow: ellipsis;
    position: relative;
}

.search-result-container .search-cards-container .search-result-card .numbers-container {
    display: flex;
}

.search-result-container .search-cards-container .search-result-card .result-profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 45px;
    left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
    z-index: 1;
}

.search-result-container .search-cards-container .search-result-card .result-card-content {
    height: 220px;
    background-color: #FFFFFF;
    position: relative;
}

.search-result-container .search-cards-container .search-result-card .result-card-content .result-card-descirption {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 50px;
    left: 10px;
    color: #5E6A6E;
}

.search-result-container .search-cards-container .search-result-card .result-card-content .result-card-tutorsfor {
    width: 280px;
    position: absolute;
    top: 90px;
    left: 10px;
    color: #5E6A6E;
}

.search-result-container .search-cards-container .search-result-card .result-card-content .result-card-tutorsfor .tutor-sub {
    background-color: #E30084;
    color: #FFF;
    padding: 5px;
}

.search-result-container .search-cards-container .search-result-card .result-card-content .tutors-name-container {
    background-color: #F5A7D4;
    height: 20px;
    padding: 5px;
    color: #000000;
    line-height: 10px;
    width: 270px;
}

.search-result-container .search-cards-container .search-result-card .result-card-content .btn-primary {
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.search-result-container .search-cards-container .search-result-card .result-card-header .stars-outer {
    top: 40px;
    right: 10px;
    position: absolute;
    font-size: 20px;
}

.search-result-container .search-cards-container .search-result-card .numbers-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 90px;
    text-align: center;
}

.search-result-container .search-cards-container .search-result-card .numbers-container .fee_per_attribute {
    color: #7D0F7D;
}

.search-result-container .search-cards-container .search-result-card .numbers-container .number {
    width: 100%;
    display: block;
    float: left;
    font-weight: 700;
    color: #000000;
}

.search-result-container .search-cards-container .search-result-card .numbers-container .info {
    width: 100%;
    display: block;
    float: left;
    text-transform: uppercase;
}

.dashboard-container {
    padding: 20px;
    float: left;
    display: block;
    width: 100%;
}

.dashboard-container .pending-reviews-panel {
    width: 100%;
    border-radius: 12px;
    border: 1px dashed #3F023F;
    background-color: #F7E4F9;
    height: 40px;
    margin-bottom: 10px;
    line-height: 20px;
    padding: 10px;
}

.dashboard-container .pending-reviews-panel .text-content,
.number {
    color: #7D0F7D;
    margin-right: 15px;
}

.dashboard-container .pending-reviews-panel .number {
    font-size: 20px;
    font-weight: 700;
}

.dashboard-container .widget {
    background: #FFFFFF;
    border: 1px solid #3F023F;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    width: 600px;
    min-height: 250px;
    padding: 10px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.dashboard-container .widget .widget-header {
    color: #890081;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.dashboard-container .widget .widget-timings {
    font-size: 11px;
    color: #E7001A;
    position: absolute;
    top: 12px;
    right: 10px;
}

.dashboard-container .widget .widget-information {
    width: 100%;
    padding-top: 10px;
    position: relative;
}

.dashboard-container .widget .widget-information .subject-thumbnail {
    width: 150px;
    height: 150px;
    border: 1px solid #DBDBDB;
    display: inline-block;
    float: left;
}

.dashboard-container .widget .widget-information .subject-description {
    margin-left: 20px;
    height: 150px;
    display: inline-block;
    float: left;
    width: 250px;
}

.dashboard-container .widget .widget-information .subject-description span {
    display: block;
    float: left;
    width: 100%;
    line-height: 25px;
}

.dashboard-container .widget .widget-information .btn-primary {
    margin-top: 10px;
}

.dashboard-container .widget .widget-information .list-panel {
    position: relative;
}

.dashboard-container .widget .widget-information .list-panel .list-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
    border: 1px solid #DBDBDB;
}

.dashboard-container .widget .widget-information .list-panel .list-information {
    position: absolute;
    top: 10px;
    left: 80px;
}

.dashboard-container .widget .widget-information .list-panel .list-information span {
    width: 100%;
    display: block;
}

.dashboard-container .widget .widget-information .list-panel .list-information .name {
    color: #3F023F;
    text-transform: uppercase;
    font-size: 15px;
}

.dashboard-container .widget .widget-information .stars-inner {
    left: 450px;
    position: absolute;
    top: 10px;
    width: 150px;
    font-size: 20px;
}

.dashboard-container .widget .widget-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dashboard-container .widget .widget-footer a {
    color: #460041;
    font-size: 11px;
    text-decoration: underline;
}

.dashboard-container .widget .widget-footer a:hover {
    text-decoration: none;
}