/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
@font-face {
	src: url(../src/assets/fonts/berlinSans.ttf);
	font-family: custom;
}

@font-face {
	src: url(../src/assets/fonts/Helvetica-Font/Helvetica.ttf);
	font-family: helveticaSpecific;
}
@font-face {
	src: url(../src/assets/fonts/Helvetica-Font/Helvetica-Bold.ttf);
	font-family: helveticaBold;
}
@font-face {
	src: url(../src/assets/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf);
	font-family: helveticaLight;
}
