/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* You can add global styles to this file, and also import other style files */
@import "assets/css/mediaqueries.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: block;
  float: left;
  width: 100%;
}

.hide {
  display: none;
}

.showin {
  display: inline-block;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.header {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #b1a5a57a;
  padding: 5px;
  width: 100%;
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.header .logo {
  width: 70px;
  height: 48px;
  display: inline-block;
  float: left;
}

.header .navbar,
.header .header-buttons-container {
  float: right;
  height: 48px;
  line-height: 45px;
}

.header .navbar .btn,
.header .header-buttons-container .btn {
  margin-left: 10px;
}

.why_fg_container .search-result-card {
  width: 300px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
  border: 1px solid #e9e9ed;
}

.why_fg_container .search-result-card .result-card-header {
  height: 90px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #7d0f7d;
  color: #ffffff;
}

.why_fg_container .search-result-card .result-card-header .result-card-name {
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 10px;
}

.why_fg_container
  .search-result-card
  .result-card-header
  .result-card-specalizaiton {
  top: 25px;
  left: 20px;
  position: absolute;
  text-overflow: ellipsis;
}

.why_fg_container .search-result-card .result-card-header .stars-outer {
  top: 55px;
  right: 10px;
  position: absolute;
  font-size: 20px;
}
/*
.stars-outer {
	position: relative;
	display: inline-block;
	top: 60px;
	color: transparent;
}
*/
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: thin;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fc91fc;
}

.why_fg_container {
  width: 80%;
  margin: 0 auto;
  display: block;
  float: left;
}

.why_fg_container .search-result-card .numbers-container {
  display: flex;
  position: absolute;
  top: 10px;
  left: 90px;
  text-align: center;
}

.why_fg_container .search-result-card .numbers-container .number {
  width: 100%;
  display: block;
  float: left;
  font-weight: 700;
  color: #000000;
}
.why_fg_container .search-result-card .numbers-container .info {
  width: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
}

.why_fg_container .search-result-card .result-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 45px;
  left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px 23px -16px rgba(0, 0, 0, 0.46);
  z-index: 1;
}

.why_fg_container .search-result-card .result-card-content {
  height: 220px;
  background-color: #ffffff;
  position: relative;
}

.why_fg_container
  .search-result-card
  .result-card-content
  .result-card-descirption {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 70px;
  left: 15px;
  color: #5e6a6e;
  font-size: 15px;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  width: 350px;
}

.logo {
  background: url(assets/images/logo.svg) no-repeat;
  overflow: hidden;
  background-size: contain;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #892687 !important;
  border-color: #892687 !important;
  padding: 8px 16px;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
}

.btn-primary:focus {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
}

.btn-secondary {
  color: #979797 !important;
  background-color: #ffffff !important;
  border-color: #979797 !important;
  padding: 8px 16px;
  font-size: 12px;
}

.btn-secondary:hover {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  color: #ffffff !important;
}

.btn-secondary:focus {
  background-color: #e30084 !important;
  border-color: #e30084 !important;
  box-shadow: 0 0 0 0.2rem #f7e4f9 !important;
  color: #ffffff !important;
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  /*background: #dd4b39;*/
}
.loginBtn--google:before {
  /*border-right: #bb3f30 1px solid;*/
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
/*
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
*/

.error-information {
  color: #d0021b;
}
.error-textbox {
  border: 1px solid #d0021b;
}

.info-class {
  color: #5e6a6e;
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
}

.bg-signup {
  background: url(assets/images/registration_bg.svg) no-repeat;
  background-position: bottom right;
  padding-right: 0px !important;
}

.bg-thankyou-container {
  width: 500px;
  height: 350px;
  background: url(assets/images/thankyou_bg.svg) no-repeat;
  background-position: bottom left;
  padding-right: 0px !important;
  position: relative;
}

.bg-thankyou-container .user-name-container {
  left: 250px;
  top: 90px;
  position: absolute;
}

.bg-thankyou-container .thankyou-container {
  left: 250px;
  top: 120px;
  position: absolute;
  display: block;
  float: left;
}

.bg-thankyou-container .thankyou-container .greet {
  font-size: 20px;
  text-transform: uppercase;
  color: #e30084;
  font-weight: 700;
  width: 100%;
  display: block;
  float: left;
}

.bg-thankyou-container .btn-group {
  left: 250px;
  top: 240px;
  position: absolute;
}
.bg-thankyou-container .button-container {
  left: 250px;
  top: 280px;
  position: absolute;
}

.separtor {
  width: 1px;
  height: 30px;
  background-color: #979797;
}

.search-container {
  background: url(assets/images/search_right_bg.svg) no-repeat;
}

.search-container .search-bg-left {
  background: url(assets/images/searchbg.svg) no-repeat;
}

.how-it-works-container {
  display: block;
  float: left;
  width: 100%;
  min-height: 250px;
  background-color: #f7e4f9;
  text-align: center;
  padding-top: 100px;
}
