<app-nav-bar></app-nav-bar>
<div class="page-content">
	<section class="wi_full py_5 event_banner">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-12 col-md-6">
    				<div class="banner_content">
    					<h1>Webinar</h1>
                        <p>View the upcoming webinars mentioned below.</p>
    				</div>
    			</div>
    			<div class="col-12 col-md-6">
    				<div class="banner_image">
    					<img src="../../../assets/images/event-graphic.svg" alt="#">
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="wi_full py_5 events_page pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="event__wrapper">
                        <div class="sec__title">
                            <h2>Upcoming Webinars</h2>
                        </div>
                        
                            <div class="event__item" *ngFor="let upcomingEvent of upcomingEvents">
                                <div class="event__img">
                                    <img src="../../../assets/images/event-1.png" alt="#">
                                    <div class="event__place">{{upcomingEvent.eventVenue}}</div>
                                </div>
                                <div class="post__txt">
                                    <h5>{{upcomingEvent.eventTitle}}</h5>
                                    <div class="post__date">{{upcomingEvent.eventStartTime}}</div>
                                    <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</p> -->
                                </div>
                                <div class="post__Btn">
                                    <button class="button event_btn" 
                                    (click)="viewEventDetail(upcomingEvent)">Register</button>
                                </div>
                            </div>
                                
                        
                    	
                        <div class="sec__title">
                            <h2>Past Events</h2>
                        </div>

                        <div class="event__item">
                            <div class="event__img">
                                <img src="images/event-1.png" alt="#">
                                <div class="event__place">Delhi, India</div>
                            </div>
                            <div class="post__txt">
                                <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                                <div class="post__date">29.07.2021 | 09:00 am</div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</p>
                            </div>
                            <div class="post__Btn">
                                <a href="" class="button event_btn">View Gallery</a>
                            </div>
                        </div>
                        <div class="event__item">
                            <div class="event__img">
                                <img src="images/event-2.png" alt="#">
                                <div class="event__place">Delhi, India</div>
                            </div>
                            <div class="post__txt">
                                <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                                <div class="post__date">29.07.2021 | 09:00 am</div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</p>
                            </div>
                            <div class="post__Btn">
                                <a href="" class="button event_btn">View Gallery</a>
                            </div>
                        </div>
                        <div class="event__item">
                            <div class="event__img">
                                <img src="images/event-3.png" alt="#">
                                <div class="event__place">Delhi, India</div>
                            </div>
                            <div class="post__txt">
                                <h5>Proin gravida nibh vel velit auctor aliquet.</h5>
                                <div class="post__date">29.07.2021 | 09:00 am</div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...</p>
                            </div>
                            <div class="post__Btn">
                                <a href="" class="button event_btn">View Gallery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
