
:host::ng-deep button {
    min-width: 120px ;
    min-height: 40px ;
    border-radius: 10px ;
    padding: 12px 20px ;
}
.total__list{
 position: relative;
}
.download-button{
    position: absolute;
    top: 0;
    right: 0;
}