<div class="page-content dashboard__Panel">
  <div class="wrapper">
   
    <angular2csv
      [data]="userData"
      filename="userData"
      [options]="options"
      style="display: flex; margin: 10px; margin-left: 0"
    ></angular2csv>
    <div>
      <div style="margin-bottom: 10px">
        <h2>Users count : {{ userAnalytics.usersCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Daily Login : {{ userAnalytics.dailyLoginCount }}</h2>
      </div>

      <div style="margin-bottom: 10px">
        <h2>Weekly Login : {{ userAnalytics.weeklyLoginCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Monthly Login : {{ userAnalytics.monthlyLoginCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Daily SignUp : {{ userAnalytics.dailySignUpCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Weekly SignUp : {{ userAnalytics.weeklySignUpCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Monthly SignUp : {{ userAnalytics.monthlySignUpCount }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Daily Meetings Setup : {{ userAnalytics.dailyMeetingsSetup }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>Weekly Meetings Setup : {{ userAnalytics.weeklyMeetingSetup }}</h2>
      </div>
      <div style="margin-bottom: 10px">
        <h2>
          Monthly Meetings Setup : {{ userAnalytics.monthlyMeetingSetup }}
        </h2>
      </div>
    </div>
  </div>
</div>
