<div class="container">
  <div class="box">
    <h3>Categories</h3>
    <br />
    <div *ngFor="let categ of categories">
      <p style="margin-left: 1rem">{{ categ.category }}</p>
      <div *ngFor="let sc of subCategories">
        <p style="margin-left: 2rem" *ngIf="sc.category == categ.category">
          {{ sc.subCategory }}
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="container">
        <div class="row">
            <div class="col-sm-5">
                
            </div>
        </div>
    </div> -->
  <div class="box">
    <form (ngSubmit)="addCategory(c)" #c="ngForm">
      <div class="form-group">
        <label for="categoryInput">Category Name</label>
        <input
          type="text"
          class="form-control"
          id="categoryInput"
          [(ngModel)]="categoryInput"
          name="categoryName"
          ngModel
          required
          placeholder="Enter Category Name"
        />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!c.form.valid">
        Submit
      </button>
    </form>
  </div>

  <div class="box">
    <form (ngSubmit)="addSubCategory(sc)" #sc="ngForm">
      <div class="form-group">
        <label for="chooseCategory">Choose category</label>
        <select
          class="form-control"
          id="chooseCategory"
          name="categoryName"
          [(ngModel)]="selectedValue"
          ngModel
        >
          <option *ngFor="let categ of categories" [value]="categ.category">
            {{ categ.category }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="subCategoryInput">Sub Category Name</label>
        <input
          type="text"
          class="form-control"
          id="subCategoryInput"
          name="subCategoryName"
          [(ngModel)]="subCategoryInput"
          ngModel
          required
          placeholder="Enter Sub Category Name"
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!sc.form.valid">
        Submit
      </button>
    </form>
  </div>
</div>
