.container{
    margin-top: 2vh;
}
.box{
    background: #ffffff;
    border: 1px solid #3f023f;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    width: 400px;   
    padding: 10px;
    position: relative;
    /* display: inline-block; */
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}