<div class="advertise-container">
  <div class="advertisement">
    <span class="advertisement-header">
      <span class="fa fa-user-check"></span>Verified Experts
    </span>
    <span class="advertisement-content">
      Only the most qualified instructors enrolled in our program.
    </span>
  </div>
  <div class="advertisement secondary-advertisement">
    <span class="advertisement-header"
      ><span class="fa fa-people-arrows"></span> Personalized coaching
    </span>
    <span class="advertisement-content">
      1-on-1 learning enabled through video, chats, and digital boards.
    </span>
  </div>
  <div class="advertisement">
    <span class="advertisement-header">
      <span class="fa fa-lock"></span> Trusted & secured
    </span>
    <span class="advertisement-content">
      100% safe to use. Data encryption for the max security.
    </span>
  </div>
</div>
