<body>
  <div
    *ngIf="isLoading"
    style="
      text-align: center;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <app-loading></app-loading>
    <p style="margin: 1rem; font-size: large">Signing you up..</p>
  </div>
  <div class="access_page wi_full" [class]="!isLoading ? '' : 'hideBlock'">
    <div class="container" [class]="!verifyEmail ? '' : 'hideBlock'">
      <div class="page_wrapper">
        <div class="access_icon_box">
          <img
            src="../../../assets/images/signup-clip.svg"
            alt="#"
            class="graphic_style"
          />
        </div>
        <div class="access_field_box">
          <div class="access_header">
            <a href="#" data-bs-toggle="tooltip" data-placement="bottom" title="Home" class="register_btn hdr_btn"><img src="../../assets/images/breadcrumb-home.svg" alt="#" style="width: 50px;">
            </a>
            <a href="" class="accs_logo"
              ><img src="../../../assets/images/fellow genius logo.svg" alt="#"
            /></a>
          </div>
          <div class="access_data sign-up">
            <div class="content_wrapper">
              <h2>Create account</h2>
              <div class="tagline"></div>
              <form (ngSubmit)="onSignUp(t)" #t="ngForm">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="">Full Name*</label>
                      <input
                        type="text"
                        id="fullName"
                        name="fullName"
                        ngModel
                        class="form-control"
                        required
                        #fullName="ngModel"
                        maxlength="50"
                        placeholder="Enter Full Name"
                        [pattern]="fullNamePattern"
                      />
                      <span
                        class="help-block"
                        *ngIf="!fullName.valid && fullName.touched"
                        >Invalid Name</span
                      >
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label class="">E-Mail*</label>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        ngModel
                        class="form-control"
                        required
                        email
                        #email="ngModel"
                        maxlength="64"
                        [pattern]="emailPattern"
                        placeholder="Enter Email"
                      />
                      <span
                        *ngIf="(!email.valid && email.touched) || emailValid"
                        class="help-block"
                        >Invalid email</span
                      >
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="">Phone Number*</label>
                      <input
                        type="text"
                        oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        id="contact"
                        class="form-control"
                        ngModel
                        name="contact"
                        required
                        [pattern]="mobNumberPattern"
                        #contact="ngModel"
                        placeholder="Enter phone number"
                      />
                      <span
                        *ngIf="!contact.valid && contact.touched"
                        class="help-block"
                        >Invalid number</span
                      >
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="">Password*</label>
                      <div class="password_wrap">
                        <input
                          id="password-field"
                          [type]="showPassword ? 'text': 'password' "
                          class="form-control"
                          name="password"
                          ngModel
                          required
                          [pattern]="passwordPattern"
                          minlength="8"
                          maxlength="20"
                          #password="ngModel"
                          placeholder="Enter password"
                        />
                        <span
                          (click)="togglePassword()"
                          class="fa fa-fw field-icon toggle-password"
                          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash' "
                        ></span>
                      </div>

                      <span
                        class="help-block"
                        *ngIf="!password.valid && password.touched"
                        >Invalid Password</span>
                    
                    </div>
                  </div>
                  <!-- <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="">Confirm Password</label>
                      <div class="password_wrap">
                        <input
                          id="password-field2"
                          type="password"
                          class="form-control"
                          name="password"
                          value="secret"
                        />
                        <span
                          toggle="#password-field2"
                          class="fa fa-fw fa-eye field-icon toggle-password"
                        ></span>
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="col-12" style="margin-bottom: 10px;">
                         
                    <span
                      class="help-block"
                      *ngIf="
                        password.invalid && (password.dirty || password.touched)
                      "
                      style="
                        color: grey;
                        font-size: smaller;
                      "
                      >Your password must be a minimum of 8 characters long and
                      should contain atleast<br />
                      One uppercase letter (A-Z)<br />
                      One lowercase letter (a-z)<br />
                      One number (0-9)<br />
                      One special character (@, #,&, %)</span
                    >
                  </div>
                  <div [class]="!isEvent ? 'col-12' : 'hideBlock'">
                    <div class="form-group">
                      <label class="">UPI ID</label>
                      <input
                        type="text"
                        id="upiId"
                        class="form-control"
                        ngModel
                        name="upiId"
                        #upiId="ngModel"
                        placeholder="Enter UPI ID"
                        [pattern]="upiIdPattern"
                        minlength="5"
                        maxlength="50"
                      />
                      <span
                        *ngIf="!upiId.valid && upiId.touched"
                        class="help-block"
                        >Invalid UPI ID</span
                      >
                    </div>
                  </div>
                  <div [class]="!isEvent ? 'col-12' : 'hideBlock'" style="margin-bottom:10px">
                    <a
                      href="javascript:;"
                      (click)="showExpertCode=!showExpertCode"
                      style="color: #8dc63f; cursor: pointer;margin-top: 10px;"
                      >Have a Referral code?</a
                    >
                  </div>
                  <div class="col-12" *ngIf="showExpertCode">
                    <div class="form-group">
                      <!-- <label class="">Refer Code</label> -->
                      <input
                        type="text"
                        id="expertCode"
                        name="expertCode"
                        ngModel
                        class="form-control"
                        required
                        [pattern]="referCodePattern"
                        #expertCode="ngModel"
                        maxlength="50"
                        placeholder="Enter Referral Code"
                      />
                      <span
                        class="help-block"
                        *ngIf="!expertCode.valid && expertCode.touched"
                        >Invalid Referral Code</span
                      >
                    </div>
                  </div>
                </div>
                <div>
                  <span class="help-block" style="color: grey"
                    >By submitting, you acknowledge that you have read and
                    agreed to our
                    <a
                      routerLink='/terms-and-conditions'
                      target="_blank"
                      style="color: #8dc63f; cursor: pointer"
                      >Terms and Conditions</a
                    >
                    and
                    <a
                    routerLink='/privacy-policy'
                    target="_blank"
                      style="color: #8dc63f; cursor: pointer"
                      >Privacy Policy</a
                    ></span
                  >
                </div>
                <button
                  type="submit"
                  class="button form_Btn"
                  style="margin-top: 10px"
                  [disabled]="!t.valid"
                >
                  Sign up
                </button>
                <div class="sepratr_login">Easy Sign up with</div>
                <button
                  type="button"
                  class="button google_Btn"
                  (click)="prepareLoginButton()"
                  #googleSignUp
                >
                  <i class="fab fa-google"></i>Google
                </button>
              </form>
            </div>
          </div>
          <div class="access_footer">
            <p>
           
              Already have an Account ? <a routerLink="/login">Log in</a
              ><span>or</span
              ><a style="color: #8dc63f" routerLink="/sign-up-expert"
                >sign up as expert</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="enableOTPPage">
      <app-otp [otpJSON]="otpJSON" (emailVerify)="onOutput($event)"></app-otp> 
    </div>
    
  </div>
</body>
