.signup-container {
	width: 680px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	margin-top: 50px;
	height: 700px;
}

.signup-container .close {
	font-size: 24px;

	position: relative;
	top: -10px;
	right: -10px;
}

.signup-container .logo {
	width: 120px;
	height: 90px;
	display: inline-block;
	float: right;
}

.signup-container .signup-header {
	width: 100%;
	display: flex;
	align-items: center;
}

.signup-container .signup-header .header-container {
	color: #e30084;
	font-weight: 700;
	text-transform: uppercase;
	width: 325px;
	font-size: 22px;
}

.signup-container .signup-header .header-container-secondary {
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
}

.signup-container .signup-parameter-container {
	border: 1px solid #7d0f7d;
	border-radius: 8px;
	display: block;
	float: left;
	width: 100%;
	padding: 20px;
	box-shadow: 0 8px 16px 0 #90a4ae;
}

.signup-container .signup-parameter-container .form-group {
	width: 60%;
}
.signup-container .signup-parameter-container .button-container {
	line-height: 30px;
}
.signup-container .signup-parameter-container .button-container .btn-primary {
	float: right;
}

.signup-container .signup-parameter-container .button-container .forgot-password {
	color: #000000;
	float: left;
}

.agree-disagree {
	margin-bottom: 15px;
	text-align: center;
}

.social-button-container {
	margin-top: 60px;
	text-align: center;
}
.help-block {
	color: red;
}
input.ng-invalid.ng-touched {
	border: 1px solid red;
}
