<body>
<app-nav-bar></app-nav-bar>
    <div class="page-content">
	    <section class="wi_full py_5 faq_banner">
	    	<div class="container">
	    		<div class="row align-items-center">
	    			<div class="col-12 col-lg-6">
	    				<div class="banner_content">
	    					<h1>Frequently Asked Questions</h1>
                            <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p> -->
	    				</div>
	    			</div>
	    			<div class="col-12 col-lg-6">
	    				<div class="banner_image">
	    					<img src="../../../assets/images/faq-img.svg" alt="#">
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	    <section class="wi_full py_5 pb-0 faqaccrdn_sec">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="accordion_wrapper">
                            <h2>General</h2>
                            <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="generalOne">
								        <a class="collapsed" data-toggle="collapse" href="#colGenOne" role="button" aria-expanded="true" aria-controls="colGenOne">How do I get started?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenOne" class="collapse" role="tabpanel" aria-labelledby="generalOne" data-parent="#accordion1">
								      	<div class="card-body">Sign up <a routerLink='/sign-up' class="route-link">sign up</a> at FellowGenius.com and complete your profile by providing basic profile information</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="generalTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colGenTwo" role="button" aria-expanded="false" aria-controls="colGenTwo">How do I register as an Expert on FellowGenius?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenTwo" class="collapse" role="tabpanel" aria-labelledby="generalTwo" data-parent="#accordion1">
								      	<div class="card-body">Join us as an expert <a routerLink='/sign-up-expert' class="route-link">sign up as expert</a> at FellowGenius.com by providing your basic personal and professional information. FellowGenius team will review your profile and confirm within 48 working hours</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="generalThree">
								        <a class="collapsed" data-toggle="collapse" href="#colGenThree" role="button" aria-expanded="false" aria-controls="colGenThree">How to reset password?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenThree" class="collapse" role="tabpanel" aria-labelledby="generalThree" data-parent="#accordion1">
								      	<div class="card-body">Click on forgot password <a routerLink='/login' class="route-link">login</a> on the login page. Enter the email ID registered with FellowGenius. Click on the link shared in your email and enter a new password.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								  <div class="card">
								    <div class="card-header p-0" role="tab" id="generalFour">
								        <a class="collapsed" data-toggle="collapse" href="#colGenFour" role="button" aria-expanded="false" aria-controls="colGenFour">How to contact FellowGenius?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenFour" class="collapse" role="tabpanel" aria-labelledby="generalFour" data-parent="#accordion1">
								      	<div class="card-body">To connect with our team, please write us at fellowgeniuscc@gmail.com</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div>
							</div><!-- /#accordion1 -->
                            <h2>Learners</h2>
                            <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerOne">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnOne" role="button" aria-expanded="true" aria-controls="colLrnOne">How do I schedule a meeting with the expert?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnOne" class="collapse" role="tabpanel" aria-labelledby="learnerOne" data-parent="#accordion2">
								      	<div class="card-body">Log-in to FellowGenius.com and select your domain and topic of interest. Choose Expert and book a meeting as per the expert’s availability. Make the payment. Get confirmation from the selected expert. </div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnTwo" role="button" aria-expanded="false" aria-controls="colLrnTwo">Is there any other information I need to provide before the meeting?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnTwo" class="collapse" role="tabpanel" aria-labelledby="learnerTwo" data-parent="#accordion2">
								      	<div class="card-body">you may choose to share additional information and file attachments with the expert for better discussion.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerThree">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnThree" role="button" aria-expanded="false" aria-controls="colLrnThree">How do I cancel or reschedule my meeting?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnThree" class="collapse" role="tabpanel" aria-labelledby="learnerThree" data-parent="#accordion2">
								      	<div class="card-body">On your profile dashboard, you can choose to either cancel or reschedule your upcoming FellowGenius session. You can request to cancel or reschedule any meeting at least 3 hours prior to the original scheduled time slot.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerFour">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnFour" role="button" aria-expanded="false" aria-controls="colLrnFour">Do I get a refund, if I cancel a scheduled FellowGenius session?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnFour" class="collapse" role="tabpanel" aria-labelledby="learnerFour" data-parent="#accordion2">
								      	<div class="card-body">In case you have to cancel a scheduled session, please do so at least 3 hours prior to the start of the session. Payment made for this session would be refunded within 5 working days. No refund would be offered if the session is cancelled less than 3 hours before scheduled start or in case of no show.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerFive">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnFive" role="button" aria-expanded="false" aria-controls="colLrnFive">What happens if the Expert reschedules the meeting?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnFive" class="collapse" role="tabpanel" aria-labelledby="learnerFive" data-parent="#accordion2">
								      	<div class="card-body">In case the expert requests to reschedule the meeting (at least 3 hours prior to the scheduled time), you can either accept the revised slot and connect with the same expert at the new time  
											OR you can select another expert from our pool of curated experts and book a fresh  meeting. 
											In case you choose to set up a meeting with an alternative expert, you will need to pay (or be refunded) the differential amount as the case may be.
											</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerSix">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnSix" role="button" aria-expanded="false" aria-controls="colLrnSix">How to book a meeting with the same expert again?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnSix" class="collapse" role="tabpanel" aria-labelledby="learnerSix" data-parent="#accordion2">
								      	<div class="card-body">Locate experts with whom you have connected in the past under the dashboard or sessions tab. Click on connect again to set up a new meeting.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							</div><!-- /#accordion2 -->
                            <h2>Expert</h2>
                            <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="expertOne">
								        <a class="collapsed" data-toggle="collapse" href="#colExpOne" role="button" aria-expanded="true" aria-controls="colExpOne">What happens once I get registered as a FellowGenius expert?
										</a>
								    </div><!-- /.card-header -->
								    <div id="colExpOne" class="collapse" role="tabpanel" aria-labelledby="expertOne" data-parent="#accordion3">
								      	<div class="card-body">Once you get confirmation from FellowGenius regarding successful registration as an Expert, complete your profile, as more details will allow the right set of learners to find you. Provide your available schedule and time slots. Accept the meeting requests from learners and conduct sessions.  All payments will be credited within 14 working days of the completion of the sessions.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="expertTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colExpTwo" role="button" aria-expanded="false" aria-controls="colExpTwo">How do I cancel or reschedule my meeting?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpTwo" class="collapse" role="tabpanel" aria-labelledby="expertTwo" data-parent="#accordion3">
								      	<div class="card-body">FellowGenius recommends that experts keep their calendar updated as per the available time slots. In case of any change to an already booked session, the Expert can request the learner to reschedule the session at the next available slot, preferably on the same day. Requests to reschedule should be raised at least 3 hours prior to the scheduled meeting time.  The decision to accept or reject the change is with the Learner, who can choose to reschedule or cancel the meeting.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="expertThree">
								        <a class="collapsed" data-toggle="collapse" href="#colExpThree" role="button" aria-expanded="false" aria-controls="colExpThree">How can I get more meeting requests?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpThree" class="collapse" role="tabpanel" aria-labelledby="expertThree" data-parent="#accordion3">
								      	<div class="card-body">Having a completed profile that mentions all domains and topics of expertise, will help the Learners to find you conveniently.
											Post session reviews by Learners will also form an important search tool for other Learners to find you.  
											</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							</div><!-- /#accordion2 -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
    <app-footer></app-footer>
</body>