<app-nav-bar></app-nav-bar>
<body style="padding-top: 100px;padding-bottom: 20px;">
    <div class="container" >
        <h1 style="margin-bottom: 30px;">Frequently Asked Questions</h1>
        <div class="row" style="margin: 20px;">
            <h2>General</h2>
            <div>
                <p><b>Where can I complete my profile? Can I change/edit profile information once I have submitted it?</b></p>
                <p>We can complete our profile percentage wise by clicking on the completing profile hyperlink and navigating to profile page. We can also view and edit our profile by navigating to profile page by clicking your name (or profile picture) in navigation bar.</p>
                <p><b>How easy is it to book a classroom session?</b></p>
                <p>It is easy to book a class. Simply search for the Expert with the required subject expertise. Then select the Expert you find appropriate and send him/her the request to book a classroom session as per their availability published on platform. Once accepted your session would start as per the mutually agreed timeslot. </p>
                <p><b>How much does it cost to use fellowGenius?</b></p>
                <p>The platform is FREE to join. The cost of the class is based on charges of the instructor. To take a class, you need to pay part of the fee as per the defined charges.</p>
            </div>
            
        </div>
        <div class="row" style="margin: 20px;">
            <h2>Learners FAQ</h2>
            <div>
                <p><b>How to find an expert on Fellow Genius?</b></p>
                <p>To find an expert, Go to “Search bar” and select the subject/specialty and click search. You will immediately view a list of all the matching instructors suitable for your search criteria. </p>
                <p><b>Can I cancel or reschedule my session?</b></p>
                <p>Yes, you can cancel a session anytime you want. Thereafter you can reschedule the session by getting in touch with your expert. </p>
                <p><b>What are the payment methods?</b></p>
                <p>You can pay the fee online through a Debit/Credit card. Other options include UPI, online banking, and Paypal. </p>
                <p><b>Can I view my earlier taken sessions on Platform?</b></p>
                <p>Yes, you can view the previous taken sessions in calendar of the bookings page. You can visit the bookings page using navigation bar</p>
                <p><b>How can I review an expert?</b></p>
                <p>Once the session is completed, you can review the expert as a learner from pending reviews section on dashboard. You can rate the expert by clicking on the stars.</p>
                <p><b>Would I get an reminder on start of the session?</b></p>
                <p>Yes, as a learner you will receive a notification on your registered email whenever the expert initiates the session </p>
               
            </div>
          
        </div>
        <div class="row" style="margin: 20px;">
            <h2>Expert FAQ</h2>
            <div>
                <p><b>How much fellowGenius charge for registration?</b></p>
                <p>There is NO charge to join the fellowGenius teaching program. You register for FREE and immediately start earning once your profile is registered and your availability is set.  </p>
                <p><b>How much time does it take for an expert to get students?</b></p>
                <p>Most of the experts find prospective students within a week after joining our program. </p>
                <p><b>How much can I earn as an instructor? Where do I set my Session fees? </b></p>
                <p>There is simply no marker to ascertain that. What you earn entirely depends on the fee you charge and how many classes you take.  </p>
                <p><b>Is it important to fill all information and give my Linked In Profile link?</b></p>
                <p>While filling the form, all the fields marked with * are mandatory.Filling the complete form might improve your learner booking frequency.</p>
                <p><b>Can I view my earlier taken sessions on Platform?</b></p>
                <p>Yes, you can view the previous taken sessions in calendar of the bookings page. You can visit the bookings page using navigation bar.</p>    
            </div>
      </div>
    </div>
    
</body>
