<body>
<app-nav-bar></app-nav-bar>
    <div class="page-content">
	    <section class="wi_full py_5 faq_banner">
	    	<div class="container">
	    		<div class="row align-items-center">
	    			<div class="col-12 col-lg-6">
	    				<div class="banner_content">
	    					<h1>Frequently Asked Questions</h1>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
	    				</div>
	    			</div>
	    			<div class="col-12 col-lg-6">
	    				<div class="banner_image">
	    					<img src="../../../assets/images/faq-img.svg" alt="#">
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	    <section class="wi_full py_5 pb-0 faqaccrdn_sec">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="accordion_wrapper">
                            <h2>General</h2>
                            <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="generalOne">
								        <a class="collapsed" data-toggle="collapse" href="#colGenOne" role="button" aria-expanded="true" aria-controls="colGenOne">Where can I complete my profile? Can I change/edit profile information once I have submitted it?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenOne" class="collapse" role="tabpanel" aria-labelledby="generalOne" data-parent="#accordion1">
								      	<div class="card-body">We can complete our profile percentage wise by clicking on the completing profile hyperlink and navigating to profile page. We can also view and edit our profile by navigating to profile page by clicking your name (or profile picture) in navigation bar.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="generalTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colGenTwo" role="button" aria-expanded="false" aria-controls="colGenTwo">How easy is it to book a classroom session?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenTwo" class="collapse" role="tabpanel" aria-labelledby="generalTwo" data-parent="#accordion1">
								      	<div class="card-body">It is easy to book a class. Simply search for the Expert with the required subject expertise. Then select the Expert you find appropriate and send him/her the request to book a classroom session as per their availability published on platform. Once accepted your session would start as per the mutually agreed timeslot.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="generalThree">
								        <a class="collapsed" data-toggle="collapse" href="#colGenThree" role="button" aria-expanded="false" aria-controls="colGenThree">How much does it cost to use FellowGenius?</a>
								    </div><!-- /.card-header -->
								    <div id="colGenThree" class="collapse" role="tabpanel" aria-labelledby="generalThree" data-parent="#accordion1">
								      	<div class="card-body">The platform is FREE to join. The cost of the class is based on charges of the instructor. To take a class, you need to pay part of the fee as per the defined charges.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							</div><!-- /#accordion1 -->
                            <h2>Learners</h2>
                            <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerOne">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnOne" role="button" aria-expanded="true" aria-controls="colLrnOne">How to find an expert on Fellow Genius?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnOne" class="collapse" role="tabpanel" aria-labelledby="learnerOne" data-parent="#accordion2">
								      	<div class="card-body">To find an expert, Go to “Search bar” and select the subject/specialty and click search. You will immediately view a list of all the matching instructors suitable for your search criteria.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnTwo" role="button" aria-expanded="false" aria-controls="colLrnTwo">Can I cancel or reschedule my session?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnTwo" class="collapse" role="tabpanel" aria-labelledby="learnerTwo" data-parent="#accordion2">
								      	<div class="card-body">Yes, you can cancel a session anytime you want. Thereafter you can reschedule the session by getting in touch with your expert.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerThree">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnThree" role="button" aria-expanded="false" aria-controls="colLrnThree">What are the payment methods?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnThree" class="collapse" role="tabpanel" aria-labelledby="learnerThree" data-parent="#accordion2">
								      	<div class="card-body">You can pay the fee online through a Debit/Credit card. Other options include UPI, online banking, and Paypal.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerFour">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnFour" role="button" aria-expanded="false" aria-controls="colLrnFour">Can I view my earlier taken sessions on Platform?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnFour" class="collapse" role="tabpanel" aria-labelledby="learnerFour" data-parent="#accordion2">
								      	<div class="card-body">Yes, you can view the previous taken sessions in calendar of the bookings page. You can visit the bookings page using navigation bar</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerFive">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnFive" role="button" aria-expanded="false" aria-controls="colLrnFive">How can I review an expert?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnFive" class="collapse" role="tabpanel" aria-labelledby="learnerFive" data-parent="#accordion2">
								      	<div class="card-body">Once the session is completed, you can review the expert as a learner from pending reviews section on dashboard. You can rate the expert by clicking on the stars.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="learnerSix">
								        <a class="collapsed" data-toggle="collapse" href="#colLrnSix" role="button" aria-expanded="false" aria-controls="colLrnSix">Would I get an reminder on start of the session?</a>
								    </div><!-- /.card-header -->
								    <div id="colLrnSix" class="collapse" role="tabpanel" aria-labelledby="learnerSix" data-parent="#accordion2">
								      	<div class="card-body">Yes, as a learner you will receive a notification on your registered email whenever the expert initiates the session</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							</div><!-- /#accordion2 -->
                            <h2>Expert</h2>
                            <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
								<div class="card">
								    <div class="card-header p-0" role="tab" id="expertOne">
								        <a class="collapsed" data-toggle="collapse" href="#colExpOne" role="button" aria-expanded="true" aria-controls="colExpOne">How much fellowGenius charge for registration?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpOne" class="collapse" role="tabpanel" aria-labelledby="expertOne" data-parent="#accordion3">
								      	<div class="card-body">There is NO charge to join the fellowGenius teaching program. You register for FREE and immediately start earning once your profile is registered and your availability is set. </div><!-- /.card-body -->
								    </div><!-- /.collapse -->
				 				</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="expertTwo">
								        <a class="collapsed" data-toggle="collapse" href="#colExpTwo" role="button" aria-expanded="false" aria-controls="colExpTwo">How much time does it take for an expert to get students?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpTwo" class="collapse" role="tabpanel" aria-labelledby="expertTwo" data-parent="#accordion3">
								      	<div class="card-body">Most of the experts find prospective students within a week after joining our program. </div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="expertThree">
								        <a class="collapsed" data-toggle="collapse" href="#colExpThree" role="button" aria-expanded="false" aria-controls="colExpThree">How much can I earn as an instructor? Where do I set my Session fees?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpThree" class="collapse" role="tabpanel" aria-labelledby="expertThree" data-parent="#accordion3">
								      	<div class="card-body">There is simply no marker to ascertain that. What you earn entirely depends on the fee you charge and how many classes you take.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							  	<div class="card">
								    <div class="card-header p-0" role="tab" id="expertFour">
								        <a class="collapsed" data-toggle="collapse" href="#colExpFour" role="button" aria-expanded="false" aria-controls="colExpFour">Is it important to fill all information and give my Linked In Profile link?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpFour" class="collapse" role="tabpanel" aria-labelledby="expertFour" data-parent="#accordion3">
								      	<div class="card-body">While filling the form, all the fields marked with * are mandatory.Filling the complete form might improve your learner booking frequency.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
								<div class="card">
								    <div class="card-header p-0" role="tab" id="expertFive">
								        <a class="collapsed" data-toggle="collapse" href="#colExpFive" role="button" aria-expanded="false" aria-controls="colExpFive">Can I view my earlier taken sessions on Platform?</a>
								    </div><!-- /.card-header -->
								    <div id="colExpFive" class="collapse" role="tabpanel" aria-labelledby="expertFive" data-parent="#accordion3">
								      	<div class="card-body">Yes, you can view the previous taken sessions in calendar of the bookings page. You can visit the bookings page using navigation bar.</div><!-- /.card-body -->
								    </div><!-- /.collapse -->
							  	</div><!-- /.card -->
							</div><!-- /#accordion2 -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
    <app-footer></app-footer>
</body>