<body>
  <app-nav-bar></app-nav-bar>
<div class="page-content">
  <section class="wi_full py_5 about_banner" style="padding-bottom: 1em;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="banner_content">
            <h1>About Fellow Genius</h1>
            <img src="../../../assets/images/About-us-img.svg" alt="#" class="about_icon">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wi_full py_5 demand_sec" style="padding-top: 0;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="sec_content text-center">
                    <h2>On Demand Consulting</h2>
                    <p>Each one of us solves different problems in our work life every day. But sometimes we need support to find the right solutions, to brainstorm with others who have handled similar challenges before - someone who is an expert.</p>
                    <p>FellowGenius is an on-demand consulting platform for working professionals designed to meet their requirements for business expertise across functions in the conduct of their work.</p>
                    <p>With a vision to “uber”-ize the availability of industry expertise, we bring together experts from across domains, so you can access cross functional expertise all  in one place.</p>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- <section class="wi_full vision_sec" style="margin-bottom: 30px;">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="content_box">
                      <h2>Our Vision</h2>
                      <div class="tag_line">Democratize the availability of industry expertise and technical know-how through an integrated platform catering to the enterprise value chain end-to-end.
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="wi_full vision_sec" style="margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content_box">
                    <h2>Our Mission</h2>
                    <div class="tag_line">Help professionals with best-in-class consulting support for their queries, enabling them to achieve workplace efficiency and optimization.</div>
                    
                </div>
            </div>
        </div>
    </div>
</section> -->
</div>
<app-footer></app-footer>
</body>
