<app-nav-bar></app-nav-bar>
<body style="padding-top: 100px; padding-bottom: 20px">
  <div class="container">
    <h1 style="margin-bottom: 30px; text-align: center">About Fellow Genius</h1>
    <div class="row" style="margin: 20px">
      <h2>Learning On-demand!</h2>
      <div>
        <p>
          In an age of emerging technologies, access to the internet and devices
          is easy today. This connectivity opens a superhighway of information
          for people to learn and progress from anywhere. fellowGenius offers an
          easy to use online hub for anyone who wants to learn or teach
          something. Founded in 2020, fellowGenius is a New Delhi (India) based
          company that promotes the peer-to-peer learning platform. It is a
          convenient and simple technology for students, young professionals, or
          anyone who wants to find an instructor instantly. That’s why we are
          home to more than 4500 learners and 1000+ instructors and have already
          rolled-out almost 12000 sessions successfully.
        </p>
      </div>
    </div>
    <div class="row" style="margin: 20px">
      <h2>Our Vision</h2>
      <div>
        <p style="font-family: 'Lobster'; text-align: center; font-size: large">
          “Facilitate a world-class knowledge experience for everyone regardless
          of their geographic location.”
        </p>
        <p>
          We help people access the best instructors and help instructors find
          students through our groundbreaking online learning technology. Our
          vision is to provide people with tools to help transfer knowledge in a
          transparent manner.
        </p>
      </div>
    </div>
  </div>
</body>
