<body>
  <app-nav-bar></app-nav-bar>
<div class="page-content">
  <section class="wi_full py_5 about_banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="banner_content">
            <h1>About Fellow Genius</h1>
            <img src="../../../assets/images/About-us-img.svg" alt="#" class="about_icon">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wi_full vision_sec">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="content_box">
                      <h2>Our Vision</h2>
                      <div class="tag_line">Facilitate a world-class knowledge experience for everyone regardless of their geographic location.</div>
                      <p>We help people access the best instructors and help instructors find students through our groundbreaking online learning technology. Our vision is to provide people with tools to help transfer knowledge in a transparent manner.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="wi_full py_5 demand_sec">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-10 mx-auto">
                  <div class="sec_content text-center">
                      <h2>Learning On-demand!</h2>
                      <p>In an age of emerging technologies, access to the internet and devices is easy today. This connectivity opens a superhighway of information for people to learn and progress from anywhere. fellowGenius offers an easy to use online hub for anyone who wants to learn or teach something. Founded in 2020, fellowGenius is a New Delhi (India) based company that promotes the peer-to-peer learning platform. It is a convenient and simple technology for students, young professionals, or anyone who wants to find an instructor instantly. That’s why we are home to more than 4500 learners and 1000+ instructors and have already rolled-out almost 12000 sessions successfully.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<app-footer></app-footer>
</body>
