<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>FG Order Invoice</title>

	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div >
        <div class="row">
        <table>
        	<tr>
        	<td style="width: 15%; vertical-align: top">
        	<img src="images/fg-logo.png"  />
        	</td>
        	<td style="width: 60%; vertical-align: top">
        	<h5 style="margin: 0px"><b>	NAVIBBY TECH SOLUTIONS AND SERVICES PRIVATE LIMITED</b></h5>
                Flat No.11 Dharam Kunj Apartment <br/>
Sector 9 Rohini <br/>
Delhi Delhi 110085 <br/>
India <br/>
GSTIN 07AAGCN9973N1ZI <br/>
CIN U74999DL2020PTC365351
 
        	</td>
        	<td style="width: 25%; vertical-align: top">
        		<h4 style="margin: 0px">TAX INVOICE </h4>
        	</td>
        	</tr>
        	
        </table>
            
        </div>
        <hr />
        <div class="row">
        	<table class="no-border">
        	<tr>
        	<td style="width: 40%"> 
                <table>
                    <tr>
                        <td style="padding-right: 100px;">#</td>
                        <td><b>:FG/2021/004</b></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px;">Invoice Date</td>
                        <td th:text="${bookingInvoice.dateOfMeeting}"></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px;">Terms</td>
                        <td th:text="${bookingInvoice.dateOfMeeting}"></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px;">Due Date</td>
                        <td th:text="${bookingInvoice.dateOfMeeting}"></td>
                    </tr>
                </table>
              </td>
              <td style="width: 20%">
              </td>
            <td class="text-top-right" style="width: 40%; text-align: right">
            
                <table>
                    <tr>
                        <td style="padding-right: 50px;">Place of Supply</td>
                        <td><b>:Delhi(07)</b></td>
                    </tr>
                </table>
           </td>
           </tr>
           </table>
        </div>
        <hr />
        <div class="row" >
            <div class="col-12">
                <p><b>Bill To: </b> <span th:text="${bookingInvoice.learnerName}"></span></p>
                <hr/>
                
                <p><b>Subject: </b> <span th:text="${bookingInvoice.subject}"></span></p>
               
                <hr/>
                <table class="table-bill">
                    <tr>
                        <th rowspan="2" class="th-grey th-bill">Item Description</th>
                        <th rowspan="2" class="th-grey th-bill">HSN/SAC</th>
                        <th rowspan="2" class="th-grey th-bill">Rate</th>
                        <th colspan="2" class="th-grey th-bill">Commission</th>
                        <th colspan="2" class="th-grey th-bill">GST</th>
                        <th rowspan="2" class="th-grey th-bill">Amount</th>
                    </tr>
                    <tr>
                        <th class="th-grey th-bill">%</th>
                        <th class="th-grey th-bill">Amt</th>
                        <th class="th-grey th-bill">%</th>
                        <th	class="th-grey th-bill">Amt</th>
                    </tr>
                    <tr>
                        <td class="td-bill"> <span th:text="${bookingInvoice.subject}"></span> with <span th:text="${bookingInvoice.expertName}"></span> </td>
                        <td  class="td-bill">999294</td>
                        <td  class="td-bill"><span th:text="${bookingInvoice.totalAmount}"></span></td>
                        <td  class="td-bill">12.5%</td>
                        <td  class="td-bill"><span th:text="${bookingInvoice.platformFees}"></span></td>
                        <td  class="td-bill">18%</td>
                        <td  class="td-bill"><span th:text="${bookingInvoice.GSTFees}"></span></td>
                        <td  class="td-bill"><span th:text="${bookingInvoice.actualAmount}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
           <table>
           		<tr>
           			<td>
           				<p>Total In Words</p>
                <p><b>Indian Rupee Two Thousand Five Hundred Sixty Only</b></p>
                <br/>
                
                Thanks for your business. For any query contact us at <br/>
                support@fellowgenius.com or +91-9899197950
           			</td>
           			<td>
           			<table class="table-payment">
                    <tr>
                        <td style="padding-right: 150px;">Sub Total</td>
                        <td><b><span th:text="${bookingInvoice.actualAmount}"></span></b></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 150px;">Commission (12.5%)</td>
                        <td><b><span th:text="${bookingInvoice.platformFees}"></span></b></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 150px;">GST (18%)</td>
                        <td><b><span th:text="${bookingInvoice.GSTFees}"></span></b></td>
                    </tr>
                    <tr>
                        <td style="padding-right: 150px;">Total</td>
                        <td><b><span th:text="${bookingInvoice.totalAmount}"></span></b></td>
                    </tr>
                </table>	
           			</td>
           		</tr>
           </table>
                
            
            
            
        </div>
        
        
    </div>


</body>
</html>