.navbar-brand {
	color: #241084;
	font-size: 38px;
	font-weight: 500;
	margin-left: 10px;
	border-radius: 5px;
	font-family: custom;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #f9fafc;
}

.box {
	width: 400px;
	height: max-content;
	background-color: white;
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
	padding: 2vw;
}

.signupBox {
	width: 500px;
	height: max-content;
	background-color: white;
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
	padding: 3vw;
}

.outerBox {
	width: max-content;
	margin: auto;
	text-align: center;
}

.marginZero {
	margin: 0;
}

.registrationButtons {
	padding: 20px;
	margin-bottom: 10px;
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
	border: none;
}

.registrationButtons:hover {
	box-shadow: 0px 0px 4px rgb(36, 16, 132, 0.7);
}

.form-group {
	position: relative;
}

label {
	color: #545174;
	font-weight: 400;
	text-align: left;
	font-size: 1rem;
	line-height: 1.25rem;
	margin-bottom: 4px;
}

.full-width {
	width: 100%;
}

.form-group {
	margin-bottom: 10px;
}

.continueButton {
	width: 100%;
	padding: 12px;
	margin-top: 5px;
}

.paddingZero {
	padding: 0;
}

.form-group {
	position: relative;
	margin-bottom: 1.4rem;
	/* width: 25vw; */
}

.form-control-placeholder {
	position: absolute;
	top: 5px;
	left: 11px;
	padding-left: 5px;
	padding-right: 5px;
	transition: all 500ms;
	opacity: 1;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
	font-size: 90%;
	transform: translate3d(0, -75%, 0);
}

label {
	background-color: white;
	margin: 0;
}

.form-control {
	padding-left: 15px;
}

.showPassword {
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 7px;
}

input.ng-invalid.ng-touched {
	border-left-color: red;
	border-left-width: 3px;
}

input.ng-valid {
	border-left-color: green;
	border-left-width: 3px;
}

label {
	color: rgb(129, 124, 124);
}

.input-append .btn.dropdown-toggle {
	float: none;
}

.help-block {
	color: red;
	font-size: 12px;
}

.form-control:focus {
	border-color: #8093eb;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(131, 137, 221, 0.5);
}
.social-buttons {
	width: 100%;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
}
.inner-box {
	padding: 20px;
	margin-top: 10px;
}
.social-icons {
	margin-right: 10px;
	font-size: larger;
}
.continueWithEmail {
	font-size: large;
	color: #241084;
	cursor: pointer;
}
.continueWithEmail:hover {
	text-decoration: underline;
	color: #241084;
}
.hideBlock {
	display: none;
}
.termsLink {
	color: #007bff;
	cursor: pointer;
}
.termsLink:hover {
	text-decoration: underline;
	color: #007bff;
}
