<div class="row marginZero" [class]="hideSocialLogin">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div
      class="row marginZero"
      style="
        text-align: center;
        width: max-content;
        margin: auto;
        padding-top: 8vh;
      "
    >
      <div class="navbar-brand" style="margin-bottom: 15px;">
        fellowGenius
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="incorrectLoginDetails">
      <p style="text-align: center;">User Already registered ! go to Login</p>
    </div>
    <div class="row">
      <div class="signupBox" style="margin: auto;">
        <div class="row marginZero" style="font-size: 25px;">
          <a (click)="toHomePage()" style="cursor: pointer;"
            ><i
              class="fas fa-arrow-left"
              style="color: #8f98a4; font-size: large; margin-right: 20px;"
            ></i
          ></a>
          <span
            style="
              color: #545174;
              width: max-content;
              margin: auto;
              font-weight: 400;
            "
            >Tutor Sign Up</span
          >
          <button
            type="button"
            class="btn btn-outline-success"
            style="font-size: small;"
            (click)="toHomePage()"
          >
            Home
          </button>
        </div>
        <div class="inner-box">
          <p style="margin-bottom: 15px;">By clicking on sign in I agree to <a role="button" class="termsLink" (click)="openTermsAndConditions()">Terms and Conditions, Privacy Policy</a></p> 
          <button class="btn btn-primary social-buttons" style="background-color: #c63d2d; border-color: #c63d2d;"(click)="prepareLoginButton()" #googleSignUp><i class="fa fa-google social-icons"></i>Sign Up using Google</button>
          <!-- <button class="btn btn-primary social-buttons" style="background-color: #385998; border-color: #385998;" (click)="signIn()"><i class="fa fa-facebook social-icons"></i>Sign Up using Facebook</button> -->
          <!-- <button class="btn btn-primary social-buttons" style="background-color: #4875b4; border-color: #4875b4;"><i class="fa fa-linkedin social-icons"></i>Sign Up using LinkedIn</button> -->
          <div style="text-align: center;">
            <a class="continueWithEmail" (click)="continueWithEmail()"
              >Or Continue with Email</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<!-- ------------------------------------------------ continueWithEmail ------------------------------------------------ -->

<div class="row marginZero" *ngIf="hideSocialLogin == 'hideBlock'">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div
      class="row marginZero"
      style="
        text-align: center;
        width: max-content;
        margin: auto;
        padding-top: 8vh;
      "
    >
      <div class="navbar-brand" style="margin-bottom: 15px; width: 100%;">
        fellowGenius
      </div>
      <div
        *ngIf="isLoading"
        style="
          text-align: center;
          margin-top: 50%;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <app-loading></app-loading>
      </div>
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="signupBox" style="margin: auto;">
        <div class="row marginZero" style="font-size: 25px;">
          <a (click)="backToSocialLogin()" style="cursor: pointer;"
            ><i
              class="fas fa-arrow-left"
              style="color: #8f98a4; font-size: large; margin-right: 20px;"
            ></i
          ></a>
          <span
            style="
              color: #545174;
              width: max-content;
              margin: auto;
              font-weight: 400;
            "
            >Tutor Sign Up</span
          >
          <button
            type="button"
            class="btn btn-outline-success"
            style="font-size: small;"
            (click)="toHomePage()"
          >
            Home
          </button>
        </div>

        <div
          class="row"
          *ngIf="!isLoading"
          style="padding: 20px; margin-top: 5px;"
        >
          <form style="width: 100%;" (ngSubmit)="onSignUpTutor(t)" #t="ngForm">
            <div class="form-group" *ngIf="showInput">
              <input
                type="text"
                id="fullName"
                name="fullName"
                ngModel
                class="form-control"
                required
                #fullName="ngModel"
              />
              <label class="form-control-placeholder" for="fullName"
                >Full Name</label
              >
              <span
                class="help-block"
                *ngIf="!fullName.valid && fullName.touched"
                >Invalid Name</span
              >
            </div>
            <div class="form-group" *ngIf="showInput">
              <input
                type="email"
                id="email"
                name="email"
                ngModel
                class="form-control"
                required
                email
                pattern="[a-zA-Z0-9_.+-]{1,20}@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail|piet|yahoo|hotmail|rediffmail|apple|microsoft)\.([a-z]{2,4})(\.[a-z]{2,4})?$"
                #email="ngModel"
              />
              <label class="form-control-placeholder" for="email"
                >Email Address</label
              >
              <span
                class="help-block"
                *ngIf="(!email.valid && email.touched) || !emailValid"
                >Invalid email</span
              >
            </div>

            <div class="form-group" *ngIf="showInput">
              <input
                id="contact"
                class="form-control"
                ngModel
                name="contact"
                [pattern]="mobNumberPattern"
                required
                #contact="ngModel"
              />
              <label class="form-control-placeholder" for="contact"
                >Mobile Number</label
              >
              <span *ngIf="!contact.valid && contact.touched" class="help-block"
                >Invalid contact</span
              >
            </div>

            <div class="form-group" *ngIf="showInput">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                ngModel
                [type]="hide ? 'password' : 'text'"
                required
                [pattern]="passwordPattern"
                minlength="8"
                maxlength="20"
                #password="ngModel"
              />
              <label class="form-control-placeholder" for="password"
                >Password</label
              >
              <div class="showPassword">
                <i
                  class="material-icons cursor"
                  style="color: #ccc;"
                  (click)="hide = !hide"
                >
                  {{ hide ? "visibility_off" : "visibility" }}
                </i>
              </div>
              <span
                *ngIf="!password.valid && password.touched"
                class="help-block"
                >password field must be minimum of 8 characters with atleast one
                special character</span
              >
            </div>
            <div class="form-group"  *ngIf="showInput" style="margin-bottom: 5px;">
              <input type="checkbox" name="termsAndConditions" [value]="termsAndConditionsChecked" id="agree" ngModel required/> I have read and agree to <a role="button" class="termsLink" (click)="openTermsAndConditions()">Terms and Conditions, Privacy Policy</a>
            </div>
            <p *ngIf="verifyEmail" style="color: rgba(0, 0, 0, 0.5);">
              Your Verification Code has been sent to your Email, Please verify
              your account by signing in to your email.
            </p>
            <div class="form-group" *ngIf="verifyEmail">
              <input
                type="text"
                id="otp"
                name="otp"
                ngModel
                class="form-control"
                required
                #otp="ngModel"
              />
              <label class="form-control-placeholder" for="otp"
                >One Time Password</label
              >
              <span *ngIf="wrongOtp" class="help-block">Invalid OTP</span>
            </div>
            <button
              type="submit"
              class="btn btn-outline-primary continueButton"
              [disabled]="!t.valid"
            >
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
