<body>
    <div class="chat__page" style="height: 100vh;position: relative;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="chat__video">
                        <div class="chat__header">
                            <div class="logo_img"><img src="../../assets/images/fellow genius logo.svg" alt="logo"></div>
                            <div class="chat__name"><span><h5>Marketing Meeting</h5><small>NPD</small></span>
                                <!-- <span style="float: right;margin-right: 20px;"><h4>00:00</h4></span> -->
                            </div>
                        </div>
                        <!-- if both are present -->
                        <!-- <div class="chat__thumb">
                            <div class="remote-window remote-joined">
                                <div class="remote-name">Expert</div>
                                <span class="material-icons blurred-icons remote-user-icon"> person </span>
                            </div>
                            <div class="local-window remote-joined"><div class="local-name">You</div><span class="material-icons blurred-icons local-user-icon"> person </span></div>
                        </div> -->
                        <!-- if one is present -->
                        <!-- <div class="chat__thumb">
                            <div class="remote-window no-remote">
                                <div class="remote-name">Expert</div>
                                <span class="material-icons blurred-icons remote-user-icon"> person </span>
                            </div>
                            <div class="no-remote local-window"><div class="local-name">You</div><span class="material-icons blurred-icons local-user-icon"> person </span></div>
                        </div> -->
                        <!-- if screen is shared -->
                        <div id="meeting-body" class="chat__thumb screen-shared no-remote">
                            <div class="screen-share-window"></div>
                            <div class="remote-window">
                                <div class="remote-name">Expert</div>
                                <span class="material-icons blurred-icons remote-user-icon"> person </span>
                            </div>
                            <div class=" local-window"><div class="local-name">You</div><span class="material-icons blurred-icons local-user-icon"> person </span></div>
                        </div>


                        <div class="chat__buttons" style="height: 15%;">
                            <ul>
                                <li><button  class="nav-button">
                                    <span class=""><img src="../../assets/images/cam.svg" alt="#"></span>
                                    
                                </button><span>Cam</span></li>
                                <li><button class="nav-button">
                                    <span><img src="../../assets/images/mic.svg" alt="#"></span>
                                </button><span>Mic</span></li>
                                <li><button class="nav-button">
                                    <span ><img src="../../assets/images/share.svg" alt="#"></span>
                                </button><span>Share</span></li>

                                <li><button class="nav-button">
                                    <span ><img src="../../assets/images/chat.svg" alt="#"></span>
                                </button><span>Chat</span></li>
                                <li><button class="nav-button leave-button">
                                    <span><img src="../../assets/images/leave-chat.svg" alt="#"></span>
                                </button><span>Leave</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
</body>
    