<div class="container row">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label class="">Full Name*</label>
      <input
        type="text"
        id="fullName"
        name="fullName"
        ngModel
        class="form-control"
        required
        #fullName="ngModel"
        maxlength="50"
        placeholder="Full Name"
      />
      <span
        class="help-block"
        *ngIf="!fullName.valid && fullName.touched"
        >Invalid Name</span
      >
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label class="">Date of Birth*</label>
      <input
        type="date"
        id="dob"
        name="dob"
        ngModel
        class="form-control"
        dobValidator
        required
        #dob="ngModel"
      />
      <span
        *ngIf="dob.errors?.invalidDob && dob.touched"
        class="help-block"
        >Invalid date of birth</span
      >
      <!-- <input
        matInput
        [matDatepicker]="picker"
         type="date"
        id="dob"
        name="dob"
        ngModel
        class="form-control"
        dobValidator
        required
        #dob="ngModel"
      /> -->
      <!-- <mat-datepicker-toggle
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
    </div>
  </div>

</div>