<div class="container row">
  <form (ngSubmit)="onSubmit(basicProfile)"
      #basicProfile="ngForm">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label class="">Completion Date*</label>
      <!-- <input
        type="date"
        class="form-control"
        name="completionDate"
        [(ngModel)]="inputCompletionDate"
        placeholder="Enter Completion Date"
        #completionDate="ngModel"
      /> -->
      <!-- <input type="text" name="completionDate" [(ngModel)]="inputCompletionDate" class="datepicker form-control" placeholder="Enter completion date" #completionDate="ngModel"> -->
      
      <mat-form-field appDateFormatMMYYYY
        appearance="fill"
        style="width: inherit"
      >
        <mat-label>Month and Year</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="dp"
          [formControl]="inputCompletionDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dp"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>

      
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
       <label class="">Date of Birth (DD/MM/YY)* </label>
       <mat-form-field
        appearance="fill"
        style="width: inherit"
      >
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="dobdp"
          id="dob"
          name="dob"
          ngModel
          #dob="ngModel"
          dobValidator
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dobdp"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #dobdp
          
        >
        </mat-datepicker>
      </mat-form-field>
      <span
                            *ngIf="dob.errors?.invalidDob && dob.touched"
                            class="help-block"
                            >Invalid date of birth</span
                          >
    <!--  <input
        type="date"
        id="dob"
        name="dob"
        ngModel
        class="form-control"
        dobValidator
        required
        #dob="ngModel"
      /> -->
            <!-- <input
        matInput
        [matDatepicker]="picker"
         type="date"
        id="dob"
        name="dob"
        ngModel
        class="form-control"
        dobValidator
        required
        #dob="ngModel"
      /> -->
      <!-- <mat-datepicker-toggle
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
    </div>
  </div>

  <button class="btn btn-primary" type="submit" >Submit</button>

</form>
</div>