body {
    /* background-color: rgb(143, 142, 138); */
    background-color: #f9fafc;
    height: auto;
}

.tutorWrapper {
    background-color: white;
    width: 80vw;
    height: 25vh;
    margin: auto;
    /* border-radius: 5px; */
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
}

.marginZero {
    margin: 0;
}

.paddingZero {
    padding: 0;
}

.tutorSkillTags {
    display: inline;
    font-size: smaller;
    background-color: rgb(183, 208, 231);
    width: fit-content;
    padding: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0%;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 1.5vh;
}

.searchField {
    background-color: white;
    color: rgb(47, 46, 46);
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px rgb(199, 203, 217, 0.7);
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    height: 11vh;
    border-radius: 7px;
    font-size: smaller;
}

td {
    padding-right: 1vw;
}

.centerTable {
    padding-top: 0vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
}

.image {
    width: 50vw;
    height: 21vh;
}

img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

input {
    padding: 5px;
}

input[type="text"] {
    resize: vertical;
}

p {
    margin: 0;
}

.font19 {
    font-size: 19px;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}

.lessonCompleted {
    margin-top: 1px;
    background-color: teal;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    border-radius: 4px;
}