.card {
    border: 1.5px solid #e5e5e5;
    padding: 10px;
    width: 100%;
}

.tutorPic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.paddingZero {
    padding: 0;
}

.marginZero {
    margin: 0;
}