/* input {
	padding: 7px;
	margin-right: 10px;
	border-radius: 10px;
}
form {
	margin-top: 30px;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: lightblue;
	padding: 50px;
} */
body {
	height: 100%;
}

.navbar-brand {
	margin-left: 3vw;
	margin-right: 22vw;
	color: aqua;
}

.marginZero {
	margin: 0;
}

.paddingZero {
	padding: 0;
}

.image {
	width: 50vw;
	height: 17vh;
}

img {
	border-radius: 0;
	width: 100%;
	height: 100%;
}

input[type="text"] {
	resize: vertical;
}

p {
	margin: 0;
}
a {
	margin-right: 1vw;
	padding: 7px;
}
.userButton {
	padding: 5px;
	background: none;
	outline: none;
	border: none;
	color: #ccc;
}
.userButton:hover {
	border: 1px solid #ccc;
	border-radius: 4px;
}
